agente-atendimento-jsO2ngcB5C2HkUPt.json
{"createdAt":"2025-02-26T23:07:59.409Z","updatedAt":"2025-03-15T18:41:32.000Z","id":"jsO2ngcB5C2HkUPt","name":"AGENTE ATENDIMENTO","active":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{}},"id":"216e4fcb-a0ae-4091-89e4-3b4c56ef0433","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-280,1860],"credentials":{"openAiApi":{"id":"V3SIs1GbnDJ4HJfO","name":"OpenAi"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').first().json.file_id }}"}]}}},"id":"21db1ea8-023d-4881-a6d8-fe92a3fb5631","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-3180,2240]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"6b353830-d9ea-4bfc-a70b-fe90d1657e36","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-3320,2240],"credentials":{"openAiApi":{"id":"V3SIs1GbnDJ4HJfO","name":"OpenAi"}}},{"parameters":{"content":"## Busca Info no RAG","height":80,"width":250,"color":5},"id":"e3c313bb-4619-468a-bdfb-fd954586aee3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-620,2020]},{"parameters":{"content":"# Ferramenta para Adicionar um Arquivo do Google Drive ao Banco de Dados Vetorial.","height":80,"width":1493,"color":5},"id":"dd8b1ea7-aa57-450d-9efd-8fc823d154f2","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5040,1740]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"d367943c-1ff1-4970-b6bf-59b931d34c1d","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-4080,2020],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"XeYmsT7omHGioE1V","name":"Google Drive IAHOJE"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":12}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1GQ1Bdqx4SQmxYW5WJTE5s2joTh9ZDx92","mode":"list","cachedResultName":"Atendimento_IA","cachedResultUrl":"https://drive.google.com/drive/folders/1GQ1Bdqx4SQmxYW5WJTE5s2joTh9ZDx92"},"event":"fileCreated","options":{}},"id":"be551ff4-fc67-47f3-871e-d5a9d0a77b9f","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-4980,1960],"credentials":{"googleDriveOAuth2Api":{"id":"XeYmsT7omHGioE1V","name":"Google Drive IAHOJE"}},"disabled":true},{"parameters":{"pollTimes":{"item":[{"hour":9}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1GQ1Bdqx4SQmxYW5WJTE5s2joTh9ZDx92","mode":"list","cachedResultName":"Atendimento_IA","cachedResultUrl":"https://drive.google.com/drive/folders/1GQ1Bdqx4SQmxYW5WJTE5s2joTh9ZDx92"},"event":"fileUpdated","options":{}},"id":"4966bf45-c6cb-4dd0-9559-f2ca0ca9b700","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-4980,2160],"credentials":{"googleDriveOAuth2Api":{"id":"XeYmsT7omHGioE1V","name":"Google Drive IAHOJE"}},"disabled":true},{"parameters":{"operation":"text","options":{}},"id":"2a922853-cdbd-40e3-8f8b-d8d435c346b0","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3660,2220],"alwaysOutputData":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"7cf3433e-587d-405d-a622-05dc86f83a0d","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-560,1980],"credentials":{"openAiApi":{"id":"V3SIs1GbnDJ4HJfO","name":"OpenAi"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"c774ed34-0d67-44b7-a537-83810f357b7c","name":"originalFilename","value":"={{ $json.originalFilename }}","type":"string"},{"id":"dff39c85-b4a2-45ba-a5ff-f4b311999efc","name":"sha1Checksum","value":"={{ $json.sha1Checksum }}","type":"string"}]},"options":{}},"id":"8c9b604a-3e3e-4ec4-a1ea-bd89c1fcf414","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4800,2000]},{"parameters":{"content":"# Agente IA","height":80,"width":276,"color":5},"id":"cc73c491-d82c-40d2-afe8-b57e3f5e548d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-820,1100]},{"parameters":{"operation":"pdf","options":{}},"id":"c770134b-c487-4d46-a8fd-e64d0efd4493","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3660,1840]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"175ca4cf-ec10-4fbd-804b-b3c53a867a02","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3520,2020]},{"parameters":{},"id":"ef2872d0-288f-49a0-8b61-9ab71db2d994","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[-3160,2380]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"200934d5-8413-4bb6-9035-c45a24972eb3","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-3380,2020]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":2}},"id":"4018ea8e-4972-401d-868e-80c3558d3118","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-3900,2020]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"8690c4a4-8a29-41f3-8594-7ecb72a5784e","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-3200,2020],"credentials":{"supabaseApi":{"id":"GUk7BmZvNWWeDvs2","name":"Supabase"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"bba3f0f6-347a-411a-9c9e-f85898d7d3a1","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-580,1860],"credentials":{"supabaseApi":{"id":"GUk7BmZvNWWeDvs2","name":"Supabase"}}},{"parameters":{"operation":"xlsx","options":{}},"id":"a2fa23cf-da06-4a17-a866-4505e9cc6ffd","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3660,2020]},{"parameters":{"content":"","height":620,"width":820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-840,1080],"typeVersion":1,"id":"aba063ad-36e6-48bc-90e4-d8bced6f6ab6","name":"Sticky Note4"},{"parameters":{"content":"","height":400,"width":480,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-840,1720],"typeVersion":1,"id":"6e92176b-9a52-47c6-9087-e5aa9e6faeb6","name":"Sticky Note5"},{"parameters":{"content":"","height":800,"width":2180,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-5060,1720],"typeVersion":1,"id":"ed496fd2-7984-4981-a859-c22f037e144d","name":"Sticky Note6"},{"parameters":{"content":"## Arquivos criados em uma pasta específica > Verificar o tipo de arquivo e realizar conversão > Extrair o texto > Adicionar ao Vector Store","height":80,"width":1600,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-5040,2420],"typeVersion":1,"id":"efab15c3-1d50-4256-a3a3-bace160ebcbd","name":"Sticky Note12"},{"parameters":{"content":"## Gatilho de Monitoramento","height":480,"width":213,"color":5},"id":"065bd86b-0835-4aa9-845e-919e865938c3","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5020,1860]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $('Variáveis').item.json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3460,1440],"id":"4c6e212e-09af-45aa-b51c-647a9ee6095f","name":"If1"},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-3240,1540],"id":"9ceb9e92-6a27-4271-a674-40010935f77a","name":"Gerar sessionID"},{"parameters":{"tableId":"dados_cliente","fieldsUi":{"fieldValues":[{"fieldId":"sessionID","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3080,1540],"id":"56a164e9-49aa-4db6-bcfd-87a081ed14cd","name":"Supabase1","credentials":{"supabaseApi":{"id":"GUk7BmZvNWWeDvs2","name":"Supabase"}}},{"parameters":{"options":{}},"id":"e31ccf0f-d0dd-4ea2-b584-0051c019b0c6","name":"OpenAI3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[380,840],"credentials":{"openAiApi":{"id":"V3SIs1GbnDJ4HJfO","name":"OpenAi"}}},{"parameters":{"options":{}},"id":"aefc9f01-275e-44ec-82a3-c83fbfd098de","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[860,680]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"},"id":"41066a5e-f351-4957-b056-47d0b497d274","name":"OutputParser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[560,840]},{"parameters":{"promptType":"define","text":"=Whatsapp message to be splitted and formated: {{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Por favor, gere a saída no seguinte formato JSON:\n{\n  \"messages\": [\n    \"splitedMessage\",\n    \"splitedMessage\",\n    \"splitedMessage\"\n  ]\n}\n\nAs mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano, não é mesmo?\n\nCertifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\n\n### Jamais separe uma mensagem vazia.\n\n### Certifique-se de que a resposta siga exatamente essa estrutura abaixo, deixando somente entre '*' para negrito e nunca fugindo das demais regras de markdown do whatsapp:\n\t\t\t- *negrito* (substitua '**' por '*')\n\t\t\t- ~tachado~ (caso seja algo que foi excluído ou alterado)\n\t\t\t- _itálico_.(extremamente raro)\n            - `link` (usar sempre em todos os links)\n\nTudo o que for link, pode colocar entre \"`\", ou seja, na seguinte formatação: `www.link.com.br`\n"}]}},"id":"67b36ceb-3041-419e-8160-d59e787a8853","name":"Parser  Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[400,680]},{"parameters":{"content":"","height":620,"width":1100,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1960,1080],"typeVersion":1,"id":"be3458f2-fb2f-4e9f-86c5-6ef15741ab4c","name":"Sticky Note17"},{"parameters":{"content":"","height":560,"width":1180,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,400],"typeVersion":1,"id":"a1431fe5-4042-498a-a7f1-f4a410f1b343","name":"Sticky Note18"},{"parameters":{"content":"# Divisão de Mensagens Inteligente - Texto","height":80,"width":736,"color":5},"id":"36cf1dc3-c446-47f3-a3d6-aa0f16b8104f","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,420]},{"parameters":{"content":"","height":620,"width":880,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2860,1080],"typeVersion":1,"id":"f9418d14-e125-4e2f-a98d-c995c8cea700","name":"Sticky Note20"},{"parameters":{"content":"","height":440,"width":740,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-3640,1260],"typeVersion":1,"id":"056810f4-8de1-4ff8-b3ce-1a600902a141","name":"Sticky Note22"},{"parameters":{"content":"# Gera/Consulta sessionId","height":80,"width":596,"color":5},"id":"3d9ce80f-7a1d-4627-9878-13e57ef8fc15","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3600,1280]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"0985904e-7d4e-4fba-ae26-2c44200855e1","leftValue":"={{ $('Webhook EVO').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Webhook EVO').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('Webhook EVO').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook EVO').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"id":"f09231da-c9c6-4b0c-ae29-a7591dae0dc2","name":"Switch3","type":"n8n-nodes-base.switch","typeVersion":3,"position":[40,1140]},{"parameters":{"content":"","height":440,"width":780,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-4800,1260],"typeVersion":1,"id":"8cf41ae9-7f47-4383-9fe7-dd422d5d5bb2","name":"Sticky Note26"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-580,1480],"id":"a932517b-62a2-47d4-80cf-5ea8a6590f2c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"V3SIs1GbnDJ4HJfO","name":"OpenAi"}}},{"parameters":{"jsCode":"// Obtém os valores dos nós anteriores corretamente\nconst sessionid1 = $input.item.json.sessionID;  // Corrigido para respeitar a capitalização\nconst sessionid2 = $input.item.json.data;  // Somente se realmente existir\n\n// Retorna o primeiro valor válido, chamando sempre de \"sessionId\"\nreturn [{ sessionId: sessionid1 || sessionid2 || null }];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2820,1400],"id":"5c854c47-f0a4-4a06-b7fa-a269e4d87be2","name":"Code1","alwaysOutputData":false},{"parameters":{"promptType":"define","text":"={{ $json.mensagem_completa }}","options":{"systemMessage":"={\n  \"DataAtual\": \"{{ $now.weekdayLong }},{{ $now.format('dd/MM/yyyy') }},{{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\",\n  \"Agent\": {\n    \"nome\": \"Ísis\",\n    \"personalidade\": \"Secretária vendedora, comunicativa e acolhedora, fala de forma clara e objetiva, utilizando as regras gramaticais do português brasileiro. Mantém um tom respeitoso, empático e profissional, demonstrando interesse genuíno pela segurança do cliente.\",\n    \"Empresa\": \"Ideal Rastreamento Veicular\",\n    \"objetivo\": \"Atender, acolher e entender a necessidade do lead, utilizando técnicas de persuasão para convertê-lo em cliente. Demonstrar a importância da proteção veicular e criar senso de urgência para a tomada de decisão.\",\n    \"pense_como\": \"Uma profissional experiente e engajada, que entende a dor e as preocupações do cliente em relação à segurança do seu veículo. Já passou por situações como roubo ou furto e sabe o impacto que isso pode causar, utilizando esse conhecimento para gerar conexão e confiança com o cliente.\"\n  },\n  \"passos_do_atendimento\": [\n    {\n      \"passo\": 1,\n      \"descricao\": \"Apresentação e identificação do lead\",\n      \"detalhes\": [\n        \"Olá! Me chamo Ísis e faço parte da equipe da Ideal Rastreamento. Qual é o seu nome?\",\n        \"Você já é cliente da Ideal Rastreamento ou está buscando conhecer mais sobre nossos serviços?\"\n      ]\n    },\n    {\n      \"passo\": 2,\n      \"descricao\": \"Se o lead for um cliente atual, verificar sua necessidade\",\n      \"detalhes\": [\n        \"Ótimo, que bom falar com você! Como posso te ajudar hoje?\",\n        \"Você está com alguma dúvida sobre o nosso serviço, o aplicativo ou precisa de suporte técnico?\"\n      ]\n    },\n    {\n      \"passo\": 3,\n      \"descricao\": \"Se o cliente tiver dificuldades com o aplicativo, fornecer os links de acesso\",\n      \"detalhes\": [\n        \"Para acessar o aplicativo, utilize os seguintes links conforme o seu dispositivo:\",\n        \"- *Link PC:* http://ideal.rastrosystem.com.br/acl/login/?next=/\",\n        \"- *Link app iPhone:* https://apps.apple.com/br/app/rastro-system-3-0/id6474566461\",\n        \"- *Link app Android:* https://play.google.com/store/apps/details?\"\n      ]\n    },\n    {\n      \"passo\": 4,\n      \"descricao\": \"Se o cliente solicitar segunda via do boleto ou código PIX\",\n      \"detalhes\": [\n        \"Você pode acessar a segunda via do boleto ou o código PIX diretamente no aplicativo, na aba *Financeiro*.\",\n        \"Se precisar de mais alguma ajuda, estou à disposição!\"\n      ]\n    },\n    {\n      \"passo\": 5,\n      \"descricao\": \"Se o cliente ainda não instalou o rastreador, verificar agendamento\",\n      \"detalhes\": [\n        \"Vejo aqui que sua instalação ainda não foi realizada. Podemos agendar um horário para que o serviço seja concluído?\",\n        \"Caso já tenha uma data marcada, você pode confirmar comigo para garantir que está tudo certo.\"\n      ]\n    },\n    {\n      \"passo\": 6,\n      \"descricao\": \"Se o lead não for cliente, apresentar os planos imediatamente\",\n      \"detalhes\": [\n        \"Temos ótimas opções de rastreamento veicular para você.\",\n        \"A Ideal Rastreamento possui dois planos:\",\n        \n        \"**PLANO 1 - Rastreamento + Central 24h**\",\n        \"💰 R$ 54,90 mensais (no Carnê)\",\n        \"🔧 Instalação: R$70,00\",\n        \"Benefícios inclusos:\",\n        \"✅ 99% de Recuperação\",\n        \"✅ Aplicativo Ilimitado\",\n        \"✅ Notificações de Carro Ligado\",\n        \"✅ Cerca de Segurança\",\n        \"✅ Bloqueio em Caso de Roubo/Furto\",\n        \"✅ Relatório de trajetos\",\n        \"✅ Proteção 24h\",\n        \"✅ Cobertura Nacional\",\n        \n        \"**PLANO 2 - Rastreamento + Assistência Veicular 24h**\",\n        \"💰 R$ 74,90 mensais (no Carnê)\",\n        \"🔧 Instalação: R$70,00\",\n        \"Todos os benefícios do Plano 1 mais:\",\n        \"✅ Reboque para Colisão\",\n        \"✅ Reboque para Pane Elétrica/Mecânica\",\n        \"✅ Reboque para Pane Seca\",\n        \"✅ Troca de Pneu\",\n        \"✅ Chaveiro\",\n        \"✅ Carga de Bateria\",\n        \"⚠️ Reboque gratuito até 40km (R$4,00 por km adicional)\",\n        \n        \"Gostaria de saber mais detalhes sobre algum dos planos?\"\n      ]\n    },\n    {\n      \"passo\": 7,\n      \"descricao\": \"Conversão e encaminhamento para contratação\",\n      \"detalhes\": [\n        \"Ótima escolha! Para dar continuidade, acesse o link abaixo e preencha o formulário de contratação:\",\n        \"➡️ https://idealrastreamento.com/forms/\",\n        \"Assim que finalizar o cadastro, por favor, me avise.\"\n      ]\n    },\n    {\n      \"passo\": 8,\n      \"descricao\": \"Confirmação e encerramento do atendimento\",\n      \"detalhes\": [\n        \"Obrigado por avisar! Vamos incluir seu cadastro no sistema e, em breve, retornaremos para marcar o dia da instalação.\",\n        \"Caso tenha qualquer dúvida, estamos à disposição!\",\n        \"Tenha um ótimo dia!\"\n      ]\n    }\n  ],\n  \"regras_de_atuacao\": [\n    {\n      \"limites\": [\n        \"Fornecer somente informações sobre os serviços da Ideal Rastreamento e o que está na base de conhecimento.\",\n        \"Se o cliente tiver dúvidas complexas ou quiser mais detalhes técnicos, redirecionar para um especialista humano.\",\n        \"Nunca fornecer informações sem ter certeza. Caso necessário, transferir o atendimento para um representante qualificado.\"\n      ]\n    }\n  ],\n  \"estrategia_de_vendas_com_gatilhos_e_persuasao\": [\n    \"Usar gatilhos mentais para engajar o cliente, como:\",\n    \"- Autoridade: 'A Ideal Rastreamento já protege milhares de veículos em todo o país e tem uma taxa altíssima de recuperação.'\",\n    \"- Urgência: 'A cada hora, diversos veículos são roubados. Não espere que isso aconteça com você para buscar proteção.'\",\n    \"- Segurança: 'Ter um rastreador é a forma mais eficaz de recuperar seu veículo rapidamente em caso de furto ou roubo.'\",\n    \"- Patrimônio: 'Seu carro é um bem valioso. Vale a pena protegê-lo contra qualquer imprevisto.'\",\n    \"- Prova social: 'Muitos clientes já recuperaram seus veículos com nosso rastreamento. Nossa tecnologia realmente faz a diferença.'\"\n  ],\n  \"estilo_de_comunicacao\": [\n    \"Tratar o lead pelo nome com frequência para gerar proximidade: 'Fulano, entendi sua preocupação…'\",\n    \"Validar sentimentos e frustrações para demonstrar empatia: 'Eu entendo como isso pode ser preocupante…'\",\n    \"Elogiar a iniciativa de buscar proteção para seu veículo: 'Parabéns por se antecipar e garantir a segurança do seu patrimônio!'\",\n    \"Compartilhar casos reais de recuperação de veículos para gerar confiança: 'Recentemente, um de nossos clientes teve seu carro recuperado em poucas horas após o furto.'\",\n    \"Manter um tom acolhedor e empático, sem parecer robotizado: 'Que bom que você compartilhou isso comigo! Vamos encontrar a melhor solução para você.'\",\n    \"Fazer perguntas de confirmação para garantir que entendeu corretamente a necessidade do cliente.\",\n    \"Fazer uma pergunta por vez para facilitar o entendimento e a comunicação.\"\n  ]\n}\n"}},"id":"48cb5841-91d8-47f9-b22b-7fd1de4a02eb","name":"Atendente","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-440,1280]},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-4160,1040],"typeVersion":1,"id":"eb57b3db-29ef-4937-b6d5-38c68481fb6a","name":"Sticky Note31"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3640,820],"typeVersion":1,"id":"b1c0bb87-fb3d-487a-b8c9-43d35e1fbce8","name":"Sticky Note33"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4260,2000],"id":"67a3c113-6076-4a9b-9d69-c39186c0aa7c","name":"Loop Over Items"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3120,1040],"typeVersion":1,"id":"6a94e40d-23fb-4a12-8a71-a4d87402b208","name":"Sticky Note37"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Code1').item.json.sessionId }}","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-440,1480],"id":"7330f732-732f-4419-9b0e-5391b0d78a68","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"7a2Vz2gtRVeYNBS4","name":"Postgres"}}},{"parameters":{"content":"# Pausa para Atendimento Humano","height":80,"width":656,"color":5},"id":"be0385c6-f02f-4946-a4ca-386fac95b49b","name":"Sticky Note41","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4780,1280]},{"parameters":{"content":"","height":440,"width":360,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-4000,1260],"typeVersion":1,"id":"9e55737b-ad29-4a1b-ba32-ea0af1feefdf","name":"Sticky Note42"},{"parameters":{"content":"# Dados","height":80,"width":150,"color":5},"id":"fc3e1883-3499-45c9-b953-a23a2032f50c","name":"Sticky Note43","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3980,1280]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"221701","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Envia para Atendente"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"820760d6-3546-4007-8917-55d366a74261","leftValue":"={{ $json.output }}","rightValue":"221701","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Transfere para Atendente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-100,1320],"id":"44b7ad34-d6bd-478f-a9a2-cd06cd4371d4","name":"Switch2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1820,1580],"id":"55558a4b-c0f1-4537-80c3-edf8ef354f7f","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"V3SIs1GbnDJ4HJfO","name":"OpenAi"}}},{"parameters":{"content":"","height":400,"width":2200,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,1300],"typeVersion":1,"id":"33f96f8e-fb95-4812-9ffb-b4a165a01532","name":"Sticky Note44"},{"parameters":{"content":"# AVISAR NOVO LEAD NO GRUPO","height":80,"width":656,"color":5},"id":"25a2e9fd-bf47-4ea1-90c1-9516d7b96422","name":"Sticky Note45","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,1320]},{"parameters":{"resource":"messages-api","instanceName":"evolution","remoteJid":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.output }}","options_message":{"delay":3200,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1080,700],"id":"f41ba88c-aaf6-4d4f-b478-755ecdef004e","name":"Evolution API","credentials":{"evolutionApi":{"id":"FK5HLtfwZybZ0Kyw","name":"Evolution "}}},{"parameters":{"resource":"messages-api","instanceName":"evolution","remoteJid":"={{ $('Variáveis').item.json.telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[300,1420],"id":"7c143a3b-e85e-4b6e-b470-12d1e68cfadc","name":"Evolution API1","credentials":{"evolutionApi":{"id":"FK5HLtfwZybZ0Kyw","name":"Evolution "}}},{"parameters":{"resource":"messages-api","instanceName":"evolution","remoteJid":"={{ $('Variáveis').item.json.telefone }}","messageText":"=🚨 Novo Lead: wa.me/{{ $('Variáveis').item.json.telefone.split('@')[0] }} 🚨\n Cliente: {{ $('Webhook EVO').item.json.body.data.pushName }}\n\nCASO:\n{{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2160,1420],"id":"29e65efc-abb5-43fb-9aa1-c16be885e2d1","name":"Evolution API2","credentials":{"evolutionApi":{"id":"FK5HLtfwZybZ0Kyw","name":"Evolution "}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[880,180],"id":"9326c3b2-de21-4710-b584-5c10433ef042","name":"Merge1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"defac08a-6745-422b-bb05-90da9f47d91b","leftValue":"={{ $('Busca Telefone').last().json.values() }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[420,140],"id":"9368b622-1e23-4917-b6a0-e129f8c5b3c1","name":"If4"},{"parameters":{"content":"","height":380,"width":1180,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"011e17f7-18ba-458a-b502-57c0831af91b","name":"Sticky Note54"},{"parameters":{"content":"# Cadastra Chat Supabase","height":80,"width":450,"color":5},"id":"a28b1401-2fe5-4cbb-a253-c833dbdef3f4","name":"Sticky Note55","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,20]},{"parameters":{"resource":"messages-api","instanceName":"evolution","remoteJid":"={{ $('Variáveis').item.json.telefone }}","messageText":"={{ $json.output }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[420,520],"id":"8fe829da-6e25-4b02-b4eb-96a5b87a8e92","name":"Evolution API5","credentials":{"evolutionApi":{"id":"FK5HLtfwZybZ0Kyw","name":"Evolution "}}},{"parameters":{"operation":"getAll","tableId":"chats","filters":{"conditions":[{"keyName":"app","condition":"eq","keyValue":"petshop"},{"keyName":"upadate_at","condition":"gt","keyValue":"={{ $now.plus(5,'minutes') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-140,1780],"id":"3775a8f0-04c2-43d7-b285-5a3b74b60ad0","name":"ListChats-Supabase","credentials":{"supabaseApi":{"id":"GUk7BmZvNWWeDvs2","name":"Supabase"}}},{"parameters":{"operation":"getAll","tableId":"chat_menssages","matchType":"allFilters","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $json.phone }}"},{"keyName":"active","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[300,1800],"id":"453e4e56-9987-4d90-bcf1-8381c66b648c","name":"ListMessages-Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GUk7BmZvNWWeDvs2","name":"Supabase"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 10-16/2 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-300,1780],"id":"cb48fb55-8a57-40e9-9df6-4b2eb5fcd5e5","name":"Schedule Trigger"},{"parameters":{"operation":"update","tableId":"chat_menssages","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Aggregate1')?.item?.json?.conversas?.last()?.phone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"active","fieldValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1860,1900],"id":"c2e86e7a-5a8f-4e0f-9b76-249582384fc2","name":"DisableMessage-Supabase","credentials":{"supabaseApi":{"id":"GUk7BmZvNWWeDvs2","name":"Supabase"}}},{"parameters":{"assignments":{"assignments":[{"id":"c9c00627-84a9-49a9-bc7e-d923a5918346","name":"output","value":"={{ $json.text }}","type":"string"},{"id":"0e34f673-b6dc-4748-89d2-a178dfe91853","name":"phone","value":"={{ $('Aggregate1').item.json.conversas.last().phone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1500,1740],"id":"94a3a47c-3e0b-4f13-8c27-cad9a24d26c4","name":"SetConfig"},{"parameters":{"promptType":"define","text":"=# Você é um agente facilitador de vendas e está buscando conversas não finalizadas entre o cliente e um agent de IA. \n\n# Cria a responda apenas a resposta não precisa justificar sua resposta\n\n# Identifique o cliente não enviou mais mensagens de resposta\n\n# Se o cliente não responder mesmo assim, agradeça e diga que irá encerrar o pedido e está a disposição para outros pedidos\n\n# Use frase simples e naturais como nos exemplos\n\nExemplos : \n - 'Oi .. ainda está ai'\n - 'E ai ? vamos finalizar o pedido?' \n\n# Conversa entre o cliete e o agente de IA:\n{{ $json.texto }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1200,1740],"id":"db24e377-05e2-4267-a1ab-dc87dbe47749","name":"Basic LLM Chain"},{"parameters":{"inputText":"={{ $json.texto }}","categories":{"categories":[{"category":"pendente_resposta","description":"A conversa está pendente devido a uma informação que o cliente ficou de fornecer ou confirmar"},{"category":"encerrada","description":"Houve um desfecho da conversa e o agente de IA se despediu"},{"category":"sem_resposta","description":"=Se o cliente não respondeu mais as mensagens do agente - mensagem do cliente vazia"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[760,1800],"id":"51efa1c9-06e5-4785-8d83-1961502f20fb","name":"Text Classifier"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"conversas","include":"specifiedFields","fieldsToInclude":"id,message_type,created_at,user_message, bot_message,phone, conversation_id","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[460,1800],"id":"2299e290-1ccd-471b-ba39-3bcdee1c4a26","name":"Aggregate1"},{"parameters":{"jsCode":"return $('Aggregate1').all().map(item => {\n  // Tenta acessar a propriedade 'conversas' e verifica se ela é um array\n  const conversas = item.json.conversas || []; // Garante que é pelo menos um array vazio\n\n  if (!Array.isArray(conversas)) {\n    throw new Error(\"A propriedade 'conversas' não é um array.\");\n  }\n\n  // Processa cada conversa e verifica as mensagens\n  const textoUnico = conversas.map(conversa => {\n    const cliente = conversa.user_message || \"sem mensagem do chatbot\";\n    const agente = conversa.bot_message || \"sem resposta\";\n    \n    // Verifica se a data existe e formata\n    const dataOriginal = conversa.created_at || \"Data da Mensagem indisponível\";\n    const dataFormatada = dataOriginal !== \"Data da Mensagem indisponível\"\n      ? formatarData(dataOriginal)\n      : dataOriginal;\n\n    return `em: ${dataFormatada}\\n\\n - agente(chatbot): ${agente} \\n - cliente: ${cliente}\\n`;\n  }).join('\\n\\n');\n\n  // Retorna o texto final como resultado\n  return {\n    json: {\n      texto: textoUnico\n    }\n  };\n});\n\n// Função para formatar a data\nfunction formatarData(dataString) {\n  const data = new Date(dataString); // Converte a string em objeto Date\n  if (isNaN(data)) {\n    return \"Data inválida\"; // Retorna se a data não for válida\n  }\n  \n  // Formata no padrão DD/MM/YYYY HH:mm\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\n  const ano = data.getFullYear();\n  const horas = String(data.getHours()).padStart(2, '0');\n  const minutos = String(data.getMinutes()).padStart(2, '0');\n  \n  return `${dia}/${mes}/${ano} ${horas}:${minutos}`;\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[620,1800],"id":"57376140-4417-41aa-8630-fc22c401b8e1","name":"Code4"},{"parameters":{"tableId":"chat_menssages","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Aggregate1').item.json.conversas.last().phone }}"},{"fieldId":"conversation_id","fieldValue":"={{ $('Aggregate1').item.json.conversas.last().phone }}"},{"fieldId":"message_type","fieldValue":"={{ $('Aggregate1').item.json.conversas.last().message_type }}"},{"fieldId":"bot_message","fieldValue":"={{ $json.text }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1500,1900],"id":"6062b44d-1190-4466-a722-6afaf05d9960","name":"Supabase2","credentials":{"supabaseApi":{"id":"GUk7BmZvNWWeDvs2","name":"Supabase"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[60,1780],"id":"62a4e79a-63eb-4e27-9760-cda249a77c01","name":"Loop Over Items2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1200,1940],"id":"729d0206-f927-4934-8ee2-58ae8cc94a1a","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"V3SIs1GbnDJ4HJfO","name":"OpenAi"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1680,1900],"id":"b40076c5-cd66-4e75-bea6-b73030912a02","name":"Wait2","webhookId":"88302532-fa1b-4e15-b77a-e85dedce41a0"},{"parameters":{"content":"","height":400,"width":2540,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-340,1720],"typeVersion":1,"id":"b56a55d3-6c56-4f74-bd68-71290776eead","name":"Sticky Note58"},{"parameters":{"content":"# Follow up","height":80,"width":253,"color":5},"id":"f6571e9a-8f63-46de-af8e-ee8a42df405e","name":"Sticky Note59","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,2020]},{"parameters":{"resource":"messages-api","instanceName":"evolution","remoteJid":"={{ $json.phone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1660,1740],"id":"09fb4401-526b-4d1b-8744-4597fc08cb7f","name":"Evolution API6","credentials":{"evolutionApi":{"id":"FK5HLtfwZybZ0Kyw","name":"Evolution "}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[780,1960],"id":"46094e6a-a5c0-451f-86c1-a9b9aab6447c","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"V3SIs1GbnDJ4HJfO","name":"OpenAi"}}},{"parameters":{"operation":"formatDate","date":"={{ $now }}","format":"custom","customFormat":"dd-MM-yyyy","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-3780,1440],"id":"bcdb6477-f906-4b5c-bbf9-2c2f4c003b1d","name":"Date & Time1"},{"parameters":{"operation":"get","tableId":"chats","filters":{"conditions":[{"keyName":"phone","keyValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"},{"keyName":"app","keyValue":"drana"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[280,140],"id":"7eb8039d-a66c-4a5e-9e31-6f445517972a","name":"Busca Telefone","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GUk7BmZvNWWeDvs2","name":"Supabase"}},"onError":"continueRegularOutput"},{"parameters":{"tableId":"chats","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"},{"fieldId":"upadate_at","fieldValue":"={{ $now}}"},{"fieldId":"conversation_id","fieldValue":"={{ $('Code1').item.json.sessionId }}"},{"fieldId":"app","fieldValue":"drana"},{"fieldId":"chat_messages","fieldValue":"={{ $('Mensagem Completa').item.json.mensagem_completa }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[660,80],"id":"3140841b-03c7-4271-9e3d-aaf9cd7848e1","name":"Adiciona CHAT supabase","credentials":{"supabaseApi":{"id":"GUk7BmZvNWWeDvs2","name":"Supabase"}}},{"parameters":{"operation":"update","tableId":"chats","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Variáveis').item.json.telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"upadate_at","fieldValue":"={{ $now }}"},{"fieldId":"chat_messages","fieldValue":"={{ $('Mensagem Completa').item.json.mensagem_completa }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[660,240],"id":"6b0fb330-c86c-4307-9f28-75ceee1b039d","name":"Atualiza CHAT Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GUk7BmZvNWWeDvs2","name":"Supabase"}}},{"parameters":{"tableId":"chat_menssages","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $json.phone }}"},{"fieldId":"conversation_id","fieldValue":"={{ $json.phone }}"},{"fieldId":"bot_message","fieldValue":"={{ $('Atendente').item.json.output }}"},{"fieldId":"user_message","fieldValue":"={{ $('Variáveis').item.json.mensagem }}"},{"fieldId":"message_type","fieldValue":"={{ $('Variáveis').item.json.body.event }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1060,180],"id":"2f6f1e47-c7a4-4189-bc88-8694df8416b6","name":"Cria Histórico Supabase","credentials":{"supabaseApi":{"id":"GUk7BmZvNWWeDvs2","name":"Supabase"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c4cdb12-9452-42a6-a39a-c268bd38dce1","leftValue":"={{ $json.output.lenght }}","rightValue":90,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[260,600],"id":"2e83f518-df75-49c3-a6b5-27eed417f9c9","name":"Menos que 240 Caracteres"},{"parameters":{"fieldToSplitOut":"output.messages","options":{"destinationFieldName":"output"}},"id":"76224c12-17b4-4c37-882d-b509a7569958","name":"Split de Mensagem","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[700,680]},{"parameters":{"amount":1},"id":"f7580cd1-00a7-48fc-a4fc-11c12875d188","name":"1 segundo","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1220,700],"webhookId":"48d9eabe-321b-4602-a3f8-91508c54779a"},{"parameters":{"jsCode":"return $items(\"Set File ID\").map(item => {\n  return {\n    json: {\n      file_id: item.json.file_id,\n      file_type: item.json.file_type\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4440,2000],"id":"f4f96615-5631-401b-842a-07d41920c32b","name":"Retorna ID do arquivo"},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"3f2338b7-cf82-440e-ba79-4ba98cf95b9f","name":"Deleta linhas antigas do documento","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4640,2000],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GUk7BmZvNWWeDvs2","name":"Supabase"}}},{"parameters":{"operation":"executeQuery","query":"create table dados_cliente (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  telefone text, \n  sessionid text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4100,840],"id":"bb5be54c-8c69-432f-bea3-f9a768ba3223","name":"Cria Tabela Dados Cliente","credentials":{"postgres":{"id":"7a2Vz2gtRVeYNBS4","name":"Postgres"}}},{"parameters":{"operation":"executeQuery","query":"-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3060,840],"id":"d5d600f8-3bf3-41b1-ae81-367903c6822e","name":"Cria Tabela Documentos","credentials":{"postgres":{"id":"7a2Vz2gtRVeYNBS4","name":"Postgres"}}},{"parameters":{"operation":"executeQuery","query":"delete from documents","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3060,1060],"id":"6c0516dd-a46d-4af3-bbad-0a3d7874add0","name":"Deleta Conteúdo Documentos","credentials":{"postgres":{"id":"7a2Vz2gtRVeYNBS4","name":"Postgres"}}},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3380,820],"typeVersion":1,"id":"719211d0-da96-48db-9645-bbcb75aafb4a","name":"Sticky Note40"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3120,820],"typeVersion":1,"id":"d4601580-1dc6-403c-b915-b37e42f6cf5a","name":"Sticky Note48"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-4420,820],"typeVersion":1,"id":"bde6410b-297b-41b9-b2ae-a38dbdd3a9e9","name":"Sticky Note49"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3900,820],"typeVersion":1,"id":"df980c12-04d8-4b83-9dbd-d0a93dc187c3","name":"Sticky Note50"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3640,1040],"typeVersion":1,"id":"7d8ff2b7-2ba9-418c-a752-6c4472d07d44","name":"Sticky Note56"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-4160,820],"typeVersion":1,"id":"f8ad5163-0aae-4c02-b27f-b5893eccdaf5","name":"Sticky Note57"},{"parameters":{"operation":"executeQuery","query":"delete from n8n_chat_histories","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4100,1080],"id":"88eaa693-9a57-477b-b97d-289531833165","name":"Deleta Histórico","credentials":{"postgres":{"id":"7a2Vz2gtRVeYNBS4","name":"Postgres"}}},{"parameters":{"operation":"executeQuery","query":"create function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3320,840],"id":"81ed4d8d-f526-4694-9b24-dde1efff328f","name":"Cria função Busca em Vetor","credentials":{"postgres":{"id":"7a2Vz2gtRVeYNBS4","name":"Postgres"}}},{"parameters":{"operation":"executeQuery","query":"create extension vector;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3580,840],"id":"35cf19a1-c7d8-45d8-8d02-37f07581b4cc","name":"Cria Extensão Vetor","credentials":{"postgres":{"id":"7a2Vz2gtRVeYNBS4","name":"Postgres"}}},{"parameters":{"operation":"executeQuery","query":"create table chats (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  phone text,\n  updated_at text, \n  app text,\n  conversation_id text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3840,840],"id":"c0d55c5e-35ad-45db-a9e7-b1005bcd0fa7","name":"Cria Tabela Chats","credentials":{"postgres":{"id":"7a2Vz2gtRVeYNBS4","name":"Postgres"}}},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3380,1040],"typeVersion":1,"id":"6e4f2b4b-77fd-42c3-bf42-f0ea05517a16","name":"Sticky Note65"},{"parameters":{"operation":"executeQuery","query":"delete from chats","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3320,1060],"id":"04013f52-4123-482f-8d47-b46fd22562e5","name":"Deleta Conteúdo Chats","credentials":{"postgres":{"id":"7a2Vz2gtRVeYNBS4","name":"Postgres"}}},{"parameters":{"operation":"executeQuery","query":"delete from dados_cliente","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3580,1060],"id":"bc759b23-1693-4dfa-9079-9d6ceeb75b0b","name":"Deleta Conteúdo Dados Cliente","credentials":{"postgres":{"id":"7a2Vz2gtRVeYNBS4","name":"Postgres"}}},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3900,1040],"typeVersion":1,"id":"3419e999-2f41-4832-8804-a1a75a5c689f","name":"Sticky Note66"},{"parameters":{"operation":"executeQuery","query":"delete from chat_messages","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3840,1060],"id":"97dd695b-c979-4d62-a3f6-e33c0fbee2d2","name":"Deleta Conteúdo Chat_Messages","credentials":{"postgres":{"id":"7a2Vz2gtRVeYNBS4","name":"Postgres"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE chat_messages (\n  id BIGSERIAL PRIMARY KEY,\n  created_at TIMESTAMPTZ, \n  phone TEXT,\n  conversation_id TEXT, \n  bot_message TEXT,\n  user_message TEXT, \n  message_type TEXT,\n  active BOOLEAN DEFAULT TRUE\n);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4360,840],"id":"2a209821-7320-4900-adbe-763359c45d89","name":"Cria Tabela Chat_Messages","credentials":{"postgres":{"id":"7a2Vz2gtRVeYNBS4","name":"Postgres"}}},{"parameters":{"content":"","height":440,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-5060,1260],"typeVersion":1,"id":"cc654179-ecb4-41e8-9b63-1d5918f8099e","name":"Sticky Note32"},{"parameters":{"content":"# Webhook","height":100,"width":196,"color":5},"id":"0b5e24b5-5fde-43be-a8ae-cf88d5354239","name":"Sticky Note67","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5040,1280]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.png","mimeType":"image/png"}},"id":"ead34a22-aee8-4426-a493-6bbf6be8690c","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2440,1540]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"a83e7cb7-9f82-40c1-b360-084a4da705fc","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2580,1540]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ade56c50-1520-4760-8df5-e99617d6d3ad","leftValue":"={{ $('Webhook EVO').item.json.body.data.message.imageMessage.caption }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4b517910-c497-4ad7-bbab-02c970b9f480","name":"If3","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2140,1540]},{"parameters":{"operation":"push","list":"={{ $('Code1').item.json.sessionId }}","messageData":"={{ $('Webhook EVO').item.json[\"body\"][\"data\"][\"message\"][\"imageMessage\"][\"caption\"] }}, {{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"769bda41-bfcc-45ba-9dbe-c7dd14bca665","name":"Redis4","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1960,1540],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"operation":"push","list":"={{ $('Code1').item.json.sessionId }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"b35c851d-007b-4410-9cad-e53f847b2ed1","name":"Redis5","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1960,1400],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"id":"ec767646-2b55-439d-b56c-4dcae2e095ff","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-2580,1300]},{"parameters":{"content":"# Mensagem Picotada","height":80,"width":396,"color":5},"id":"0823e4ee-9145-454e-a827-8dd47a11c1f8","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1600,1120]},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Resumo curto da imagem. Responda sem acento, sem hifens","inputType":"base64","options":{}},"id":"6c9cbdd7-3b42-40fc-8379-533819400af1","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-2280,1540],"credentials":{"openAiApi":{"id":"V3SIs1GbnDJ4HJfO","name":"OpenAi"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"49ad7c94-74ce-49db-b3a6-ba7abdbb3b86","name":"Compara Get Memory1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1040,1340]},{"parameters":{"operation":"push","list":"={{ $('Code1').item.json.sessionId }}","messageData":"={{ $('Webhook EVO').item.json.body.data.message.conversation }}","tail":true},"id":"8d14e82d-6dd2-4c8f-8c8a-640b52e6d39e","name":"Text Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2160,1100],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"operation":"push","list":"={{ $('Code1').item.json.sessionId }}","messageData":"={{ $('Webhook EVO').item.json.body.data.message.speechToText }}","tail":true},"id":"62aab91f-f7b3-4e9e-8a87-9ea60ee15875","name":"Audio Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2240,1340],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $('Get Memory 1').item.json.propertyName }}","type":"string"}]},"options":{}},"id":"4c1416c8-5e79-4ffc-9eac-662041834988","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1220,1340]},{"parameters":{"amount":3},"id":"3f722ef9-47c2-4f1c-ac72-6f0c4e3e8d10","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1540,1340],"webhookId":"7508fa49-bc87-45fc-bc55-e92f0d00664a"},{"parameters":{"operation":"get","key":"={{ $('Code1').item.json.sessionId }}","options":{}},"id":"ec9f7533-d6aa-4bce-8f02-d6a8fed4354a","name":"Get Memory 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1700,1340],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"operation":"get","key":"={{ $('Code1').item.json.sessionId }}","options":{}},"id":"3cec7381-df8b-45eb-99b9-fa5fb5f45b8f","name":"Get Memory 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1380,1340],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"operation":"delete","key":"={{ $('Code1').item.json.sessionId }}"},"id":"3510f3e6-d50b-47c7-abd5-ba1720b4ce06","name":"Delete Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1240,180],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"name":"user_documents","description":"Contains all the information about prices and andress that you can check to answer user questions."},"id":"6d9f12fb-420e-4d8b-bfab-49c93b6fa48c","name":"buscar_documentos","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-500,1740]},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2600,1900],"id":"811f2038-cf19-4f74-a117-e5e1ac903711","name":"Get Dados","credentials":{"supabaseApi":{"id":"GUk7BmZvNWWeDvs2","name":"Supabase"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d88c137-383f-4307-b3cc-1f6a560ea67b","name":"telefone","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"7e2f520e-4952-425b-82ca-792cc46680d4","name":"mensagem","value":"={{ $('Webhook EVO').item.json.body.data.message.conversation }}{{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage.text }}","type":"string"},{"id":"de1388b1-a6e4-42df-a6a5-7e9b4594f97d","name":"body.event","value":"={{ $('Webhook EVO').item.json.body.event }}","type":"string"},{"id":"f4dfa820-6255-4b43-bb4d-902b076c75cf","name":"created_ad","value":"={{ $('Switch6').item.json.message.timestamp }}","type":"string"}]},"options":{}},"id":"fd970ab9-dd84-4548-a38c-993a084aeb1b","name":"Variáveis","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3940,1440]},{"parameters":{"assignments":{"assignments":[{"id":"8f16b1bf-1a3e-4029-8d7a-1bccb919ee43","name":"message.message_id","value":"={{ $json.body.data.messageId }}","type":"string"},{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"message.chat_id","value":"={{ $json.body.data.remoteJid }}","type":"string"},{"id":"c33f9527-e661-49e5-8e5e-64f3b430928a","name":"message.content_type","value":"={{ $json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"message.content","value":"={{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation || '' }}","type":"string"},{"id":"b97f1af3-5361-46fc-9303-d644921231d8","name":"message.timestamp","value":"={{ $('Webhook EVO').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"dc3dc59c-90a3-4a45-bea2-de092c91083b","name":"message.content_url","value":"={{ $('Webhook EVO').item.json.body.data.message.audioMessage?.url || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"8b01a818-a456-476e-bace-adefe2f04eb4","name":"message.event","value":"={{ $('Webhook EVO').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"b2f1f6b5-292f-4695-9e41-be200c6d7053","name":"instance.name","value":"={{ $json.body.instance }}","type":"string"},{"id":"572fcce5-8a26-4e8f-a48a-ef0bee569dcd","name":"instance.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"e90043db-657b-461c-b040-2d6089abfbdb","name":"instance.server_url","value":"={{ $json.body.server_url }}","type":"string"}]},"options":{}},"id":"d5c6f913-fa1e-4757-b001-d6ab5db76091","name":"dados_para_atendimento_humano1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4300,560]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Ativa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Desativada"}]},"options":{}},"id":"aa6ff52c-485a-4983-8d14-a0de384602e7","name":"Switch Block","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-4180,1540]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.message.event }}","rightValue":"outcoming","operator":{"type":"string","operation":"equals"},"id":"b658fd09-279a-4d48-acec-0bd8395e30f8"}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"3cbcdeee-3be0-4bd2-8d19-6d3e7171012c","name":"Switch6","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-4540,1440]},{"parameters":{"operation":"getAll","tableId":"chats","filters":{"conditions":[{"keyName":"app","condition":"eq","keyValue":"drana"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[560,1420],"id":"36866c12-f0e4-4704-8ba5-eb02ad4b5e55","name":"ListChats-Supabase2","credentials":{"supabaseApi":{"id":"GUk7BmZvNWWeDvs2","name":"Supabase"}}},{"parameters":{"operation":"getAll","tableId":"chat_menssages","matchType":"allFilters","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"},{"keyName":"active","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1080,1440],"id":"c7948930-1301-41ad-9c13-0a9ad964c050","name":"ListMessages-Supabase2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GUk7BmZvNWWeDvs2","name":"Supabase"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"conversas","include":"specifiedFields","fieldsToInclude":"id,message_type,created_at,user_message, bot_message,phone, conversation_id","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1340,1440],"id":"70a13ce6-4111-4595-8dd3-bdc81fa9ec71","name":"Aggregate2"},{"parameters":{"jsCode":"return $('Aggregate2').all().map(item => {\n  // Tenta acessar a propriedade 'conversas' e verifica se ela é um array\n  const conversas = item.json.conversas || []; // Garante que é pelo menos um array vazio\n\n  if (!Array.isArray(conversas)) {\n    throw new Error(\"A propriedade 'conversas' não é um array.\");\n  }\n\n  // Processa cada conversa e verifica as mensagens\n  const textoUnico = conversas.map(conversa => {\n    const cliente = conversa.user_message || \"sem mensagem do chatbot\";\n    const agente = conversa.bot_message || \"sem resposta\";\n    \n    // Verifica se a data existe e formata\n    const dataOriginal = conversa.created_at || \"Data da Mensagem indisponível\";\n    const dataFormatada = dataOriginal !== \"Data da Mensagem indisponível\"\n      ? formatarData(dataOriginal)\n      : dataOriginal;\n\n    return `em: ${dataFormatada}\\n\\n - agente(chatbot): ${agente} \\n - cliente: ${cliente}\\n`;\n  }).join('\\n\\n');\n\n  // Retorna o texto final como resultado\n  return {\n    json: {\n      texto: textoUnico\n    }\n  };\n});\n\n// Função para formatar a data\nfunction formatarData(dataString) {\n  const data = new Date(dataString); // Converte a string em objeto Date\n  if (isNaN(data)) {\n    return \"Data inválida\"; // Retorna se a data não for válida\n  }\n  \n  // Formata no padrão DD/MM/YYYY HH:mm\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\n  const ano = data.getFullYear();\n  const horas = String(data.getHours()).padStart(2, '0');\n  const minutos = String(data.getMinutes()).padStart(2, '0');\n  \n  return `${dia}/${mes}/${ano} ${horas}:${minutos}`;\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1580,1440],"id":"8c4cc81a-2c72-4fb8-a864-d8c55a1ceaa6","name":"Code6"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[800,1420],"id":"74cea15d-c715-489e-b6c8-a0091ca52218","name":"Loop Over Items6"},{"parameters":{"promptType":"define","text":"=Você é um agente resumidor de casos dos clientes, você analisa a conversa entre o agente e o cliente e cria um resumo do problema que ele está enfrentando de forma bem detalhada, e gera o resultado sem dicas de uso ou informações extras \n\n# Conversa entre o cliete e o agente de IA:\n{{ $json.texto }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1820,1420],"id":"3df3dd0d-c495-408e-8cc6-6d68b72a290f","name":"Basic LLM Chain1"},{"parameters":{"content":"# Filtro de menagem","height":80,"width":356,"color":5},"id":"f3319cbe-837c-4176-a3ed-e2bb03230600","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2840,1100]},{"parameters":{"operation":"set","key":"={{ $json.message.chat_id }}_block","value":"true","keyType":"string","expire":true,"ttl":4320000},"id":"2c0a380f-11d1-4940-b5ab-5a0ed5d779ed","name":"PARA IA","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4340,1380],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"operation":"get","propertyName":"block","key":"={{ $json.message.chat_id }}_block","options":{}},"id":"0d8bd22f-2c90-4a96-8fb2-7fb7ce997cd9","name":"Verificar Atendimento","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4340,1540],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"jsCode":"const data = $item(0).$node[\"Compara Get Memory1\"].json[\"Redis2\"]; // Obtém o valor de Redis2 do nó \"If\"\n\n// Verifica se o dado é uma string que representa um array, e converte se necessário\nlet array = Array.isArray(data) ? data : JSON.parse(data);\n\n// Junta os elementos do array com um espaço entre eles\nconst mensagem_completa = array.join(\" \");\n\n// Retorna o resultado com o nome da variável \"mensagem_completa\"\nreturn [{ json: { mensagem_completa } }];\n"},"id":"d8b1a5fe-3443-43e3-aad5-638c33448b01","name":"Mensagem Completa","type":"n8n-nodes-base.code","typeVersion":2,"position":[-820,1320]},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"dados_cliente","mode":"list","cachedResultName":"dados_cliente"},"where":{"values":[{"column":"telefone","value":"={{ $('Variáveis').item.json.telefone }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3240,1400],"id":"74a5fa1d-403d-479c-95fb-cb4febb7b528","name":"Postgres","alwaysOutputData":true,"credentials":{"postgres":{"id":"7a2Vz2gtRVeYNBS4","name":"Postgres"}}},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"},{"keyName":"created_at","keyValue":"={{ $('Variáveis').item.json.created_ad }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2800,1900],"id":"b9993199-7e37-47c3-b058-6599ffb97a74","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"GUk7BmZvNWWeDvs2","name":"Supabase"}}},{"parameters":{"operation":"select","schema":"public","table":"dados_cliente","where":{"values":[{"column":"telefone","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"},{"column":"created_at","value":"={{ $('Variáveis').item.json.created_ad }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3620,1440],"id":"458bac17-c788-4f3f-9214-65b40d61ed88","name":"Postgres1","alwaysOutputData":true,"credentials":{"postgres":{"id":"7a2Vz2gtRVeYNBS4","name":"Postgres"}}},{"parameters":{"httpMethod":"POST","path":"agente","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-4980,1440],"id":"a79feefb-d2c6-48a9-908f-6541268b4889","name":"Webhook EVO","webhookId":"3b6c1f68-3559-48c3-9e8c-0d506a06e788"},{"parameters":{"operation":"select","schema":"public","table":"dados_cliente","where":{"values":[{"column":"telefone","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"},{"column":"created_at","value":"={{ $('Variáveis').item.json.created_ad }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1820,2840],"id":"2796bac3-478f-4de9-97e3-3d83776897ea","name":"Postgres2","alwaysOutputData":true,"credentials":{"postgres":{"id":"7a2Vz2gtRVeYNBS4","name":"Postgres"}}},{"parameters":{"assignments":{"assignments":[{"id":"8f16b1bf-1a3e-4029-8d7a-1bccb919ee43","name":"message.message_id","value":"={{ $('Webhook EVO').item.json.body.data.key.id || '' }}","type":"string"},{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"message.chat_id","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid || '' }}","type":"string"},{"id":"c33f9527-e661-49e5-8e5e-64f3b430928a","name":"message.content_type","value":"={{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"message.content","value":"={{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation || '' }}","type":"string"},{"id":"b97f1af3-5361-46fc-9303-d644921231d8","name":"message.timestamp","value":"={{ $('Webhook EVO').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"dc3dc59c-90a3-4a45-bea2-de092c91083b","name":"message.content_url","value":"={{ $('Webhook EVO').item.json.body.data.message.audioMessage?.url || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"8b01a818-a456-476e-bace-adefe2f04eb4","name":"message.event","value":"={{ $('Webhook EVO').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"b2f1f6b5-292f-4695-9e41-be200c6d7053","name":"instance.name","value":"={{ $json.body.instance }}","type":"string"},{"id":"572fcce5-8a26-4e8f-a48a-ef0bee569dcd","name":"instance.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"e90043db-657b-461c-b040-2d6089abfbdb","name":"instance.server_url","value":"={{ $json.body.server_url }}","type":"string"}]},"options":{}},"id":"469c41c3-654b-46a7-b2d8-b3cb0cc083ac","name":"dados_para_atendimento_humano","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4740,1440]}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"buscar_documentos","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Set File ID":{"main":[[{"node":"Deleta linhas antigas do documento","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Summarize":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Insert into Supabase Vectorstore":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"buscar_documentos","type":"ai_vectorStore","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"If1":{"main":[[{"node":"Postgres","type":"main","index":0}],[{"node":"Gerar sessionID","type":"main","index":0}]]},"Gerar sessionID":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"OpenAI3":{"ai_languageModel":[[{"node":"Parser  Chain","type":"ai_languageModel","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Evolution API","type":"main","index":0}]]},"OutputParser1":{"ai_outputParser":[[{"node":"Parser  Chain","type":"ai_outputParser","index":0}]]},"Parser  Chain":{"main":[[{"node":"Split de Mensagem","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Menos que 240 Caracteres","type":"main","index":0}],[{"node":"Menos que 240 Caracteres","type":"main","index":0}],[{"node":"Menos que 240 Caracteres","type":"main","index":0}],[{"node":"Menos que 240 Caracteres","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Atendente","type":"ai_languageModel","index":0}]]},"Code1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Atendente":{"main":[[{"node":"Switch2","type":"main","index":0},{"node":"Busca Telefone","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Download File","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Atendente","type":"ai_memory","index":0}]]},"Switch2":{"main":[[{"node":"Switch3","type":"main","index":0}],[{"node":"Evolution API1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Evolution API":{"main":[[{"node":"1 segundo","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"ListChats-Supabase2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Cria Histórico Supabase","type":"main","index":0}]]},"If4":{"main":[[{"node":"Adiciona CHAT supabase","type":"main","index":0}],[{"node":"Atualiza CHAT Supabase","type":"main","index":0}]]},"ListChats-Supabase":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"ListMessages-Supabase":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"ListChats-Supabase","type":"main","index":0}]]},"DisableMessage-Supabase":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"SetConfig":{"main":[[{"node":"Evolution API6","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Supabase2","type":"main","index":0},{"node":"SetConfig","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"ListMessages-Supabase","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Wait2":{"main":[[{"node":"DisableMessage-Supabase","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Date & Time1":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Busca Telefone":{"main":[[{"node":"If4","type":"main","index":0}]]},"Adiciona CHAT supabase":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Atualiza CHAT Supabase":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Cria Histórico Supabase":{"main":[[{"node":"Delete Memory","type":"main","index":0}]]},"Menos que 240 Caracteres":{"main":[[{"node":"Evolution API5","type":"main","index":0}],[{"node":"Parser  Chain","type":"main","index":0}]]},"Split de Mensagem":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"1 segundo":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Retorna ID do arquivo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Deleta linhas antigas do documento":{"main":[[{"node":"Retorna ID do arquivo","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"If3":{"main":[[{"node":"Redis5","type":"main","index":0}],[{"node":"Redis4","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Redis5":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Audio Memory1","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Compara Get Memory1":{"main":[[{"node":"Mensagem Completa","type":"main","index":0}]]},"Text Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Audio Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Compara Get Memory1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Get Memory 1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"buscar_documentos":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Get Dados":{"main":[[]]},"dados_para_atendimento_humano1":{"main":[[]]},"Switch Block":{"main":[[{"node":"Variáveis","type":"main","index":0}]]},"Switch6":{"main":[[{"node":"PARA IA","type":"main","index":0}],[{"node":"Verificar Atendimento","type":"main","index":0}]]},"Variáveis":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"ListChats-Supabase2":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"ListMessages-Supabase2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Loop Over Items6":{"main":[[],[{"node":"ListMessages-Supabase2","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Verificar Atendimento":{"main":[[{"node":"Switch Block","type":"main","index":0}]]},"Mensagem Completa":{"main":[[{"node":"Atendente","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Supabase":{"main":[[]]},"Postgres1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Webhook EVO":{"main":[[{"node":"dados_para_atendimento_humano","type":"main","index":0}]]},"dados_para_atendimento_humano":{"main":[[{"node":"Switch6","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:File Created":{"lastTimeChecked":"2025-02-27T20:30:18Z"},"node:File Updated":{"lastTimeChecked":"2025-02-27T20:30:18Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook EVO":[{"json":{"headers":{"host":"n8n.ronnysenna.com.br","user-agent":"axios/1.7.9","content-length":"1671","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.ronnysenna.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6de3c9edb341","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"ronny","data":{"key":{"remoteJid":"558584330586@s.whatsapp.net","fromMe":false,"id":"5536475865A9470BB5082DF7123DD7F8"},"pushName":"Teralink Telecomunicações","status":"DELIVERY_ACK","message":{"audioMessage":{"url":"https://mmg.whatsapp.net/v/t62.7117-24/25234015_1298202104815885_8943685853254844740_n.enc?ccb=11-4&oh=01_Q5AaIIC0iwwO33h7mJ1ucdxGqUrGjxqWVEGmf64PNgwDyKak&oe=67F3E5B2&_nc_sid=5e03e0&mms3=true","mimetype":"audio/ogg; codecs=opus","fileSha256":"angtHn55UEOH5t8bnJ4oZDWS62b/RLx0bN07CoGJTN4=","fileLength":"8741","seconds":4,"ptt":true,"mediaKey":"KZDKupEwIkv9+Be4Uwm7x4sWnTjNlQ2tld8ApxkUYh8=","fileEncSha256":"tNB9QKe10dbFrV0lZHLpAkV+CTv9iiq6uXB5DJfAwS0=","directPath":"/v/t62.7117-24/25234015_1298202104815885_8943685853254844740_n.enc?ccb=11-4&oh=01_Q5AaIIC0iwwO33h7mJ1ucdxGqUrGjxqWVEGmf64PNgwDyKak&oe=67F3E5B2&_nc_sid=5e03e0","mediaKeyTimestamp":"1741454203","waveform":"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHjc5RUs9LTYvFCsxLjU4NDEQDiMDFD0+OR8mKh8aAA=="},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"lrJus3kAxhBQxw==","senderTimestamp":"1741450052","recipientKeyHash":"JJsmufMAdzH6iQ==","recipientTimestamp":"1741359985"},"deviceListMetadataVersion":2,"messageSecret":"qsfKlhkOxUwbkoXmwXtFrv9KHbfvfd2ZzYEn7ZNWlwY="}},"contextInfo":null,"messageType":"audioMessage","messageTimestamp":1741454206,"instanceId":"fe689cea-0066-4cf3-a658-5ade1653c681","source":"android"},"destination":"https://n8n.ronnysenna.com.br/webhook/agente","date_time":"2025-03-08T14:16:46.325Z","sender":"558592525311@s.whatsapp.net","server_url":"http://localhost:8080","apikey":"73A168C6A332-4BDF-AE2C-61FDCCD74652"},"webhookUrl":"https://n8n.ronnysenna.com.br/webhook/agente","executionMode":"production"}}]},"versionId":"b50bc6ea-79e0-4a60-b0e8-096f72e35240","triggerCount":2,"tags":[{"createdAt":"2025-03-15T18:38:28.214Z","updatedAt":"2025-03-15T18:39:43.268Z","id":"i5cUpKKh0IeX9GoB","name":"IDEAL"}]}