agente-lotérica-76Wurgu2WIGsrkWL.json
{"createdAt":"2025-04-03T15:03:12.978Z","updatedAt":"2025-04-07T22:15:01.000Z","id":"76Wurgu2WIGsrkWL","name":"Agente Lotérica","active":false,"nodes":[{"parameters":{"options":{}},"id":"77763e5e-efd9-4e70-a454-6c907dfd494a","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-320,-80],"webhookId":"be9271cc-4728-4dea-9c84-1afad834219d"},{"parameters":{},"id":"ed942b9b-33ea-4aa8-8e34-bd0899846fee","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[0,100]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=Você é um agente que usa MCP (model context protocol). Use o 'BuscarTool' para informações de ferramentas. Use 'ExecutarTool' para executar ferramentas."}},"id":"609bcb20-f243-4d06-9413-257dfcf1640e","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-60,-80]},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-180,100],"id":"328f103e-bc05-4708-98c4-f95d5b462fa2","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"tIhbGtIIM3DTCmSt","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"resource":"messages-api","instanceName":"NOME DA INSTANCIA AQUI","remoteJid":"NUMERO Do CLIENTE","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[400,-80],"id":"520a55fa-8f79-405f-9bdd-82524f9569e0","name":"Evolution API","credentials":{"evolutionApi":{"id":"mU2ft3XEG68nfK3p","name":"Evo-Ronny-Hostinger"}}},{"parameters":{"toolDescription":"Teste","url":"https://www.loteriasonline.caixa.gov.br/silce-web/#/bolao-caixa/9833"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[180,100],"id":"3c31a0cd-927a-473a-b039-49cbfd9ef40c","name":"HTTP Request"},{"parameters":{"url":"https://www.loteriasonline.caixa.gov.br/silce-servico-rest/rest/v1/Y29tYm9z/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:137.0) Gecko/20100101 Firefox/137.0"},{"name":"Referer","value":"https://www.loteriasonline.caixa.gov.br/silce-web/"},{"name":"Origin","value":"https://www.loteriasonline.caixa.gov.br"},{"name":"Cookie","value":"__uzma=5e4e558c-a341-4386-9802-d603bfd2aaf2; __uzmb=1743702608; __uzme=6830; __uzmc=149204945100; __uzmd=1743703160; ..."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[40,-320],"id":"a53272c5-29d8-4cda-b553-6474d517f78e","name":"HTTP Request1"},{"parameters":{"options":{}},"id":"fadea4ec-39aa-43ea-85fa-82740144268c","name":"Tratar Dados","type":"n8n-nodes-base.set","typeVersion":2,"position":[240,-320]}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"HTTP Request":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c81555e3-d5fb-4107-9093-704e6a09b242","triggerCount":0,"tags":[]}