api_front_cobranca-4POgtE1pCHMwCOmq.json
{"createdAt":"2025-02-22T12:30:23.329Z","updatedAt":"2025-02-22T12:30:23.329Z","id":"4POgtE1pCHMwCOmq","name":"API_FRONT_COBRANCA","active":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"CREATE TABLE IF NOT EXISTS usuarios (\n    id SERIAL PRIMARY KEY,\n    nome_completo VARCHAR(255) NOT NULL,\n    email VARCHAR(255) NOT NULL UNIQUE,\n    senha VARCHAR(255) NOT NULL,\n    token_recuperacao VARCHAR(255),\n    data_expiracao_token TIMESTAMP,\n    criado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[380,840],"id":"be9ec2b5-37dc-4a9b-bb0b-07c92bd6b8bd","name":"Criar_TabelaUsuario","credentials":{"postgres":{"id":"dorSzCjZrBEhBu7m","name":"Postgres account"}}},{"parameters":{"multipleMethods":true,"httpMethod":["POST"],"path":"criarConta","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-60,600],"id":"9f229647-3b77-4d8c-8fb7-f664c84f4ef4","name":"Webhook1","webhookId":"076ef9eb-ca37-4992-b925-e919a97e7e1b","notesInFlow":false},{"parameters":{"operation":"executeQuery","query":"SELECT to_regclass('public.usuarios') IS NOT NULL AS tabela_existe;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[100,840],"id":"9b22365f-f423-45c9-b911-65dbaca16313","name":"Verificar se a Tabela Existe","credentials":{"postgres":{"id":"dorSzCjZrBEhBu7m","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) AS user_count FROM usuarios WHERE email = '{{ $('api_banco').item.json.email }}';\n\n\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[620,840],"id":"848a35cb-4939-4cad-b2f8-714d8bffcfac","name":"Verificar se Usu치rio Existe","credentials":{"postgres":{"id":"dorSzCjZrBEhBu7m","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO usuarios (nome_completo, email, senha)\nVALUES ('{{ $('Validar Dados do Usu치rio').item.json.nome_completo }}', '{{ $('Validar Dados do Usu치rio').item.json.email }}', md5('{{ $('Validar Dados do Usu치rio').item.json.senha }}'));\n\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1300,840],"id":"887530a9-6e0a-43e4-b1b0-cc215cede36c","name":"Cria Usuario","credentials":{"postgres":{"id":"dorSzCjZrBEhBu7m","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"92b2ef5c-6501-4d37-94ac-1d27d54380ff","name":"nome_completo","value":"={{ $json.body.nome_completo }}","type":"string"},{"id":"d6d61149-ab91-4691-8b7c-139a2d769fad","name":"email","value":"={{ $json.body.email }}","type":"string"},{"id":"931e358c-5b78-42c3-8a04-c603be2fd875","name":"senha","value":"={{ $json.body.senha }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[100,600],"id":"5e628560-db6e-45b4-9fa5-48f27881bff2","name":"api_banco"},{"parameters":{"assignments":{"assignments":[{"id":"cedaf959-2f14-4866-9812-fef7cd98864f","name":"nome_completo","value":"={{ $('api_banco').item.json.nome_completo }}","type":"string"},{"id":"58f70f56-307e-4e0b-93f8-53aee1e3a57e","name":"email","value":"={{ $('api_banco').item.json.email }}","type":"string"},{"id":"9bf8270a-7e07-4725-903d-efdd7dce4610","name":"senha","value":"={{ $('api_banco').item.json.senha }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,840],"id":"ed1a8b4c-e118-41b8-8096-072b61047ed3","name":"Validar Dados do Usu치rio"},{"parameters":{"httpMethod":"POST","path":"webhook/api/login","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-40,180],"id":"59fec897-5912-4e55-b454-cf078a27c7ea","name":"Webhook","webhookId":"5f801bf7-f152-458d-ac2c-5728b425ab8b"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200,"responseKey":"={\n  \"sucesso\": true,\n  \"mensagem\": \"Login bem-sucedido!\"\n}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1040,60],"id":"d7fe8f1f-657b-42fc-90a9-b7c2408cd6dd","name":"Respond to Webhook1"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM usuarios WHERE email = '{{ $json.body.email }}';\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[120,180],"id":"bca16e54-b9dd-4599-8bca-868ebd4536ef","name":"Verificar_Usuario","credentials":{"postgres":{"id":"dorSzCjZrBEhBu7m","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"46b86bd9-9c64-42b1-a796-346cd1527d2e","leftValue":"={{ $json.id }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[280,180],"id":"aecef68e-277c-4bac-b316-b282c286ebac","name":"If_UsuarioExiste"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":401,"responseKey":"={\n  \"sucesso\": false,\n  \"mensagem\": \"Email ou senha incorretos.\"\n}\n"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1040,260],"id":"f16352f0-1a5b-435a-8459-0c13aeb74d3a","name":"Respond_Erro"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"83886555-5f5e-42a4-aa59-dc61d97d1ae6","leftValue":"={{ Object.keys($json).length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[800,80],"id":"cd5bc37d-9830-444c-91f6-d2bd8efac320","name":"If_SenhaCorreta"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM usuarios WHERE email = $1 AND senha = md5($2);","options":{"queryReplacement":"=[\n  \"{{ $('Webhook').item.json.body.email }}\",\n  \"{{ $('Webhook').item.json.body.senha }}\"\n]"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[520,80],"id":"c4972336-366b-4f02-a7f7-6d123fc5570f","name":"Verificar_Senha","credentials":{"postgres":{"id":"dorSzCjZrBEhBu7m","name":"Postgres account"}}},{"parameters":{"jsCode":"return {\n  json: {\n    sucesso: true,\n    mensagem: \"Login bem-sucedido!\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,80],"id":"0fd4eb5a-61db-4fcd-b1b3-d4beb6c6d377","name":"Code"},{"parameters":{"content":"## LOGIN\n**Verifica se o usu치rio existe no banco e se as credencias est칚o corretas.\n","height":420,"width":1360},"type":"n8n-nodes-base.stickyNote","position":[-80,20],"typeVersion":1,"id":"5c75eae1-4fd5-418b-a8eb-8ad3a82abcef","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[580,280],"id":"f08763a1-766d-42da-b702-175048a37700","name":"No Operation, do nothing"},{"parameters":{"content":"## TRATAMENTO BANCO\n**Cria o Banco e insere o novo usu치rio","height":560,"width":2000,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-80,480],"typeVersion":1,"id":"832b0957-8661-409d-b33c-586cc473194f","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"74aff4ec-5035-4fe1-b0e5-e3784cd0ddc0","leftValue":"={{ $json.tabela_existe }}\n","rightValue":"\"false\"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[380,660],"id":"c6131b80-446d-4cd1-bf70-6fc370064c49","name":"conticional da tabela"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"617c84bc-11b5-4924-9813-364ce1b93012","leftValue":"={{ parseInt($json[\"data\"][0][\"user_count\"], 10) }}\n\n","rightValue":"0","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[900,720],"id":"f10a137d-e853-4e8b-a561-8d64c2ff325f","name":"condicional usu치rio"},{"parameters":{"assignments":{"assignments":[{"id":"b3eaec47-7f7b-4b43-a155-dec398ad1812","name":"mensagem","value":"={{$json[\"success\"] ? \"Usu치rio criado com sucesso!\" : \"Erro ao criar usu치rio.\"}}","type":"string"},{"id":"bedf5161-2e3b-4c9e-9f8f-cf55f783af66","name":"sucesso","value":"={{$json[\"success\"] !== undefined ? $json[\"success\"] : false}}\n","type":"string"},{"id":"1a5b41a5-d289-4939-a16f-77291b2f27d7","name":"timestamp","value":"={{(new Date()).toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' })}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,600],"id":"34e3f399-ce42-4397-b700-4f80560ddc9c","name":"Formata Resposta Erro"},{"parameters":{"assignments":{"assignments":[{"id":"b3eaec47-7f7b-4b43-a155-dec398ad1812","name":"mensagem","value":"={{$json[\"success\"] ? \"Usu치rio criado com sucesso!\" : \"Erro ao criar usu치rio.\"}}","type":"string"},{"id":"bedf5161-2e3b-4c9e-9f8f-cf55f783af66","name":"sucesso","value":"={{$json[\"success\"] !== undefined ? $json[\"success\"] : false}}\n","type":"string"},{"id":"1a5b41a5-d289-4939-a16f-77291b2f27d7","name":"timestamp","value":"={{(new Date()).toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' })}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1480,760],"id":"44b100b1-b656-4426-8e9a-2b993f1edd5d","name":"Formata Resposta Sucesso"},{"parameters":{"httpMethod":"POST","path":"recuperar-senha","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-40,1220],"id":"7351bbad-7c73-46ce-8211-a2f22fbb1d4f","name":"RecuperarSenha","webhookId":"bc0faf29-b070-4912-af1b-ed257e060657"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM usuarios WHERE email = '{{ $json[\"body\"][\"email\"] }}';\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[100,1220],"id":"a2f2f453-e06e-425f-abac-6eb464e2b1bf","name":"Buscar_Usuario","credentials":{"postgres":{"id":"dorSzCjZrBEhBu7m","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e84884b5-6d4f-4e3f-887b-7a719dac68e3","leftValue":"={{ $json.id }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,1220],"id":"443a4211-48dc-48ba-b88e-e7e5e41a278e","name":"If_UsuarioExiste1"},{"parameters":{"assignments":{"assignments":[{"id":"253296d2-1658-4bfc-8ea0-037eb6c61d44","name":"token","value":"={{ Math.random().toString(36).substr(2, 8).replace(/\\s+/g, '') }}\n\n\n\n","type":"string"},{"id":"0ecd9767-97eb-43c8-bdc9-3555121630d7","name":"expiracao","value":"={{ $now.plus({hours: 1}).toISO().replace(/\\s+/g, '') }}\n\n\n\n\n\n","type":"string"},{"id":"4dabb07c-d24c-4383-ac1c-0ae646d5d064","name":"usuarioID","value":"={{ $json.id }}\n","type":"number"},{"id":"73270bcd-54a2-49a5-afd8-0c3ecfddbcb7","name":"email","value":"={{ $json.email.replace(/\\s+/g, '') }}\n\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,1180],"id":"033a61ae-3f76-41e5-bacb-fcb2cdfaafac","name":"Gerar_Token"},{"parameters":{"operation":"executeQuery","query":"UPDATE usuarios \nSET \n    token_recuperacao = '{{ $json.token }}', \n    data_expiracao_token = '{{ $json.expiracao }}';\n\n\n\n\n\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[740,1180],"id":"af7e6cc7-6c4c-4b5b-9448-df5244835582","name":"Salvar_Token","credentials":{"postgres":{"id":"dorSzCjZrBEhBu7m","name":"Postgres account"}}},{"parameters":{"sendTo":"={{ $('If_UsuarioExiste1').item.json.email }}","subject":"Recupera칞칚o de Senha","message":"=Ol치, \n\nRecebemos uma solicita칞칚o para redefinir sua senha.\n\nClique no link abaixo para redefinir sua senha:\n\nhttp://localhost:3000/sis-cobrancas/redefinirsenha/{{ $('Gerar_Token').item.json.token }}\n\nSe voc칡 n칚o solicitou essa altera칞칚o, ignore este e-mail.\n\nAtenciosamente,  \nEquipe de Suporte\n","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,1180],"id":"a07ad2fc-d473-4c98-bba5-76473527eeda","name":"Gmail","webhookId":"6f1bd369-53e4-41d7-afd7-943016be6fbf","credentials":{"gmailOAuth2":{"id":"AtBfcN9TlGm7Nt8I","name":"Gmail account"}}},{"parameters":{"options":{"responseCode":400,"responseKey":"={   \n  \"success\": false,   \n  \"message\": \"E-mail n칚o encontrado. Verifique e tente novamente.\"\n}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,1340],"id":"b49135e3-60ed-43bd-81cf-b4e0ad11987a","name":"Retornar_Erro"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200,"responseKey":"=$json\n"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1200,1180],"id":"fbd480c5-c767-40fd-9f47-077fdb7fd0a2","name":"Retornar_Sucesso"},{"parameters":{"jsCode":"return {\n  json: {\n    sucesso: true,\n    mensagem: \"Se este email estiver cadastrado, voc칡 receber치 um link para redefinir sua senha.\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,1180],"id":"674228fd-8378-4a84-806e-1f43ff7c321f","name":"Code1"},{"parameters":{"jsCode":"const cleanedData = $input.all().map(item => {\n    return {\n        token: item.json.token.replace(/\\s+/g, ''),  // Remove \\n e espa칞os\n        expiracao: item.json.expiracao.replace(/\\s+/g, ''),  // Remove espa칞os\n        usuarioID: item.json.usuarioID,  // Mant칠m como n칰mero\n        email: item.json.email.replace(/\\s+/g, '') // Remove \\n do email\n    };\n});\n\nreturn cleanedData;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[600,1180],"id":"2b6c4990-9e9f-492f-9ecf-dc6a6c69f572","name":"Formata_saida"},{"parameters":{"content":"## RECUPERA SENHA \n**envia o email como link de recupera칞칚o","height":360,"width":1480,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-80,1120],"typeVersion":1,"id":"dd1cf31e-b470-4a90-9262-0e3ef85c13fc","name":"Sticky Note2"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":201,"responseHeaders":{"entries":[{"name":"=application","value":"json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1680,600],"id":"bcfb12c7-6afc-4850-8f91-949ac1de0029","name":"Respond to Webhook3"},{"parameters":{"httpMethod":"POST","path":"/redefinirsenha","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-20,1680],"id":"eb1b3906-e0e0-4868-93a3-df6279df46e2","name":"Webhook3","webhookId":"924e8295-ae4d-4f4b-88be-efeb215b22db"},{"parameters":{"jsCode":"const token = $input.first().json.body.token;\nconst senha = $input.first().json.body.senha;\n\nconsole.log(\"游댌 Token recebido:\", token);\nconsole.log(\"游댌 Nova senha recebida:\", senha);\n\nif (!token) {\n  return {\n    json: {\n      sucesso: false,\n      mensagem: \"Token n칚o informado.\"\n    }\n  };\n}\n\nreturn {\n  json: {\n    tokenRecebido: token, \n    novaSenha: senha\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[180,1680],"id":"8af38c07-4796-48f2-8110-3b11a81b8755","name":"Validar Token1"},{"parameters":{"operation":"executeQuery","query":"UPDATE usuarios \nSET senha = md5($1), \n    token_recuperacao = NULL, \n    data_expiracao_token = NULL \nWHERE token_recuperacao = $2 \nRETURNING id;\n","options":{"queryReplacement":"=[\n  \"{{$json.novaSenha}}\",\n  \"{{$json.tokenRecebido}}\"\n]\n"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[360,1680],"id":"e0235d66-4ed0-464a-8777-478a9306e1e8","name":"Atualizar Senha1","credentials":{"postgres":{"id":"dorSzCjZrBEhBu7m","name":"Postgres account"}}},{"parameters":{"options":{"responseCode":200,"responseKey":"=const resultado = $input.first().json;\n\nif (resultado && resultado.length > 0 && resultado[0].id) {\n  return {\n    json: {\n      sucesso: true,\n      mensagem: \"Senha redefinida com sucesso!\"\n    }\n  };\n} else {\n  return {\n    json: {\n      sucesso: false,\n      mensagem: \"Token inv치lido ou expirado.\"\n    }\n  };\n}\n"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[560,1680],"id":"f2c85213-2df6-45bb-a9b6-631f3b30229c","name":"Respond to Webhook"},{"parameters":{"content":"## Redefine Senha \n**Verifica token e atualiza senha**","height":340,"width":880,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-80,1540],"typeVersion":1,"id":"098d78e4-f6ea-46cd-8357-0b0e0bc07a18","name":"Sticky Note4"}],"connections":{"Webhook1":{"main":[[{"node":"api_banco","type":"main","index":0}]]},"Verificar se a Tabela Existe":{"main":[[{"node":"conticional da tabela","type":"main","index":0}]]},"Verificar se Usu치rio Existe":{"main":[[{"node":"condicional usu치rio","type":"main","index":0}]]},"Cria Usuario":{"main":[[{"node":"Formata Resposta Sucesso","type":"main","index":0}]]},"Criar_TabelaUsuario":{"main":[[{"node":"Verificar se Usu치rio Existe","type":"main","index":0}]]},"api_banco":{"main":[[{"node":"Verificar se a Tabela Existe","type":"main","index":0}]]},"Validar Dados do Usu치rio":{"main":[[{"node":"Cria Usuario","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Verificar_Usuario","type":"main","index":0}]]},"Verificar_Usuario":{"main":[[{"node":"If_UsuarioExiste","type":"main","index":0}]]},"If_UsuarioExiste":{"main":[[{"node":"Verificar_Senha","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If_SenhaCorreta":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}],[{"node":"Respond_Erro","type":"main","index":0}]]},"Verificar_Senha":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"If_SenhaCorreta","type":"main","index":0}]]},"conticional da tabela":{"main":[[{"node":"Criar_TabelaUsuario","type":"main","index":0}],[]]},"condicional usu치rio":{"main":[[{"node":"Formata Resposta Erro","type":"main","index":0}],[{"node":"Validar Dados do Usu치rio","type":"main","index":0}]]},"Formata Resposta Erro":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Formata Resposta Sucesso":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"RecuperarSenha":{"main":[[{"node":"Buscar_Usuario","type":"main","index":0}]]},"Buscar_Usuario":{"main":[[{"node":"If_UsuarioExiste1","type":"main","index":0}]]},"If_UsuarioExiste1":{"main":[[{"node":"Gerar_Token","type":"main","index":0}],[{"node":"Retornar_Erro","type":"main","index":0}]]},"Gerar_Token":{"main":[[{"node":"Formata_saida","type":"main","index":0}]]},"Salvar_Token":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Retornar_Sucesso","type":"main","index":0}]]},"Formata_saida":{"main":[[{"node":"Salvar_Token","type":"main","index":0}]]},"Webhook3":{"main":[[{"node":"Validar Token1","type":"main","index":0}]]},"Validar Token1":{"main":[[{"node":"Atualizar Senha1","type":"main","index":0}]]},"Atualizar Senha1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"0d40382e-9d43-49c5-b76a-c60959537a80","triggerCount":0,"tags":[]}