associação-melancias-3HxmB49gz1OszHn0.json
{"createdAt":"2025-03-05T16:05:00.576Z","updatedAt":"2025-03-23T15:17:44.000Z","id":"3HxmB49gz1OszHn0","name":"ASSOCIAÇÃO MELANCIAS","active":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"CREATE TABLE associados (\n    id SERIAL PRIMARY KEY,\n    nome VARCHAR(255) NOT NULL,\n    pai VARCHAR(255),  \n    mae VARCHAR(255), \n    cpf VARCHAR(14) NOT NULL UNIQUE, \n    rg VARCHAR(50),\n    nascimento DATE,\n    naturalidade VARCHAR(100),\n    sexo VARCHAR(10),  \n    titulo_eleitoral VARCHAR(50),\n    zona_eleitoral VARCHAR(10),\n    secao_eleitoral VARCHAR(10),\n    profissao VARCHAR(100),\n    escolaridade VARCHAR(100),\n    estado_civil VARCHAR(50),  \n    conjuge VARCHAR(255),\n    conjuge_pai VARCHAR(255),\n    conjuge_mae VARCHAR(255),\n    conjuge_nascimento DATE,\n    conjuge_naturalidade VARCHAR(100), \n    conjuge_rg VARCHAR(50),\n    conjuge_cpf VARCHAR(14) UNIQUE,  \n    conjuge_titulo_eleitoral VARCHAR(50),\n    conjuge_zona_eleitoral VARCHAR(10),\n    conjuge_secao_eleitoral VARCHAR(10),\n    endereco_rua VARCHAR(255),  \n    endereco_numero VARCHAR(10),\n    distrito VARCHAR(255),\n    municipio VARCHAR(100),\n    estado VARCHAR(50),\n    data_associacao DATE,  \n    data_criacao TIMESTAMP DEFAULT CURRENT_TIMESTAMP  \n);\n\n-- Criar índices para buscas mais rápidas\nCREATE INDEX idx_associados_cpf ON associados (cpf);\nCREATE INDEX idx_associados_nome ON associados (nome);\n\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1220,-260],"id":"8f8d587e-cd01-4ff8-b85e-619b4253c09d","name":"Postgres","credentials":{"postgres":{"id":"7a2Vz2gtRVeYNBS4","name":"Postgres"}}},{"parameters":{"path":"associado","formTitle":"APROVAPA","formDescription":"Associação dos Produtores do Vale do Palhano e Adjacência","formFields":{"values":[{"fieldLabel":"Nome Completo","placeholder":"Digite seu nome","requiredField":true},{"fieldLabel":"CPF","placeholder":"Digite seu CPF","requiredField":true},{"fieldLabel":"Nome do Pai","placeholder":"Digite o nome do pai"},{"fieldLabel":"Nome da Mãe","placeholder":"Digite o nome da mãe"},{"fieldLabel":"Data de Nascimento","fieldType":"date","requiredField":true},{"fieldLabel":"Naturalidade","placeholder":"Informe sua cidade de nascimento"},{"fieldLabel":"Sexo","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Masculino"},{"option":"Feminino"}]},"requiredField":true},{"fieldLabel":"RG","placeholder":"Digite seu RG"},{"fieldLabel":"Título Eleitoral","placeholder":"Digite o número do título eleitoral"},{"fieldLabel":"Zona Eleitoral","placeholder":"Informe sua zona eleitoral"},{"fieldLabel":"Seção Eleitoral","placeholder":"Informe sua seção eleitoral"},{"fieldLabel":"Profissão","placeholder":"Digite sua profissão"},{"fieldLabel":"Escolaridade","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Ensino Fundamental - Completo"},{"option":"Ensino Fundamental - Incompleto"},{"option":"Ensino Médio - Completo"},{"option":"Ensino Médio - Incompleto"},{"option":"Ensino Superior - Incompleto"},{"option":"Ensino Superior - Completo"},{"option":"Sem Estudo"}]},"requiredField":true},{"fieldLabel":"Estado Civil","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Casado"},{"option":"Solteiro"},{"option":"Divorciado"},{"option":"Viúvo"}]},"requiredField":true},{"fieldLabel":"Nome do Cônjuge","placeholder":"Digite o nome do cônjuge (se aplicável)"},{"fieldLabel":"Nome do Pai do Cônjuge","placeholder":"Digite o nome do pai do cônjuge"},{"fieldLabel":"Nome da Mãe do Cônjuge","placeholder":"Digite o nome da mãe do cônjuge"},{"fieldLabel":"Data de Nascimento do Cônjuge","fieldType":"date"},{"fieldLabel":"Naturalidade do Cônjuge","placeholder":"Informe a cidade de nascimento do cônjuge"},{"fieldLabel":"RG do Cônjuge","placeholder":"Digite o RG do cônjuge"},{"fieldLabel":"CPF do Cônjuge","placeholder":"Digite o CPF do cônjuge"},{"fieldLabel":"Título Eleitoral do Cônjuge","placeholder":"Digite o número do título eleitoral do cônjuge"},{"fieldLabel":"Zona Eleitoral do Cônjuge","placeholder":"Informe a zona eleitoral do cônjuge"},{"fieldLabel":"Seção Eleitoral do Cônjuge","placeholder":"Informe a seção eleitoral do cônjuge"},{"fieldLabel":"Rua / Avenida","placeholder":"Digite o nome da rua ou avenida","requiredField":true},{"fieldLabel":"Número","placeholder":"Digite o número da casa/apartamento","requiredField":true},{"fieldLabel":"Distrito / Bairro","placeholder":"Informe o distrito"},{"fieldLabel":"Município","placeholder":"Informe o município","requiredField":true},{"fieldLabel":"Estado","placeholder":"Informe o estado","requiredField":true},{"fieldLabel":"Data de Associação","fieldType":"date","requiredField":true}]},"options":{"appendAttribution":true,"buttonLabel":"Enviar"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2,"position":[-1220,0],"id":"a47593f4-de08-49a8-ab9b-d01122a4d5c7","name":"Formulario","webhookId":"3d5d1f0d-27a0-4795-9cc6-a88633eba364"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO associados (\n    nome, cpf, pai, mae, nascimento, naturalidade, sexo, rg, titulo_eleitoral, \n    zona_eleitoral, secao_eleitoral, profissao, escolaridade, estado_civil, \n    conjuge, conjuge_pai, conjuge_mae, conjuge_nascimento, conjuge_naturalidade, \n    conjuge_rg, conjuge_cpf, conjuge_titulo_eleitoral, conjuge_zona_eleitoral, \n    conjuge_secao_eleitoral, endereco_rua, endereco_numero, distrito, municipio, \n    estado, data_associacao, data_criacao\n) VALUES (\n    '{{$json[\"Nome Completo\"]}}', \n    '{{$json[\"CPF\"]}}', \n    '{{$json[\"Nome do Pai\"]}}', \n    '{{$json[\"Nome da Mãe\"]}}', \n    '{{$json[\"Data de Nascimento\"]}}', \n    '{{$json[\"Naturalidade\"]}}', \n    '{{$json[\"Sexo\"]}}', \n    '{{$json[\"RG\"]}}', \n    '{{$json[\"Título Eleitoral\"]}}', \n    '{{$json[\"Zona Eleitoral\"]}}', \n    '{{$json[\"Seção Eleitoral\"]}}', \n    '{{$json[\"Profissão\"]}}', \n    '{{$json[\"Escolaridade\"]}}', \n    '{{$json[\"Estado Civil\"]}}', \n    '{{$json[\"Nome do Cônjuge\"]}}', \n    '{{$json[\"Nome do Pai do Cônjuge\"]}}', \n    '{{$json[\"Nome da Mãe do Cônjuge\"]}}', \n    '{{$json[\"Data de Nascimento do Cônjuge\"]}}', \n    '{{$json[\"Naturalidade do Cônjuge\"]}}', \n    '{{$json[\"RG do Cônjuge\"]}}', \n    '{{$json[\"CPF do Cônjuge\"]}}', \n    '{{$json[\"Título Eleitoral do Cônjuge\"]}}', \n    '{{$json[\"Zona Eleitoral do Cônjuge\"]}}', \n    '{{$json[\"Seção Eleitoral do Cônjuge\"]}}', \n    '{{$json[\"Rua / Avenida\"]}}', \n    '{{$json[\"Número\"]}}', \n    '{{$json[\"Distrito / Bairro\"]}}', \n    '{{$json[\"Município\"]}}', \n    '{{$json[\"Estado\"]}}', \n    '{{$json[\"Data de Associação\"]}}', \n    NOW()\n);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1000,0],"id":"877807d4-fa18-4b6f-aec1-e11e4ea9b7db","name":"Postgres1","credentials":{"postgres":{"id":"7a2Vz2gtRVeYNBS4","name":"Postgres"}}},{"parameters":{"content":"## Create Table \n","height":240},"type":"n8n-nodes-base.stickyNote","position":[-1260,-340],"typeVersion":1,"id":"3d28b627-1a8a-4fdc-9312-f4e86677feed","name":"Sticky Note"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1p_CNdvfB4WrwEhZszUULrlpYrMGVZVq8fImaeXFStq4","mode":"list","cachedResultName":"Associado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p_CNdvfB4WrwEhZszUULrlpYrMGVZVq8fImaeXFStq4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":291256385,"mode":"list","cachedResultName":"Modelo_Tabela_Google_Sheets.csv","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p_CNdvfB4WrwEhZszUULrlpYrMGVZVq8fImaeXFStq4/edit#gid=291256385"},"columns":{"mappingMode":"defineBelow","value":{"Nome Completo":"={{ $('Formulario').item.json[\"Nome Completo\"] }}","CPF":"={{ $('Formulario').item.json.CPF }}","Nome do Pai":"={{ $('Formulario').item.json[\"Nome do Pai\"] }}","Nome da Mãe":"={{ $('Formulario').item.json[\"Nome da Mãe\"] }}","Data de Nascimento":"={{ $('Formulario').item.json[\"Data de Nascimento\"] }}","Naturalidade":"={{ $('Formulario').item.json.Naturalidade }}","Sexo":"={{ $('Formulario').item.json.Sexo }}","RG":"={{ $('Formulario').item.json.RG }}","Título Eleitoral":"={{ $('Formulario').item.json[\"Título Eleitoral\"] }}","Zona Eleitoral":"={{ $('Formulario').item.json[\"Zona Eleitoral\"] }}","Seção Eleitoral":"={{ $('Formulario').item.json[\"Seção Eleitoral\"] }}","Profissão":"={{ $('Formulario').item.json[\"Profissão\"] }}","Escolaridade":"={{ $('Formulario').item.json.Escolaridade }}","Estado Civil":"={{ $('Formulario').item.json[\"Estado Civil\"] }}","Nome do Cônjuge":"={{ $('Formulario').item.json[\"Nome do Cônjuge\"] }}","Nome do Pai do Cônjuge":"={{ $('Formulario').item.json[\"Nome do Pai do Cônjuge\"] }}","Nome da Mãe do Cônjuge":"={{ $('Formulario').item.json[\"Nome da Mãe do Cônjuge\"] }}","Data de Nascimento do Cônjuge":"={{ $('Formulario').item.json[\"Data de Nascimento do Cônjuge\"] }}","Naturalidade do Cônjuge":"={{ $('Formulario').item.json[\"Naturalidade do Cônjuge\"] }}","RG do Cônjuge":"={{ $('Formulario').item.json[\"RG do Cônjuge\"] }}","CPF do Cônjuge":"={{ $('Formulario').item.json[\"CPF do Cônjuge\"] }}","Título Eleitoral do Cônjuge":"={{ $('Formulario').item.json[\"Título Eleitoral do Cônjuge\"] }}","Zona Eleitoral do Cônjuge":"={{ $('Formulario').item.json[\"Zona Eleitoral do Cônjuge\"] }}","Seção Eleitoral do Cônjuge":"={{ $('Formulario').item.json[\"Seção Eleitoral do Cônjuge\"] }}","Rua / Avenida":"={{ $('Formulario').item.json[\"Rua / Avenida\"] }}","Número":"={{ $('Formulario').item.json[\"Número\"] }}","Distrito / Bairro":"={{ $('Formulario').item.json[\"Distrito / Bairro\"] }}","Município":"={{ $('Formulario').item.json[\"Município\"] }}","Estado":"={{ $('Formulario').item.json.Estado }}","Data de Associação":"={{ $('Formulario').item.json[\"Data de Associação\"] }}","Data de Criação":"={{ $('Formulario').item.json.submittedAt }}"},"matchingColumns":[],"schema":[{"id":"Nome Completo","displayName":"Nome Completo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Pai","displayName":"Nome do Pai","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome da Mãe","displayName":"Nome da Mãe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data de Nascimento","displayName":"Data de Nascimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Naturalidade","displayName":"Naturalidade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sexo","displayName":"Sexo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RG","displayName":"RG","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Título Eleitoral","displayName":"Título Eleitoral","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Zona Eleitoral","displayName":"Zona Eleitoral","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Seção Eleitoral","displayName":"Seção Eleitoral","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Profissão","displayName":"Profissão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Escolaridade","displayName":"Escolaridade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estado Civil","displayName":"Estado Civil","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Cônjuge","displayName":"Nome do Cônjuge","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Pai do Cônjuge","displayName":"Nome do Pai do Cônjuge","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome da Mãe do Cônjuge","displayName":"Nome da Mãe do Cônjuge","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data de Nascimento do Cônjuge","displayName":"Data de Nascimento do Cônjuge","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Naturalidade do Cônjuge","displayName":"Naturalidade do Cônjuge","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RG do Cônjuge","displayName":"RG do Cônjuge","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CPF do Cônjuge","displayName":"CPF do Cônjuge","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Título Eleitoral do Cônjuge","displayName":"Título Eleitoral do Cônjuge","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Zona Eleitoral do Cônjuge","displayName":"Zona Eleitoral do Cônjuge","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Seção Eleitoral do Cônjuge","displayName":"Seção Eleitoral do Cônjuge","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Rua / Avenida","displayName":"Rua / Avenida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número","displayName":"Número","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Distrito / Bairro","displayName":"Distrito / Bairro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Município","displayName":"Município","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data de Associação","displayName":"Data de Associação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data de Criação","displayName":"Data de Criação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-780,0],"id":"94926d93-59ba-42f5-a2e1-1e5345c7ad65","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"nttSQQbjYoKrccHU","name":"Google IAHJ"}}},{"parameters":{"content":"## Insere no Banco e na Tabela SHEETS","height":240,"width":680,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1260,-80],"typeVersion":1,"id":"e3031659-549d-44ac-b0cd-f784a1c09547","name":"Sticky Note1"}],"connections":{"Formulario":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4437619e-5589-41ca-96a4-2860b97bb960","triggerCount":2,"tags":[]}