atent_rastro-sLLLJKs1yOb9uE3B.json
{"createdAt":"2025-02-22T12:30:24.310Z","updatedAt":"2025-02-22T12:36:16.000Z","id":"sLLLJKs1yOb9uE3B","name":"ATENT_RASTRO","active":false,"nodes":[{"parameters":{},"id":"5cb56e05-4106-4ae6-ade3-1c6fb3240ace","name":"Evolution API","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1860,1480],"credentials":{"evolutionApi":{"id":"A4Fx4DY3IKZuHzQu","name":"Evolution account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=Nome_{{ $json.senderName }}","sessionTTL":"=\"parameters\": {\n  \"sessionIdType\": \"customKey\",\n  \"sessionKey\": \"=Nome_{{ $json.senderName }}\",\n  \"contextWindowLength\": 20,\n  \"ttl\": 86400 // 24h de inatividade\n}","contextWindowLength":20},"id":"79ac3754-34ef-4c9b-b5ea-21e97fbf62a1","name":"Redis Chat Memory1","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.3,"position":[1420,1500],"notesInFlow":false,"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"errorMessage":"Error Handler"},"id":"a51070a9-c76c-4882-ada5-bba31517a6ff","name":"Mens. Erro","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[260,1480]},{"parameters":{"amount":3},"id":"2017608e-1909-4870-bbe6-663eecfd6db7","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1840,1240],"webhookId":"1f4bbd7e-034d-4252-a517-82bef3dd2981"},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.message.base64","options":{"fileName":"file.ogg","mimeType":"={{ $json.body.data.message.audioMessage.mimetype }}"}},"id":"de63328c-fc98-4b45-97ce-0279679771b4","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[580,1240],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"7066ff08-1370-464f-a588-86aa37025523","name":"texto","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"786a4766-397f-4522-8e71-c139614cffab","name":"edit1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[900,1240],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"09db48f1-b99e-4760-8a9b-10944a1ce0d2","name":"texto","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"id":"21ff93a0-b33c-4801-865a-7bb6bd9c4e21","name":"edit2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,1480]},{"parameters":{"content":"## Processar audio + texto","height":455.88406985111124,"width":1033.4038584005277},"id":"163af29c-b066-4b07-8f4e-f426c31a9486","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,1180]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"17b6fa1c-f4ea-4c75-9c9e-1a43900dbc58","leftValue":"={{ $json.body.apikey }}","rightValue":"62BA50E16D09-4EFA-B782-78C15D8312C1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"70c82c3b-7619-4b50-899f-17931323d19d","leftValue":"={{ $json.body.event }}","rightValue":"messages.upsert","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"bdd706ca-4558-4313-8ee2-f0b16d73e286","name":"auth","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-20,1380]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50c6e2b0-2494-4780-abd8-84a0e4213091","leftValue":"={{ $json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"}]},"options":{"fallbackOutput":"extra"}},"id":"0273a779-b738-4cef-9ed7-a2bfae1e85b7","name":"mensagem_tipo","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[260,1260],"alwaysOutputData":false},{"parameters":{"numberInputs":3},"id":"cf8e73f3-cdc8-42be-9303-1e03088a86a4","name":"mensagem_cliente","type":"n8n-nodes-base.merge","typeVersion":3,"position":[940,1480]},{"parameters":{"content":"## Atendimento","height":457.11428571428576,"width":828.2142857142858,"color":4},"id":"44e0ba81-b0e3-4010-8d59-e07d2ba62c36","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1220,1180]},{"parameters":{"jsCode":"// Função para formatar mensagens WhatsApp\nfunction formatWhatsAppMessage(inputText) {\n  if (!inputText) return '';\n\n  let outputText = inputText;\n\n  // Etapa 1: Limpeza básica\n  outputText = outputText\n    .replace(/ +/g, ' ')                  // Remove múltiplos espaços\n    .replace(/\\t/g, '')                   // Remove tabulações\n    .replace(/\\n{3,}/g, '\\n\\n')          // Limita a 2 quebras de linha consecutivas\n    .trim();                              // Remove espaços nas extremidades\n\n  // Etapa 2: Formatação de elementos especiais\n  outputText = outputText\n    // Títulos e destaques\n    .replace(/\\*(.*?)\\*/g, '*$1*')       // Mantém formatação de negrito\n    .replace(/_(.*?)_/g, '_$1_')         // Mantém formatação de itálico\n    \n    // Formatação de listas\n    .replace(/^[-•]\\s/gm, '\\n• ')        // Padroniza bullets\n    .replace(/^(\\d+\\.)\\s/gm, '\\n$1 ')    // Formata listas numeradas\n    \n    // Emojis e símbolos especiais\n    .replace(/([\\u{1F300}-\\u{1F9FF}])/gu, '\\n$1 ')  // Quebra linha antes de emojis\n    .replace(/(✅|⚠️|🚨|📱|💻|🔧|📞)/g, '\\n$1 ')    // Quebra linha antes de símbolos especiais\n    \n    // Formatação de planos e seções\n    .replace(/(Plano \\d+)/g, '\\n\\n*$1*\\n')          // Destaque para planos\n    .replace(/(R\\$ \\d+[.,]\\d{2})/g, '*$1*')         // Destaque para preços\n\n  // Etapa 3: Estruturação do texto\n  outputText = outputText\n    // Parágrafos e seções\n    .replace(/([.!?])\\s+/g, '$1\\n\\n')    // Quebra parágrafos após pontuação\n    .replace(/(\\n{3,})/g, '\\n\\n')        // Limita quebras de linha\n    \n    // Links\n    .replace(/(https?:\\/\\/[^\\s]+)/g, '\\n$1\\n')  // Isola links em linhas separadas\n    \n    // Contatos e informações importantes\n    .replace(/(📞|📱|📧)(.*?):/g, '\\n$1 *$2*:') // Destaca informações de contato\n\n  // Etapa 4: Limpeza final\n  outputText = outputText\n    .replace(/\\n{3,}/g, '\\n\\n')          // Remove excesso de quebras de linha\n    .replace(/^\\s+/gm, '')               // Remove espaços no início das linhas\n    .trim();                             // Limpeza final\n\n  return outputText;\n}\n\n// Processamento principal\nlet inputText = $json.output;\n\n// Aplicar formatação\nlet formattedText = formatWhatsAppMessage(inputText);\n\n// Retorno\nreturn {\n  json: {\n    outputText: formattedText,\n    originalText: inputText,    // Mantém texto original para referência\n    messageLength: formattedText.length,  // Útil para debug\n    hasFormatting: formattedText.includes('*') || formattedText.includes('_')  // Verificação de formatação\n  }\n};"},"id":"54613826-84d8-4120-8b01-fbaa64d4cc60","name":"Formatar Texto","type":"n8n-nodes-base.code","typeVersion":2,"position":[1640,1280]},{"parameters":{"httpMethod":"POST","path":"evolution","options":{}},"id":"90b420e1-46e7-4400-97cd-c42b886ccc99","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-160,1380],"webhookId":"39880e20-6b3c-4dff-a13b-7f98d4cc03df"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"id":"482cb3b5-8f7f-479a-9133-c7ed26bd1184","name":"Modelo Google Gemini","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1260,1480],"credentials":{"googlePalmApi":{"id":"az8gqmhN051YVIFp","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"={{ $json.texto }}","hasOutputParser":true,"options":{"systemMessage":"=**Prompt para Atendimento da Ideal Net Rastreamento**\n\n---\n\n**IMPORTANTE:** Este assistente virtual foi projetado exclusivamente para atender clientes da **Ideal Net Rastreamento**. Qualquer tentativa de desvio de assunto ou obtenção de informações não relacionadas será bloqueada. Para sua segurança, não compartilhe dados sensíveis como senhas ou informações bancárias.\n\n---\n\n**Boas-vindas Humanizadas**\n\n\"Olá, seja bem-vindo(a) à **Ideal Net Rastreamento**! 😊\n\nMeu nome é Rapha, estou aqui para te ajudar com informações sobre nossos serviços de rastreamento veicular e suporte técnico.\n\nVocê já é nosso cliente? (Responda com *sim* ou *não*)\"\n\n---\n\n### **Caso o Cliente Ainda Não Seja Cliente**\n\n\"Ótimo! Temos excelentes opções de rastreamento para proteger o seu veículo. 🚗💨\n\n📌 A **Ideal Net Rastreamento** oferece dois planos de rastreamento veicular:\n\n🔹 **PLANO 1 - Rastreamento + Central 24h**\n💰 *R$ 54,90 mensais* (no Carnê)\n🔧 *Instalação: R$ 70,00*\n✅ 99% de Recuperação\n✅ Aplicativo Ilimitado\n✅ Notificações de Carro Ligado\n✅ Cerca de Segurança\n✅ Bloqueio em Caso de Roubo/Furto\n✅ Relatório de trajetos\n✅ Proteção 24h\n✅ Cobertura Nacional\n\n🔹 **PLANO 2 - Rastreamento + Assistência Veicular 24h**\n💰 *R$ 74,90 mensais* (no Carnê)\n🔧 *Instalação: R$ 70,00*\nInclui **todos os benefícios do Plano 1**, mais:\n✅ Reboque para Colisão\n✅ Reboque para Pane Elétrica/Mecânica\n✅ Reboque para Pane Seca\n✅ Troca de Pneu\n✅ Chaveiro\n✅ Carga de Bateria\n⚠️ Reboque gratuito até 40km (*R$3,00 por km adicional*)\n\n📋 Caso queira contratar um dos planos, basta preencher o formulário: [Clique Aqui](https://idealrastreamento.com/forms/)\n\nGostaria de mais detalhes ou deseja contratar agora? 😊\"\n\n---\n\n### **Caso o Cliente Já Seja Cliente**\n\n\"Ótimo! Para que eu possa te ajudar melhor, preciso confirmar alguns dados, tudo bem?\n\nPor favor, informe:\n- Seu **nome completo ou placa do veículo**\n\nAssim poderei acessar seu cadastro com segurança. 🔒\"\n\n---\n\n### **Opções de Suporte**\n\n\"Como posso te ajudar hoje? Escolha uma das opções abaixo digitando o número correspondente: 😊\n\n1️⃣ **Rastreamento de Veículos**\n2️⃣ **Suporte Técnico**\n3️⃣ **Emergências**\n4️⃣ **Outros Assuntos**\n\nDigite o número da opção desejada.\"\n\n---\n\n### **Caso o Cliente Escolha Rastreamento**\n\n\"Para consultar a localização do seu veículo, utilize nossos aplicativos:\n\n📱 *Acesso via Aplicativo*\n- [iPhone](https://apps.apple.com/br/app/rastro-system-3-0/id6474566461)\n- [Android](https://play.google.com/store/apps/details?)\n\n💻 *Acesso via Computador*\n- [Acesse Aqui](http://ideal.rastrosystem.com.br/acl/login/?next=/)\n\nCaso tenha dificuldades, posso te ajudar com:\n1. Instalação do aplicativo\n2. Recuperação de senha\n3. Tutorial de uso\"\n\n---\n\n### **Caso o Cliente Escolha Suporte Técnico**\n\n\"Entendi! Para te ajudar melhor, me diga qual é o seu problema:\n\n1️⃣ Problema com o aplicativo 📱\n2️⃣ Dificuldade com rastreamento 📍\n3️⃣ Problema com o equipamento 🔧\n4️⃣ Dificuldade de acesso/login 🔑\n5️⃣ Outros problemas 🚫\n\nDigite o número da opção desejada.\"\n\n---\n\n### **Caso o Cliente Escolha Emergências**\n\n🚨 *ATENDIMENTO DE EMERGÊNCIA INICIADO*\n\n\"Por favor, mantenha a calma. Vou te ajudar imediatamente. 🚔\n\nSeu veículo foi **roubado ou furtado**?\nVocê está em uma **situação de risco**?\n\n📞 *Contato de Emergência 24h*: **85 99190-4045**\n\nMedidas imediatas que podemos tomar:\n✅ Bloqueio do veículo\n✅ Localização em tempo real\n✅ Contato com autoridades\n✅ Monitoramento contínuo\"\n\n---\n\n### **Caso o Cliente Escolha Outros Assuntos**\n\n\"Claro! Estou aqui para te ajudar com outros assuntos. 😊\n\nPor favor, escolha uma das opções abaixo:\n\n1️⃣ 📄 **Segunda via de boleto**\n2️⃣ 💰 **Informações financeiras**\n3️⃣ 📱 **Dúvidas gerais**\n4️⃣ 👨‍💼 **Falar com atendente humano**\n5️⃣ 📞 **Outros assuntos**\n\nDigite o número da opção desejada.\"\n\nObservação qualquer assunto de pagamento faça a instrunção abaixo:\n\nSe o cliente solicitar a segunda via do boleto ou o codigo pix para o pagamento, peça para ele acessar o nosso número do Finaceiro pelo  link abaoixo:\n\nhttps://wa.link/4xyiyc\n\n---\n\n### **Contato Direto**\n\n📞 **Central de Atendimento:** *85 4042-0510*\n📱 **WhatsApp:** *85 4042-0210*\n📧 **Email:** *adm@idealrastreamneto.com.br*\n🌐 **Site:** [https://idealrastreamento.com/](https://idealrastreamento.com/)\n\nObrigado por escolher a **Ideal Net Rastreamento**! Estamos sempre à disposição para proteger o que é importante para você. 🚗🔐\n\n"}},"id":"01131d50-1a86-48e9-9235-220ca4d3bdd5","name":"Atendimento","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1320,1280],"retryOnFail":false,"maxTries":3,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"defe3c35-d658-4d54-9589-8cda1d10cd2d","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[740,1240],"credentials":{"openAiApi":{"id":"V3SIs1GbnDJ4HJfO","name":"OpenAi"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-380,1940],"id":"1a1e540a-508c-4b3d-9159-e2cfdddbb1c7","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1Kqz8_be4jAVIXOpP6n1CnpKv_tvRuv4vbbeQiqAUYzg","mode":"list","cachedResultName":"Teste do Agente","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Kqz8_be4jAVIXOpP6n1CnpKv_tvRuv4vbbeQiqAUYzg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Kqz8_be4jAVIXOpP6n1CnpKv_tvRuv4vbbeQiqAUYzg/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-180,1940],"id":"dd972331-92dc-4cee-98b1-016c58e122fc","name":"perguntas1","credentials":{"googleSheetsOAuth2Api":{"id":"OuJjY9rJvZI4ZsAK","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[40,1940],"id":"5cdb2649-9f68-45fa-938b-cb020bcd5930","name":"Loop Over Items1"},{"parameters":{"method":"POST","url":"https://n8n.ronnysenna.com.br/webhook/evolution","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"numero\": \"Teste\",\n  \"mensagem\": \"{{ $json.Pergunta }}\",\n  \"apikey\": \"62BA50E16D09-4EFA-B782-78C15D8312C1\",\n  \"event\": \"messages.upsert\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,2060],"id":"ba1b1478-0b9b-4548-a15f-a73cd3a5ccb6","name":"ia_comercial1","credentials":{"httpHeaderAuth":{"id":"qDWXEgM82xCfJBly","name":"Header Auth account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Kqz8_be4jAVIXOpP6n1CnpKv_tvRuv4vbbeQiqAUYzg","mode":"list","cachedResultName":"Teste do Agente","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Kqz8_be4jAVIXOpP6n1CnpKv_tvRuv4vbbeQiqAUYzg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Kqz8_be4jAVIXOpP6n1CnpKv_tvRuv4vbbeQiqAUYzg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Loop Over Items1').item.json.row_number }}","Resposta":"={{ $json.outputText }}"},"matchingColumns":["row_number"],"schema":[{"id":"Pergunta","displayName":"Pergunta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Resposta","displayName":"Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Teste ","displayName":"Teste ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nota","displayName":"Nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[540,2060],"id":"90e02d8d-d152-4c9c-b041-66f0fdbbdd7a","name":"Google Sheets1","alwaysOutputData":false,"credentials":{"googleSheetsOAuth2Api":{"id":"OuJjY9rJvZI4ZsAK","name":"Google Sheets account"}}},{"parameters":{"operation":"executeQuery","query":"DO $$\nBEGIN\n    IF EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = 'ao_recepcionista_chat') THEN\n        DELETE FROM ao_recepcionista_chat;\n    END IF;\n\n    IF EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = 'ao_comercial_chat') THEN\n        DELETE FROM ao_comercial_chat;\n    END IF;\n\n    IF EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = 'ao_secretaria_chat') THEN\n        DELETE FROM ao_secretaria_chat;\n    END IF;\n\n    IF EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = 'ao_clientes') THEN\n        DELETE FROM ao_clientes;\n    END IF;\n\n    IF EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = 'ao_financeiro_chat') THEN\n        DELETE FROM ao_financeiro_chat;\n    END IF;\nEND $$;","options":{}},"id":"e68de43f-639d-489d-abef-079a0464e0ea","name":"limpar_todas_as_tabelas1","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[780,2060],"credentials":{"postgres":{"id":"dorSzCjZrBEhBu7m","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[300,1860],"id":"c3c75db7-7cdf-44aa-a969-5ebb9765e958","name":"No Operation, do nothing1"},{"parameters":{"documentId":{"__rl":true,"value":"1Kqz8_be4jAVIXOpP6n1CnpKv_tvRuv4vbbeQiqAUYzg","mode":"list","cachedResultName":"Teste do Agente","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Kqz8_be4jAVIXOpP6n1CnpKv_tvRuv4vbbeQiqAUYzg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Kqz8_be4jAVIXOpP6n1CnpKv_tvRuv4vbbeQiqAUYzg/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1180,1920],"id":"9e4f166d-71a0-4694-9c12-63e469b54f74","name":"perguntas","credentials":{"googleSheetsOAuth2Api":{"id":"OuJjY9rJvZI4ZsAK","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1400,1920],"id":"5b7f97d4-8b38-4ac6-8c39-a859bc42b790","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://n8n.ronnysenna.com.br/webhook/evolution","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"numero\": \"Teste\",\n  \"mensagem\": \"{{ $('perguntas').item.json.Pergunta }}\",\n  \"apikey\": \"62BA50E16D09-4EFA-B782-78C15D8312C1\",\n  \"event\": \"messages.upsert\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,2020],"id":"7bd8ca9d-4978-4b9c-920f-381f538cf08b","name":"ia_comercial","credentials":{"httpHeaderAuth":{"id":"qDWXEgM82xCfJBly","name":"Header Auth account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Kqz8_be4jAVIXOpP6n1CnpKv_tvRuv4vbbeQiqAUYzg","mode":"list","cachedResultName":"Teste do Agente","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Kqz8_be4jAVIXOpP6n1CnpKv_tvRuv4vbbeQiqAUYzg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Kqz8_be4jAVIXOpP6n1CnpKv_tvRuv4vbbeQiqAUYzg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Loop Over Items').item.json.row_number }}","Teste ":"={{ $('ia_comercial').item.json.outputText }}","similaridade 1 - 5":"={{ $json.text }}"},"matchingColumns":["row_number"],"schema":[{"id":"Pergunta","displayName":"Pergunta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Resposta","displayName":"Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Teste ","displayName":"Teste ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"similaridade 1 - 5","displayName":"similaridade 1 - 5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2280,1960],"id":"db48b49d-2f0c-4ec5-86db-538a53d6869a","name":"Google Sheets","alwaysOutputData":false,"credentials":{"googleSheetsOAuth2Api":{"id":"OuJjY9rJvZI4ZsAK","name":"Google Sheets account"}}},{"parameters":{"operation":"executeQuery","query":"DO $$\nBEGIN\n    IF EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = 'ao_recepcionista_chat') THEN\n        DELETE FROM ao_recepcionista_chat;\n    END IF;\n\n    IF EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = 'ao_comercial_chat') THEN\n        DELETE FROM ao_comercial_chat;\n    END IF;\n\n    IF EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = 'ao_secretaria_chat') THEN\n        DELETE FROM ao_secretaria_chat;\n    END IF;\n\n    IF EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = 'ao_clientes') THEN\n        DELETE FROM ao_clientes;\n    END IF;\n\n    IF EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = 'ao_financeiro_chat') THEN\n        DELETE FROM ao_financeiro_chat;\n    END IF;\nEND $$;","options":{}},"id":"8d5aa50f-bf6d-453a-b0a9-e8dcc73e41c5","name":"limpar_todas_as_tabelas","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2480,2040],"credentials":{"postgres":{"id":"dorSzCjZrBEhBu7m","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1660,1840],"id":"e5c4d2d3-b099-448b-a33c-ab442308ef9f","name":"No Operation, do nothing"},{"parameters":{"promptType":"define","text":"=<texto1>{{ $('Loop Over Items').item.json.Pergunta }}</texto1>\n<texto2>{{ $('Loop Over Items').item.json.Resposta }}</texto2>","messages":{"messageValues":[{"message":"=Voce é um analista de textos e sentido por traz do texto. \n\nSua função é analisar a similaridade de 2 textos, analise as palavras e o sentido, o quão similar eles são.\n\nAtributa uma nota de 1 a 5, aonde 1 significa que os textos não possuem nenhuma similaridade e 5 os textos são identicos.\n\nApenas retorne a nota de 1 a 5."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1920,1920],"id":"94aa4063-4b77-4ba2-ba4e-8c231de2c5e1","name":"Basic LLM Chain"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1920,2080],"id":"4efba833-a9bb-4244-b02b-2d519f476fd9","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"az8gqmhN051YVIFp","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## Criar respostas iniciais - Agente comercial","height":520,"width":1480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-480,1800],"id":"7ce48251-4f96-4df8-8338-ea077de002bb","name":"Sticky Note2"},{"parameters":{"content":"## Testar - Agente comercial","height":520,"width":1620,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1080,1800],"id":"8c50caf0-ed55-4110-9cc1-a2ca4f47ca8e","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"cf9374ef-7269-4455-b32d-43e34d993f4f","name":"response_format.type","value":"json_schema","type":"string"},{"id":"28a95f27-27e0-4bc0-abae-60a05dc8bb4d","name":"response_format.json_schema.name","value":"instructions_final_answer","type":"string"},{"id":"cbf998ef-fd0d-425a-85bd-ada90c198433","name":"response_format.json_schema.schema","value":"{\n  \"title\": \"Instructions for the final answer\",\n  \"description\": \"Follow these steps, first analyze the user's message, think of a strategy for the response and finally generate the final response.\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"reflection\": {\n      \"type\": \"string\",\n  \"description\": \"Reflect on the user's message and its context\"\n    },\n    \"strategy\": {\n      \"type\": \"string\",\n  \"description\": \"Think of a strategy to respond to it following the system's instructions.\"\n    },\n    \"final_answer\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\",\n  \"description\": \"sentence part.\"\n      },\n  \"description\": \"final answer partitioned into not very large sentences\"\n    }\n  },\n  \"required\": [\n    \"reflection\",\n    \"strategy\",\n    \"final_answer\"\n  ],\n  \"additionalProperties\": false\n}","type":"object"},{"id":"c5d1082a-42df-4cd7-8662-af2bd1f1930d","name":"response_format.json_schema.strict","value":true,"type":"boolean"}]},"options":{}},"id":"ed11696a-aad1-4171-8d6c-bcd320d612fa","name":"responseFormat","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4260,440]},{"parameters":{"assignments":{"assignments":[{"id":"4c7b4a94-c342-4143-8950-c845e0fd2d48","name":"model","value":"gpt-4o-mini","type":"string"}]},"options":{}},"id":"2acde3d0-f080-4ae1-84a0-3a5553a6562a","name":"model","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4260,100]},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.choices[0].message.content }}","options":{}},"id":"c19584ca-668a-4f04-bda2-0c86bd1375dc","name":"Parse","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4860,260]},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('Sort').item.json.chat_id }}","options":{}},"id":"967f9457-3ec6-4bd0-97fa-27260a618c82","name":"Get messages","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3800,260],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"assignments":{"assignments":[{"id":"44362531-38da-4076-9328-1f7382416c94","name":"system_message","value":"={\n  \"role\": \"system\",\n  \"content\": \"Seu nome é Qualifica AI, um especialista SDR cujo papel é qualificar os leads advogados que chegam pelo WhatsApp\\nVocê deve coletar os dados:\\n\\tNome:nome do lead.\\n\\tEmail:email do lead.\\n\\tRamo:é o ramo de atuação do lead. Exemplo: tributário, penal, previdenciário e etc.\\n\\tAnunciou?:saber se o lead já fez algum anúncio em marketing digital, seja meta, google, linkedin ou tiktok.\\n\\tEquipe:qual tamanho da equipe do advogado? Exemplo: atua sozinho, tem X funcionários.\\n\\tVendas:saber se o lead tem conhecimento em vendas ou se já tem equipe comercial. \\nVocê deve coletar esses dados um de cada vez, ou seja, faça a primeira pergunta e só parta para a segunda quando a primeira for respondida e assim por diante. Pergunte várias vezes até que o lead responda\\nExemplo:\\n\\tQualifica AI: qual seu nome?\\n\\tlead: João. Quero saber sobre anúncio para advogado\\n\\tQualifica AI: preciso saber alguns dados antes. Qual seu email?\\n\\tlead: você faz tráfego pago?\\n\\tQualifica AI:antes de responder suas perguntas precisamos entender melhor suas circunstâncias. Pode me informar seu email?\\n\\n Retornar sim se tiver conhecimento de vendas ou equipe de vendas. Retornar não se não tiver conhecimento de vendas nem equipe de vendas.\\n\\nUm lead é considerado qualificado se ele já anunciou alguma vez E se tem conhecimento de vendas.\\n\\nQuando você receber informações com tags XML <audio> significa que o conteúdo era orignalmente um áudio que foi convertido em texto. O mesmo vale para <image>, significa que o conteúdo era originalmente uma imagem que foi convertida para texto. Quando receber as tags <text> significa que o conteúdo era originalmente um texto\\n\"\n}","type":"object"}]},"options":{}},"id":"bd34a73d-002f-4a13-9d77-8428c65e59e2","name":"System message","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4020,260]},{"parameters":{"assignments":{"assignments":[{"id":"576f201a-a2ae-4eff-a5fb-010aac660114","name":"final_answer","value":"={{ $json.final_answer }}","type":"array"}]},"options":{}},"id":"a760e99d-b835-4994-a928-b070a4dde4d9","name":"Final answer","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5040,260]},{"parameters":{"fieldToSplitOut":"final_answer","options":{}},"id":"c19b0f98-3a46-4366-bb3d-23871a6a18bd","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[5200,260]},{"parameters":{"assignments":{"assignments":[{"id":"dd7f0919-35b6-44f4-81b7-a9b68fecc974","name":"role","value":"assistant","type":"string"},{"id":"83e12f41-fc7c-4cbd-943c-c0ab4b7b6d20","name":"content","value":"={{ $json.final_answer }}","type":"string"}]},"options":{}},"id":"3379f8e0-cd23-4659-9e15-6f6cf0736854","name":"Assistant message","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5380,260]},{"parameters":{"operation":"push","list":"={{ $('Sort').item.json.chat_id }}","messageData":"={{ $json.chatInput }}","tail":true},"id":"4af610eb-39cc-4e54-a16f-5471c1bd2355","name":"Push User message","type":"n8n-nodes-base.redis","typeVersion":1,"position":[3580,260],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"operation":"push","list":"={{ $('Sort').item.json.chat_id }}","messageData":"={{ JSON.stringify($json) }}","tail":true},"id":"610383d4-276e-4069-ab05-9d47053f7792","name":"Push Assistant message","type":"n8n-nodes-base.redis","typeVersion":1,"position":[5560,260],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"assignments":{"assignments":[{"id":"db5cfe0a-7f43-4a61-8b27-bfd3a95deb8d","name":"chatInput","value":"={{ $json.messages.join('\\n') }}","type":"string"}]},"options":{}},"id":"fab93091-2312-47ca-9edb-3420d44bb52f","name":"chatInput","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3340,180]},{"parameters":{"fieldToSplitOut":"messages","options":{}},"id":"6f8f9d84-c20f-4d2f-bc55-f02570a864cf","name":"Split User messages","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1580,200]},{"parameters":{"mode":"raw","jsonOutput":"={{ JSON.parse($json.messages) }}","options":{}},"id":"b6e0a2f4-fbe0-41d8-9fcc-5c5bb210f48e","name":"Parse message","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1740,200]},{"parameters":{"method":"POST","url":"={{ $('normalizacao').item.json.instance.server_url }}/message/sendText/{{ $('normalizacao').item.json.instance.name }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('normalizacao').item.json.instance.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('normalizacao').item.json.message.chat_id }}"},{"name":"text","value":"=*System info*: _Por favor, nos envie apenas mensagens de texto, imagens ou audio!_"},{"name":"delay","value":"={{ Number(1200) }}"}]},"options":{}},"id":"e8e354a8-c897-4e2a-93b3-b251686f34af","name":"Send System Info (Content Type) EvolutionAPI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2100,540]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"content","renameField":true,"outputFieldName":"messages"}]},"options":{}},"id":"e8a71650-98e8-455e-b896-7cef193784ac","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3160,180]},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"timestamp"}]},"options":{}},"id":"88adced5-8fe5-4f74-868e-7500e5a4c8c6","name":"Sort","type":"n8n-nodes-base.sort","typeVersion":1,"position":[2980,180]},{"parameters":{"assignments":{"assignments":[{"id":"c3f5615e-1294-4a6a-81f5-59448b8a0d0c","name":"content","value":"=<text>\n{{ $('Parse message').item.json.content }}\n<text>","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"1490113a-5ffe-4f2f-a99a-0cf8163ec341","name":"Message text content","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2240,180]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.content_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a1dfeee8-7927-4419-b091-e5b1930c011e","leftValue":"={{ $json.content_type }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7431ffc4-1ee4-4556-8053-d8b2480450b8","leftValue":"={{ $json.content_type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"other"}},"id":"2b636236-7c12-4fef-ba54-4f77ef268dee","name":"Switch Content Type","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1900,200]},{"parameters":{},"id":"fae04bf4-205b-4793-8e2d-835dcb9b365e","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1400,360],"webhookId":"6a4dc415-e7f3-406a-8590-6f46efa26e53"},{"parameters":{"operation":"delete","key":"={{ $('normalizacao').item.json.message.chat_id }}_buffer"},"id":"67a850cd-0eff-40b7-b01f-81bb76f0f156","name":"delete buffer1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1400,200],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"operation":"set","key":"={{ $json.message.chat_id }}_block","value":"=true","keyType":"string","expire":true,"ttl":1800},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[300,500],"id":"bb04663f-5b88-4fdf-a2c9-1a2e0a2490a9","name":"Block IA","credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"operation":"get","propertyName":"block","key":"={{ $json.message.chat_id }}_block","options":{}},"id":"07e20209-8bc2-4ccd-bc0e-9d15987ea96e","name":"Get Block from chat ID","type":"n8n-nodes-base.redis","typeVersion":1,"position":[300,280],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('normalizacao').item.json.message.chat_id }}_buffer","options":{}},"id":"e2c28202-736d-4b90-8df9-4b571d28d841","name":"get messages buffer","type":"n8n-nodes-base.redis","typeVersion":1,"position":[980,180],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"operation":"push","list":"={{ $('normalizacao').item.json.message.chat_id }}_buffer","messageData":"={{ JSON.stringify($('normalizacao').item.json.message) }}","tail":true},"id":"6fedd3b3-28a6-48ab-87d8-61fb6ad4e323","name":"push message buffer","type":"n8n-nodes-base.redis","typeVersion":1,"position":[760,180],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d14191d-bdc3-446c-9504-1b009e90ebd3","name":"message.message_id","value":"={{ $json.body?.data?.key?.id || '' }}","type":"string"},{"id":"5a930454-5fbf-464c-bb3b-5c42f976c841","name":"message.chat_id","value":"={{ $json.body.data.key.remoteJid || '' }}","type":"string"},{"id":"5932ddd6-04e6-481a-b6cd-56cae912c53a","name":"message.content_type","value":"={{ $json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $json.body.data.message.conversation ? 'text' : '' }}{{ $json.body.data.message.audioMessage ? 'audio' : '' }}{{ $json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"e2f3b2dd-310c-47cc-b473-17eae27acaa1","name":"message.content","value":"={{ $json.body.data.message.extendedTextMessage?.text || '' }}{{ $json.body.data.message.imageMessage?.caption || '' }}{{ $json.body.data.message.conversation || '' }}","type":"string"},{"id":"76275041-8a49-49ff-b5f4-0ebd3b4bb8ce","name":"message.timestamp","value":"={{ $json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"477e0912-632d-4bf7-a0c3-5a20ebe3c25d","name":"message.content_url","value":"={{ $json.body.data.message.audioMessage?.url || '' }}{{ $json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"d1092cd4-e9c7-4023-8d25-98a57ecf336d","name":"message.event","value":"={{ $json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"7287fcd5-1147-46c0-8c30-a6427c87d1f1","name":"instance.name","value":"={{ $json.body.instance }}","type":"string"},{"id":"b5342d5e-d63f-49cd-a55f-d8da741bdbf0","name":"instance.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"8456163f-862a-4a7d-8bba-7d706c3ef402","name":"instance.server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"1967eca0-f323-4be4-b976-84e93bc66d45","name":"message.base64","value":"={{ $json.body.data.message.base64 }}","type":"string"},{"id":"830016c2-9cec-4737-96f0-8de4e5132640","name":"message.image-caption","value":"={{ $json.body.data.message.imageMessage.caption }}","type":"string"}]},"options":{}},"id":"63b7a208-834c-4522-9151-7113ee3cdf23","name":"normalizacao","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-220,200]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.event }}","rightValue":"=incoming","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"não"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"97688ca7-8860-495d-968c-891736bd61d8","leftValue":"={{ $json.message.event }}","rightValue":"=outcoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sim"}]},"options":{}},"id":"78d733a4-541f-4177-a50b-b692d369635a","name":"Intervenção humana?","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[60,340]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Sim"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e60e73a9-5f14-42b4-b10c-6b4625b0760a","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Não"}]},"options":{}},"id":"3c179e51-d8ce-4999-8a05-ae0104940413","name":"IA responde?","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[500,280]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ JSON.parse($json.messages.first()).message_id }}","rightValue":"={{ $('normalizacao').item.json.message.message_id }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"nada a fazer"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fdd1e894-df1c-4ebd-8f56-82f66dad03be","leftValue":"={{ JSON.parse($json.messages.last()).timestamp }}","rightValue":"={{ $now.minus(15, 'seconds') }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"prosseguir"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"esperar"}},"id":"068e20c4-4b5e-4bcd-860b-90618a37aae8","name":"Switch Buffer","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1180,180]},{"parameters":{"operation":"toBinary","sourceProperty":"message.base64","options":{"mimeType":"audio/ogg"}},"id":"2bff57f6-5e4e-41ea-9a94-1235fd1f11d3","name":"Convert audio to file","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2080,20]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"c47bc59d-2d82-4154-b7dd-2e093765ed0e","name":"OpenAI Transcreve audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[2260,20],"credentials":{"openAiApi":{"id":"V3SIs1GbnDJ4HJfO","name":"OpenAi"}}},{"parameters":{"assignments":{"assignments":[{"id":"82cccc1e-3c1d-43fd-a4e9-7d2794cb23eb","name":"content","value":"=<audio>\n{{ $json.text }}\n</audio>","type":"string"},{"id":"d96cf6b7-02ea-464f-862d-fa0518848297","name":"message_id","value":"={{ $('Parse message').item.json.message_id }}","type":"string"},{"id":"51aee4e3-5e8c-4f0e-8afc-13ba65e2094c","name":"chat_id","value":"={{ $('Parse message').item.json.chat_id }}","type":"string"},{"id":"f854354f-711f-4809-ade2-8d4f5d17921d","name":"content_type","value":"={{ $('Parse message').item.json.content_type }}","type":"string"},{"id":"4dbd77f8-6346-4eb5-ba45-5e0a88266c05","name":"timestamp","value":"={{ $('Parse message').item.json.timestamp }}","type":"string"},{"id":"1d7de295-bd0f-4640-90da-4580e408c40a","name":"content_url","value":"={{ $('Parse message').item.json.content_url }}","type":"string"},{"id":"8b712f9c-bb3f-48b1-b9af-4109ef1c8858","name":"event","value":"={{ $('Parse message').item.json.event }}","type":"string"}]},"options":{}},"id":"8a758eeb-cefa-4efe-8e85-20281e5ffc8a","name":"Conteudo do audio em texto","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2440,20]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"image/jpeg"}},"id":"caf90822-7ced-4176-8953-974e73193b8e","name":"Convert Image to file","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2100,340]},{"parameters":{"assignments":{"assignments":[{"id":"82cccc1e-3c1d-43fd-a4e9-7d2794cb23eb","name":"content","value":"=<image>\n{{ $json.content }}\n</image>","type":"string"},{"id":"d96cf6b7-02ea-464f-862d-fa0518848297","name":"message_id","value":"={{ $('Parse message').item.json.message_id }}","type":"string"},{"id":"51aee4e3-5e8c-4f0e-8afc-13ba65e2094c","name":"chat_id","value":"={{ $('Parse message').item.json.chat_id }}","type":"string"},{"id":"f854354f-711f-4809-ade2-8d4f5d17921d","name":"content_type","value":"={{ $('Parse message').item.json.content_type }}","type":"string"},{"id":"4dbd77f8-6346-4eb5-ba45-5e0a88266c05","name":"timestamp","value":"={{ $('Parse message').item.json.timestamp }}","type":"string"},{"id":"1d7de295-bd0f-4640-90da-4580e408c40a","name":"content_url","value":"={{ $('Parse message').item.json.content_url }}","type":"string"},{"id":"8b712f9c-bb3f-48b1-b9af-4109ef1c8858","name":"event","value":"={{ $('Parse message').item.json.event }}","type":"string"}]},"options":{}},"id":"4ac53e4e-703e-443b-9424-4103c8c40589","name":"Conteudo da imagem em texto","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2500,340]},{"parameters":{"numberInputs":3},"id":"35a9756b-2b59-4d31-b976-40796dcf290b","name":"Merge Append","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2800,180]},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=O que contém nessa imagem? Analise essa imagem considerando também a legenda:{{ $('Switch Content Type').item.json['image-caption'] }}. Caso não tenha legenda, pode desconsiderar","inputType":"base64","options":{}},"id":"bc4942ce-21e9-4045-bdfc-395d967d1db4","name":"OpenAI1analyze image","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[2300,340],"credentials":{"openAiApi":{"id":"V3SIs1GbnDJ4HJfO","name":"OpenAi"}}},{"parameters":{"mode":"combineBySql","numberInputs":3,"query":"SELECT * FROM input1, input2, input3"},"id":"09f269e3-bd0e-442b-adc9-939ba0545a0b","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[4520,260]},{"parameters":{},"id":"e8d2f8e5-920b-452b-973c-cf2d0761afe1","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[6060,140]},{"parameters":{"assignments":{"assignments":[{"id":"a10706be-8775-4c6e-b228-2e8fd48e819d","name":"messages","value":"={{ [$json.system_message].concat(($('Get messages').item.json.messages ?? []).map(msg => ({ role: \"user\", content: msg }))) }}","type":"array"}]},"options":{}},"id":"1fb10002-fda0-4639-a15a-6702a0d4d5de","name":"messagens","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4260,260]},{"parameters":{"method":"POST","url":"={{ $('Webhook1').item.json.headers.host }}/message/sendText/{{ $('normalizacao').item.json.instance.name }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('normalizacao').item.json.instance.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('normalizacao').item.json.message.chat_id }}"},{"name":"text","value":"={{ $json.content }}"},{"name":"delay","value":"={{ Number(1200) }}"}]},"options":{}},"id":"f18b38d8-8cb7-4a7d-834e-8563cb57a347","name":"Send output evapi","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5800,580]},{"parameters":{"httpMethod":"POST","path":"evolution","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-480,280],"id":"e3b2f8a3-5b89-470a-a4ae-608018576111","name":"Webhook1","webhookId":"080f0837-6a3f-4f71-8d84-3b226355d04f"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}\n","options":{}},"id":"d98bc9dd-acd2-4585-aee0-3a8bd49cecb1","name":"OpenAI1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4700,260],"credentials":{"openAiApi":{"id":"V3SIs1GbnDJ4HJfO","name":"OpenAi"}}},{"parameters":{},"id":"47258154-7d98-42c5-bb37-f6cbadc39385","name":"No Operation, do nothing2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1400,20]},{"parameters":{"content":"Normalização\n\n1) recebe as mensagens do whatsapp via evolution API\n\n2) trata os campos\n2.1) imagem\n2.2) audio\n2.3) texto","height":446.082970901276,"width":507.09277987072187},"id":"0754a308-3d4a-493b-8aed-9133f914ebe9","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-520,20]},{"parameters":{"content":"Intervenção humana\n\n1) se mensagem é from me (humano digitou), pausa o fluxo\n\n","height":716.9081944622944,"width":686.1676137663935,"color":4},"id":"8a939537-1a29-4aaf-8b87-325637b88fe5","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"fragmenta as mensagens","height":691.8852908694879,"width":2151.2104493008774,"color":3},"id":"2b30b894-50e1-4c50-bf92-561fd59530dd","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3540,20]},{"parameters":{"content":"ENviAR AS MENSAGENS COM A EVOLUTION\n","height":711.9585111216518,"width":978.8007227989224},"id":"186b113d-d0f6-4df8-a57e-5694636e01bb","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5700,0]},{"parameters":{"options":{}},"id":"d23c2e8a-bec5-4cf0-b9e3-bc385bf33b84","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5800,260]},{"parameters":{"amount":3},"id":"17ab5150-b761-4764-b7de-c6e5170e9b98","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6200,280],"webhookId":"a448574b-b6b7-4b03-9f1c-6eb5cf21a754"},{"parameters":{},"id":"8a0033ef-5283-4fe3-be68-158386b78be0","name":"Evolution API1","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[6020,300],"credentials":{"evolutionApi":{"id":"A4Fx4DY3IKZuHzQu","name":"Evolution account"}}}],"connections":{"Redis Chat Memory1":{"ai_memory":[[{"node":"Atendimento","type":"ai_memory","index":0}]]},"Wait":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"edit1":{"main":[[{"node":"mensagem_cliente","type":"main","index":1}]]},"edit2":{"main":[[{"node":"mensagem_cliente","type":"main","index":2}]]},"auth":{"main":[[{"node":"mensagem_tipo","type":"main","index":0}],[{"node":"Mens. Erro","type":"main","index":0}]]},"mensagem_tipo":{"main":[[{"node":"Convert to File","type":"main","index":0}],[{"node":"edit2","type":"main","index":0}],[{"node":"mensagem_cliente","type":"main","index":0}]]},"mensagem_cliente":{"main":[[{"node":"Atendimento","type":"main","index":0}]]},"Formatar Texto":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"auth","type":"main","index":0}]]},"Modelo Google Gemini":{"ai_languageModel":[[{"node":"Atendimento","type":"ai_languageModel","index":0}]]},"Atendimento":{"main":[[{"node":"Formatar Texto","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"edit1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"perguntas1","type":"main","index":0}]]},"perguntas1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"ia_comercial1","type":"main","index":0}]]},"ia_comercial1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"limpar_todas_as_tabelas1","type":"main","index":0}]]},"limpar_todas_as_tabelas1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"perguntas":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"ia_comercial","type":"main","index":0}]]},"ia_comercial":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"limpar_todas_as_tabelas","type":"main","index":0}]]},"limpar_todas_as_tabelas":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"model":{"main":[[{"node":"Merge","type":"main","index":0}]]},"responseFormat":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Get messages":{"main":[[{"node":"System message","type":"main","index":0}]]},"System message":{"main":[[{"node":"messagens","type":"main","index":0},{"node":"model","type":"main","index":0},{"node":"responseFormat","type":"main","index":0}]]},"Parse":{"main":[[{"node":"Final answer","type":"main","index":0}]]},"Final answer":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Assistant message","type":"main","index":0}]]},"Push User message":{"main":[[{"node":"Get messages","type":"main","index":0}]]},"Assistant message":{"main":[[{"node":"Push Assistant message","type":"main","index":0}]]},"Split User messages":{"main":[[{"node":"Parse message","type":"main","index":0}]]},"Parse message":{"main":[[{"node":"Switch Content Type","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"chatInput","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Message text content":{"main":[[{"node":"Merge Append","type":"main","index":1}]]},"Switch Content Type":{"main":[[{"node":"Convert audio to file","type":"main","index":0}],[{"node":"Message text content","type":"main","index":0}],[{"node":"Convert Image to file","type":"main","index":0}],[{"node":"Send System Info (Content Type) EvolutionAPI","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"get messages buffer","type":"main","index":0}]]},"delete buffer1":{"main":[[{"node":"Split User messages","type":"main","index":0}]]},"chatInput":{"main":[[{"node":"Push User message","type":"main","index":0}]]},"Get Block from chat ID":{"main":[[{"node":"IA responde?","type":"main","index":0}]]},"get messages buffer":{"main":[[{"node":"Switch Buffer","type":"main","index":0}]]},"push message buffer":{"main":[[{"node":"get messages buffer","type":"main","index":0}]]},"normalizacao":{"main":[[{"node":"Intervenção humana?","type":"main","index":0}]]},"Intervenção humana?":{"main":[[{"node":"Get Block from chat ID","type":"main","index":0}],[{"node":"Block IA","type":"main","index":0}]]},"IA responde?":{"main":[[{"node":"push message buffer","type":"main","index":0}]]},"Switch Buffer":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}],[{"node":"delete buffer1","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Convert audio to file":{"main":[[{"node":"OpenAI Transcreve audio","type":"main","index":0}]]},"OpenAI Transcreve audio":{"main":[[{"node":"Conteudo do audio em texto","type":"main","index":0}]]},"Conteudo do audio em texto":{"main":[[{"node":"Merge Append","type":"main","index":0}]]},"Convert Image to file":{"main":[[{"node":"OpenAI1analyze image","type":"main","index":0}]]},"Conteudo da imagem em texto":{"main":[[{"node":"Merge Append","type":"main","index":2}]]},"Merge Append":{"main":[[{"node":"Sort","type":"main","index":0}]]},"OpenAI1analyze image":{"main":[[{"node":"Conteudo da imagem em texto","type":"main","index":0}]]},"Merge":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Push Assistant message":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"messagens":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Webhook1":{"main":[[{"node":"normalizacao","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Parse","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Evolution API1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"Wait2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f849c8c2-b52a-4b79-8f68-b9f2bf62e51f","triggerCount":0,"tags":[]}