atendimento_back-suT6TJNnDsDXE9nf.json
{"createdAt":"2025-02-22T12:30:23.374Z","updatedAt":"2025-03-19T22:48:24.000Z","id":"suT6TJNnDsDXE9nf","name":"ATENDIMENTO_back","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"7066ff08-1370-464f-a588-86aa37025523","name":"texto","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"3524aab4-e99a-4870-bcd4-99fdbcfa07a9","name":"edit1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,600],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"17b6fa1c-f4ea-4c75-9c9e-1a43900dbc58","leftValue":"={{ $json.body.apikey }}","rightValue":"=177D05DF4B45-4C59-9DEA-29C3DAD27E94","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"70c82c3b-7619-4b50-899f-17931323d19d","leftValue":"={{ $json.body.event }}","rightValue":"messages.upsert","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"0ae193b0-5d9c-450e-8ec2-598b330202c6","name":"auth","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[220,700]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50c6e2b0-2494-4780-abd8-84a0e4213091","leftValue":"={{ $json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"}]},"options":{"fallbackOutput":"extra"}},"id":"6b72cc21-ed5d-44f9-820d-96ecb5a8a2c1","name":"mensagem_tipo","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[440,700],"alwaysOutputData":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"83c48dc9-8b30-43f5-b46e-f57090ace0c0","leftValue":"outros","rightValue":"={{ $json.output }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"outros"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"informacoes","operator":{"type":"string","operation":"contains"},"id":"85478ebb-d6b8-4d1e-a8ad-bbc17a373db4"}],"combinator":"and"},"renameOutput":true,"outputKey":"informacoes"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9cf9869-8857-4e8e-bc38-e9716c978784","leftValue":"={{ $json.output }}","rightValue":"sinistro","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sinistro"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"436fedde-8e73-4936-b40e-ab6b1200b0fe","leftValue":"financeiro","rightValue":"={{ $json.output }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"financeiro"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"69aa56c5-6c39-474d-be50-9ecdce8419c0","leftValue":"suporte","rightValue":"={{ $json.output }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"suporte"}]},"options":{}},"id":"f7fd7452-9e7a-4689-a298-28534fd77baa","name":"intencao","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4720,420]},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"=Você é uma atendente virtual da empresa Ideal Rastreamento. Sua única função é classificar a intenção da mensagem do cliente, escolhendo **apenas uma** das categorias abaixo:\n\n⚠️ Leia atentamente a mensagem e escolha a categoria que melhor representa o que o cliente deseja.\n\nCATEGORIAS:\n- informacoes → Quando o cliente pede detalhes ou informações sobre serviços, planos, produtos ou a empresa.\n- financeiro → Quando o cliente fala sobre pagamentos, boletos, faturas, valores ou qualquer assunto financeiro (incluindo negociações e atrasos).\n- suporte → Quando o cliente relata problemas técnicos, dificuldades com o sistema, aplicativo, acesso ou funcionamento do rastreador.\n- agendamentos → Quando o cliente fala sobre marcar, remarcar ou cancelar visitas, atendimentos ou serviços.\n- outros → Quando a mensagem não se encaixa nas categorias acima, ou o cliente apenas cumprimenta ou envia mensagem sem intenção clara.\n\nFORMATO DE RESPOSTA:\nResponda **apenas** com uma das opções abaixo, sem explicações ou textos adicionais:\n**informacoes**, **financeiro**, **suporte**, **agendamentos**, **outros**\n\n-----------------------------------------------\nEXEMPLOS:\n\n**INFORMAÇÕES:**\nUser: Quero saber como funciona o rastreamento\nAI: informacoes\n\nUser: Como é o serviço de vocês?\nAI: informacoes\n\nUser: Vocês rastreiam moto também?\nAI: informacoes\n\nUser: Tem contrato de fidelidade?\nAI: informacoes\n\nUser: Queria saber o valor dos planos\nAI: informacoes\n\n**FINANCEIRO:**\nUser: Preciso da segunda via do boleto\nAI: financeiro\n\nUser: Queria ver o boleto que tá em atraso\nAI: financeiro\n\nUser: Meu boleto venceu, como faço para pagar?\nAI: financeiro\n\nUser: Tem como me mandar a fatura?\nAI: financeiro\n\nUser: Estou com um débito, queria negociar\nAI: financeiro\n\nUser: Quero saber o valor da mensalidade\nAI: financeiro\n\nUser: Tem multa se eu atrasar o pagamento?\nAI: financeiro\n\n**SUPORTE:**\nUser: O carro não está aparecendo no aplicativo\nAI: suporte\n\nUser: Meu rastreador parou de funcionar\nAI: suporte\n\nUser: Não consigo acessar a plataforma\nAI: suporte\n\nUser: O sistema está fora do ar?\nAI: suporte\n\nUser: O veículo não atualiza a posição\nAI: suporte\n\nUser: Meu login está dando erro\nAI: suporte\n\n**AGENDAMENTOS:**\nUser: Não precisa mais fazer o reagendamento\nAI: agendamentos\n\nUser: Quero agendar a instalação do rastreador\nAI: agendamentos\n\nUser: Gostaria de remarcar minha visita\nAI: agendamentos\n\nUser: Pode cancelar o agendamento de amanhã?\nAI: agendamentos\n\nUser: Quero marcar pra fazer a manutenção\nAI: agendamentos\n\n**OUTROS:**\nUser: Boa tarde\nAI: outros\n\nUser: Estou testando\nAI: outros\n\nUser: Só queria agradecer pelo atendimento\nAI: outros\n\nUser: Tudo certo por aqui\nAI: outros\n\nUser: Meu vizinho falou de vocês\nAI: outros\n\n-----------------------------------------------\n\nLembre-se: Classifique sempre **pela intenção principal** da mensagem. Escolha **apenas uma categoria** e retorne somente o nome da categoria, **sem variações ou explicações**.\n"}},"id":"3ae4e59b-00f2-44c3-89e1-3a610ad50b0e","name":"recepcionista","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[4340,460],"retryOnFail":true,"maxTries":3,"onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"agente","options":{}},"id":"f7ffd93c-f76d-4a67-ac57-43db282f14f8","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,700],"webhookId":"212f556b-9bb1-4dbc-be3c-98af97a04e07"},{"parameters":{"assignments":{"assignments":[{"id":"2f8e1fbf-9134-4b48-be29-066509e021f5","name":"telefone","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"60d6b895-fea6-4d7f-932a-b8771c97242e","name":"WhatsAppApp","value":"={{ $json.mensagem_tipo?.body?.data?.message?.conversation || $json.texto || '' }}\n\n","type":"string"}]},"options":{}},"id":"ba94357c-55e4-482f-b4c3-fb1ab5fa009d","name":"Filtra Webhook","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1320,700]},{"parameters":{"amount":2},"id":"e772c7d2-bfde-4790-8038-f7617bd63829","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1760,700],"webhookId":"af62cbc2-1f05-47e0-8b03-7755c553a1c0"},{"parameters":{"operation":"get","propertyName":"=mensagem","key":"={{ $json.telefone }}","options":{}},"id":"1af6197a-d70a-4579-b106-5456424e12f5","name":"Puxar as Mensagens","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1980,700],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9e9b4155-e399-4936-a5db-2d79c8cb871f","leftValue":"={{ $json.mensagem.last() }}","rightValue":"={{ $('Filtra Webhook').item.json.Audio || $('Filtra Webhook').item.json.WhatsWeb || $('Filtra Webhook').item.json.WhatsAppApp || $('Filtra Webhook').item.json.Imagem }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"2790d3c8-cf2e-4bcc-83aa-bf1c22e7b64e","name":"If1","type":"n8n-nodes-base.if","typeVersion":2,"position":[2200,700]},{"parameters":{},"id":"ad59a136-3f1c-4dc5-82c8-399c3c80a4f8","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2420,800]},{"parameters":{"operation":"delete","key":"={{ $json.telefone }}"},"id":"dae61948-295e-4f25-a41d-384bc2f40751","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2640,600],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"operation":"push","list":"={{ $json.telefone }}","messageData":"={{ $json.Audio || $json.WhatsWeb || $json.WhatsAppApp || $json.Imagem || $json.mensagem}}","tail":true},"id":"17a87af0-90cd-4e9d-b8d5-51a66beb2f65","name":"Lista Mensagens1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1540,700],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"assignments":{"assignments":[{"id":"bce70488-3d4e-412d-9c28-4858906bc722","name":"texto","value":"={{ $('Puxar as Mensagens').item.json.mensagem.join('\\n') }}","type":"string"},{"id":"abca95c7-60a4-474b-95ed-a22557fa8af7","name":"telefone","value":"={{ $('Wait').item.json.telefone }}","type":"string"}]},"options":{}},"id":"4bf613d0-0aa9-4d9e-8bf6-1579b1498a95","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2420,600]},{"parameters":{},"id":"c036d989-2aee-49c4-8c8d-328b6eb50c26","name":"mensagem_cliente1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2860,600]},{"parameters":{"operation":"toBinary","sourceProperty":"body.data.message.base64","options":{"fileName":"file.ogg","mimeType":"={{ $json.body.data.message.audioMessage.mimetype }}"}},"id":"7d861900-c18f-42cb-9d2b-afba4433d356","name":"Convert audio","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[660,600],"alwaysOutputData":true},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"7e2455ee-b600-4307-a1f4-9db13a5b1976","name":"Transcreve Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[880,600],"credentials":{"openAiApi":{"id":"V3SIs1GbnDJ4HJfO","name":"OpenAi"}}},{"parameters":{"assignments":{"assignments":[{"id":"09db48f1-b99e-4760-8a9b-10944a1ce0d2","name":"texto","value":"={{ $json.body.data.message.conversation }}","type":"string"}]},"options":{}},"id":"3c2dc677-6976-42e5-b72f-1242895bf15d","name":"Pega a mensagem","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,800]},{"parameters":{"options":{"temperature":0}},"id":"f030ebf2-3415-4d1c-8db4-a0fa98221c71","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[4380,680],"credentials":{"openAiApi":{"id":"V3SIs1GbnDJ4HJfO","name":"OpenAi"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $(\"auth\").item.json.body.data.key.remoteJid }}","contextWindowLength":20},"id":"c20fcd6e-39cb-42ef-a55e-70050d72324a","name":"Redis1","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.3,"position":[4500,680],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"promptType":"define","text":"={{ $('mensagem_cliente1').item.json.texto }}","options":{"systemMessage":"=Você é o assistente virtual inicial da empresa Ideal Rastreamento.\n\nSua função é:\n✅ Verificar se a mensagem do cliente é apenas uma **saudação simples** ou se há alguma **intenção de atendimento**.\n\n📌 Considere **saudações simples** as seguintes frases ou variações:\n\"Oi\", \"Olá\", \"Bom dia\", \"Boa tarde\", \"Boa noite\", \"E aí\", \"Tudo bem?\", \"Tudo certo\"\n\nSe for **somente uma saudação**, responda exatamente:\nsaudacao\n\nSe a mensagem tiver qualquer dúvida, pergunta, problema ou outra intenção de atendimento, responda exatamente:\nencaminhar_para_switch\n\n⚠️ Não escreva nada além de **saudacao** ou encaminhar_para_switch.\n\nTexto do cliente: {{ $('Redis').item.json.texto }}\n"}},"id":"427419d0-5b80-4e55-98f1-9ddd831f152d","name":"Agente_Inicial","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[3520,480],"retryOnFail":true,"maxTries":3,"onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3560,700],"id":"97d51744-89ca-4222-a8e6-38ef2c660d4c","name":"OpenAI5","credentials":{"openAiApi":{"id":"V3SIs1GbnDJ4HJfO","name":"OpenAi"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $(\"auth\").item.json.body.data.key.remoteJid }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.4,"position":[3680,700],"id":"e8180384-1d30-443e-b643-8eedc1f54a5f","name":"Redis6","credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"promptType":"define","text":"={{ $('Wait').item.json.WhatsAppApp }}","options":{"systemMessage":"=Você é o atendente virtual financeiro da empresa Ideal Rastreamento.\n\nSua função é atender exclusivamente assuntos financeiros, como:\n\nBoletos\nPix\nSegunda via\nFaturas\nPagamentos\nMensalidade\nNegociação de débitos\n✅ Sempre solicite as informações necessárias para localizar o contrato do cliente: \"Por gentileza, me informe o nome do titular do contrato ou o CPF/CNPJ cadastrado para eu localizar o boleto pra você.\"\n\n📌 ATENÇÃO ESPECIAL PARA PIX:\nSe o cliente mencionar qualquer uma dessas opções:\n\n\"Quero a chave pix\"\n\"Me manda o pix\"\n\"Qual a chave pix?\"\n\"PIX\"\n\"Pagamento por pix\"\n\"Como pagar via pix?\"\nResponda exatamente: \"Perfeito! Por gentileza, me informe o nome do titular do contrato ou o CPF/CNPJ cadastrado para eu localizar os dados para o pagamento via Pix ou gerar o boleto.\"\n\n✅ Após o cliente fornecer as informações solicitadas (nome ou CPF/CNPJ), responda exatamente: \"Perfeito! Em instantes você receberá a segunda via do seu boleto ou a chave Pix para pagamento.\"\n\n❌ IMPORTANTE: Se o cliente perguntar qualquer coisa fora do financeiro, responda exatamente: \"Este setor atende apenas assuntos financeiros. Caso precise de outra área, me avise!\"\n\n⚠️ NUNCA finalize o atendimento. Apenas faça a coleta dos dados e envie a mensagem de confirmação acima. O sistema irá encaminhar o atendimento para o responsável finalizar.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[4940,720],"id":"6ab7f72f-b5d9-4524-9598-c81c193c0fc7","name":"financeiro"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"=Você é um atendente virtual da empresa Ideal Rastreamento, responsável exclusivamente pelo suporte técnico.\n\nVocê deve ajudar o cliente **somente se ele tiver um problema técnico** como:\n- Problemas com o aplicativo ou plataforma\n- Rastreador sem sinal\n- Veículo não aparece na plataforma\n- Dificuldades de acesso ou login\n\n⚠️ NÃO responda dúvidas comerciais ou financeiras.\n\nExemplos:\nUser: O carro não está aparecendo no app.\nAI: Entendi! Por favor, me informe a placa ou o nome do titular do contrato para verificar.\n\nUser: Estou sem sinal no rastreador.\nAI: Me passe a placa para eu verificar o status do equipamento.\n\nSe a mensagem não for um problema técnico, responda:\n\"Este setor atende apenas suporte técnico. Caso precise de outro atendimento, me avise.\"\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[0,1640],"id":"128d43ae-0610-4ad3-a662-d20b6058c1b9","name":"suporte"},{"parameters":{"model":"gemma2-9b-it","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[40,1300],"id":"a4113772-6f37-4cbe-87df-c81285fae3ed","name":"Groq Chat Model1","credentials":{"groqApi":{"id":"51de9q54fj0O8NeI","name":"Groq account"}}},{"parameters":{"model":"gemma2-9b-it","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[4960,940],"id":"f87eefef-61de-44f5-9eec-8442704173ae","name":"Groq Chat Model2","credentials":{"groqApi":{"id":"51de9q54fj0O8NeI","name":"Groq account"}}},{"parameters":{"model":"gemma2-9b-it","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[40,1860],"id":"58d2b7ed-565f-433c-bd7e-9982c2736a56","name":"Groq Chat Model3","credentials":{"groqApi":{"id":"51de9q54fj0O8NeI","name":"Groq account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $(\"auth\").item.json.body.data.key.remoteJid }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.4,"position":[160,1300],"id":"82fdd7e6-14cd-41a3-bc13-4311c94cc06f","name":"Redis Chat Memory1","credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $(\"auth\").item.json.body.data.key.remoteJid }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.4,"position":[5080,940],"id":"185d55f0-2412-40a5-89f7-c8ff22731c16","name":"Redis Chat Memory2","credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $(\"auth\").item.json.body.data.key.remoteJid }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.4,"position":[160,1860],"id":"18919f43-5c82-4bfc-8cba-6d98c50a2fdc","name":"Redis Chat Memory3","credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"resource":"messages-api","instanceName":"ronielle","remoteJid":"={{ $('mensagem_cliente1').item.json.telefone }}","messageText":"={{ $('financeiro').item.json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5980,820],"id":"12e6ca4c-d8ac-4b39-b728-f881ebbe174d","name":"Evolution API1","credentials":{"evolutionApi":{"id":"FK5HLtfwZybZ0Kyw","name":"Evolution "}}},{"parameters":{"resource":"messages-api","instanceName":"ronielle","remoteJid":"={{ $('mensagem_cliente1').item.json.telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[380,0],"id":"192f8934-55cd-4a12-a501-e61aa4704168","name":"Evolution API2","credentials":{"evolutionApi":{"id":"FK5HLtfwZybZ0Kyw","name":"Evolution "}}},{"parameters":{"resource":"messages-api","instanceName":"ronielle","remoteJid":"={{ $('mensagem_cliente1').item.json.telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[380,1180],"id":"20b226ca-3ce5-4ced-9fc5-375161701d78","name":"Evolution API3","credentials":{"evolutionApi":{"id":"FK5HLtfwZybZ0Kyw","name":"Evolution "}}},{"parameters":{"resource":"messages-api","instanceName":"ronielle","remoteJid":"={{ $('mensagem_cliente1').item.json.telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[380,1640],"id":"ae418602-1fb0-4d33-abb3-704cf9328b84","name":"Evolution API4","credentials":{"evolutionApi":{"id":"FK5HLtfwZybZ0Kyw","name":"Evolution "}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $(\"auth\").item.json.body.data.key.remoteJid }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.4,"position":[160,220],"id":"3f9f0ec3-8769-4e45-aa41-a97b187c9439","name":"Redis2","credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"=Você é um atendente virtual COMERCIAL da empresa Ideal Rastreamento.\n\nSua função é:\n✅ Conversar de forma educada e cordial\n✅ Tirar dúvidas sobre os serviços, planos, formas de contratação\n✅ Apresentar vantagens da empresa e fechar negócio\n✅ Esclarecer o que for necessário sobre a empresa\n\n📌 Exemplo de temas que você pode responder:\n- Como funciona o rastreamento\n- Quais os planos disponíveis\n- Benefícios do serviço\n- Como contratar\n- Formas de pagamento (sem gerar segunda via)\n\n❌ IMPORTANTE: Você **NÃO deve resolver ou dar instruções** sobre:\n- Problemas técnicos ou de sistema (**suporte**)\n- Roubo, furto ou sinistro\n- Segunda via de boletos ou negociações financeiras\n\n⚠️ Sempre fique atento! Se durante a conversa o cliente mencionar:\n- **Suporte técnico**\n- **Sinistro (roubo ou furto)**\n- **Segunda via de boleto ou pagamento**\nEntão você deve **parar o atendimento** e responder EXATAMENTE:\n\"Entendi! Vou te transferir agora para o setor responsável para te ajudar melhor.\"\n\n✅ Após isso, o sistema continuará o atendimento no setor correto.\n\n### Exemplo de atendimento:\nUser: Quero saber como funciona o serviço de vocês.\nAI: Claro! Trabalhamos com rastreamento veicular em tempo real, via aplicativo. Quer saber sobre valores ou contratação?\n\nUser: Minha fatura venceu, quero a segunda via.\nAI: Entendi! Vou te transferir agora para o setor responsável para te ajudar melhor.\n\nUser: O rastreador não está funcionando.\nAI: Entendi! Vou te transferir agora para o setor responsável para te ajudar melhor.\n\nUser: E se meu carro for roubado?\nAI: Entendi! Vou te transferir agora para o setor responsável para te ajudar melhor.\n\n---\n\nFinalize SEMPRE uma resposta com **uma pergunta ou convite para continuar o atendimento comercial**, exceto quando tiver que transferir.\n"}},"id":"502b71a7-19a3-497d-95da-765e4fb134d9","name":"comercial","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[0,0],"retryOnFail":true,"maxTries":3,"onError":"continueRegularOutput"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[40,220],"id":"4096b561-9ef6-4c24-880a-f0142ef2284c","name":"Gemini","credentials":{"googlePalmApi":{"id":"79V5hxjLx1WBSihs","name":"GeminI"}}},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"=Você é um atendente virtual da empresa Ideal Rastreamento, responsável **EXCLUSIVAMENTE** por atender clientes em casos de **roubo ou furto de veículos**.\n\n⚠️ Sua missão é:\n- **Manter a calma**\n- **Tranquilizar o cliente**\n- **Passar as instruções corretas**\n- **Orientar o cliente sobre o que fazer imediatamente**\n- **Deixar claro que nossa equipe já está pronta para ajudar**\n\nAtenda sempre de forma **empática e acolhedora**. O cliente estará nervoso e preocupado.\n\n### Ao confirmar que o caso é um roubo ou furto, siga este roteiro:\n\n1️⃣ Diga que entende o momento difícil e que estamos prontos para ajudar.\n\n2️⃣ Peça as **informações básicas**:\n- Nome ou placa do veículo\n- Local aproximado onde o roubo ou furto aconteceu\n- Horário aproximado do ocorrido\n\n3️⃣ Oriente o cliente com os **passos principais**:\n- **Bloqueie o veículo o mais rápido possível pelo app** ou\n- **Ligue imediatamente para nossa Central de Emergência** no número **(85) 99190-4540** se não conseguir fazer o bloqueio\n- **Registre um Boletim de Ocorrência (B.O.) na delegacia mais próxima**\n\n4️⃣ Reforce que:\n- Nossa equipe de monitoramento já estará em alerta\n- Estamos junto com as autoridades fazendo buscas pelo veículo\n- É muito importante manter a calma e seguir nossas orientações\n\n5️⃣ Nunca passe orientações financeiras, comerciais ou de suporte técnico. Apenas **procedimentos de sinistro**.\n\n---\n\n### 📌 Exemplo de Atendimento:\nUser: Meu carro acabou de ser roubado\nAI: Sinto muito por isso! Fique tranquilo(a), estamos aqui para te ajudar. \n\nPor favor, me informe a placa ou nome do titular do veículo, o local e o horário aproximado do ocorrido.\n\nEnquanto isso, **tente bloquear o veículo pelo nosso aplicativo**. Caso não consiga, ligue imediatamente para nossa **Central de Emergência** no número **(85) 99190-4540**.\n\nTambém oriento que registre um **Boletim de Ocorrência (B.O.)** na delegacia mais próxima.\n\nNossa equipe de monitoramento já está de prontidão junto com as autoridades, buscando o seu veículo.\n\nEstamos aqui com você e vamos fazer o possível para ajudar!\n\n---\n\n### ⚠️ Finalize sempre com:\n\"Se precisar de mais alguma orientação ou apoio, estou à disposição!\"\n"}},"id":"69f7be74-e224-4318-992e-bc8ce016baa8","name":"Sinistro","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[0,1080],"retryOnFail":true,"maxTries":3,"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"=\\b(boleto|fatura|pagamento|mensalidade|segunda via)\\b","rightValue":"={{ $json.texto }}","operator":{"type":"string","operation":"regex"},"id":"baafdb31-aaa5-4371-9ce9-0bf313f65e6d"}],"combinator":"and"},"renameOutput":true,"outputKey":"financeiro"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"68476f80-072f-4846-8751-40cbd7238e9e","leftValue":"\\b(roubo|roubaram|furtaram|furto|moto roubada|carro roubado)\\b","rightValue":"={{ $json.texto }}","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"sinistro"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42236bfc-625f-43ea-b6be-9586c604bd12","leftValue":"\\b(aplicativo|plataforma|rastreador|suporte|login|erro)\\b","rightValue":"={{ $json.texto }}","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"suporte"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4120,580],"id":"85699d3b-7cef-481b-9c64-7d07f4a07c38","name":"Switch - Palavras Chave"},{"parameters":{"assignments":{"assignments":[{"id":"9b5a26b9-a174-4afb-8085-0b6c0b49f57c","name":"={{ $('Redis').item.json.telefone }}","value":"=aguardando_dados_financeiros","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5320,720],"id":"bde3f407-8b64-4d23-9c2f-25b7e17c28f3","name":"Edit Fields"},{"parameters":{"operation":"set","key":"={{ $('Redis').item.json.telefone }}_financeiro_dados","value":"={{ $('financeiro').item.json.output }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[5540,720],"id":"57422d22-8f6f-4d2c-8f60-8b22047f85d3","name":"Redis3","credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"operation":"get","propertyName":"Verifica_Status","key":"={{ $json.telefone }}_financeiro_dados","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3080,600],"id":"0d5375bd-a198-415c-bcbd-dfa00a1cf616","name":"Redis4","credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4cc0129b-45f1-4699-a595-1ec06df3fc67","leftValue":"={{ $json.Verifica_Status }}","rightValue":"aguardando_dados_financeiros","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3300,600],"id":"575ce2a9-a6f2-4ab2-9977-9fe158fcc079","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"da0cb10c-c6de-4cb7-af6b-9d54518a70b0","leftValue":"={{ $json.output }}","rightValue":"saudacao","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3900,480],"id":"a0bc2527-c642-4134-97dc-e07a37999ad4","name":"If2"},{"parameters":{"resource":"messages-api","instanceName":"ronielle","remoteJid":"={{ $('mensagem_cliente1').item.json.telefone }}","messageText":"=Olá! 👋 Seja bem-vindo(a) à Ideal Rastreamento. 😊\nEm que posso te ajudar hoje?\n","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4120,380],"id":"22773396-c8d2-4e34-929a-99f6c2e600ed","name":"Evolution API","credentials":{"evolutionApi":{"id":"FK5HLtfwZybZ0Kyw","name":"Evolution "}}},{"parameters":{"resource":"messages-api","instanceName":"ronielle","remoteJid":"=+5585992525311","messageText":"=⚠️ *Atenção!* ⚠️\n\nO cliente solicitou a **segunda via do boleto**.\n\n👤 **Nome:** {{ $('If1').item.json.mensagem[4] }}\n","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5740,620],"id":"28d8903d-45ef-4a97-bfb0-a30f90d1c232","name":"Evolution API5","credentials":{"evolutionApi":{"id":"FK5HLtfwZybZ0Kyw","name":"Evolution "}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5760,820],"id":"137c5690-e831-49a4-ad4a-3fd7dcad7428","name":"Wait1","webhookId":"36aa465a-bd37-4257-9a90-94b5ff804307"}],"connections":{"edit1":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"auth":{"main":[[{"node":"mensagem_tipo","type":"main","index":0}]]},"mensagem_tipo":{"main":[[{"node":"Convert audio","type":"main","index":0}],[{"node":"Pega a mensagem","type":"main","index":0}]]},"intencao":{"main":[[],[],[],[{"node":"financeiro","type":"main","index":0}]]},"recepcionista":{"main":[[{"node":"intencao","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"auth","type":"main","index":0}]]},"Filtra Webhook":{"main":[[{"node":"Lista Mensagens1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Puxar as Mensagens","type":"main","index":0}]]},"Puxar as Mensagens":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Redis":{"main":[[{"node":"mensagem_cliente1","type":"main","index":1}]]},"Lista Mensagens1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Redis","type":"main","index":0}]]},"mensagem_cliente1":{"main":[[{"node":"Redis4","type":"main","index":0}]]},"Convert audio":{"main":[[{"node":"Transcreve Audio","type":"main","index":0}]]},"Transcreve Audio":{"main":[[{"node":"edit1","type":"main","index":0}]]},"Pega a mensagem":{"main":[[{"node":"Filtra Webhook","type":"main","index":0}]]},"OpenAI":{"ai_languageModel":[[{"node":"recepcionista","type":"ai_languageModel","index":0}]]},"Redis1":{"ai_memory":[[{"node":"recepcionista","type":"ai_memory","index":0}]]},"Agente_Inicial":{"main":[[{"node":"If2","type":"main","index":0}]]},"OpenAI5":{"ai_languageModel":[[{"node":"Agente_Inicial","type":"ai_languageModel","index":0}]]},"Redis6":{"ai_memory":[[{"node":"Agente_Inicial","type":"ai_memory","index":0}]]},"financeiro":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"suporte":{"main":[[{"node":"Evolution API4","type":"main","index":0}]]},"Groq Chat Model1":{"ai_languageModel":[[{"node":"Sinistro","type":"ai_languageModel","index":0}]]},"Groq Chat Model2":{"ai_languageModel":[[{"node":"financeiro","type":"ai_languageModel","index":0}]]},"Groq Chat Model3":{"ai_languageModel":[[{"node":"suporte","type":"ai_languageModel","index":0}]]},"Redis Chat Memory1":{"ai_memory":[[{"node":"Sinistro","type":"ai_memory","index":0}]]},"Redis Chat Memory2":{"ai_memory":[[{"node":"financeiro","type":"ai_memory","index":0}]]},"Redis Chat Memory3":{"ai_memory":[[{"node":"suporte","type":"ai_memory","index":0}]]},"Redis2":{"ai_memory":[[{"node":"comercial","type":"ai_memory","index":0}]]},"comercial":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Gemini":{"ai_languageModel":[[{"node":"comercial","type":"ai_languageModel","index":0}]]},"Sinistro":{"main":[[{"node":"Evolution API3","type":"main","index":0}]]},"Switch - Palavras Chave":{"main":[[{"node":"financeiro","type":"main","index":0}],[],[],[{"node":"recepcionista","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Redis3","type":"main","index":0}]]},"Redis3":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"financeiro","type":"main","index":0}],[{"node":"Agente_Inicial","type":"main","index":0}]]},"If2":{"main":[[{"node":"Evolution API","type":"main","index":0}],[{"node":"Switch - Palavras Chave","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"359d00d5-d2b8-4c4f-a140-478f172e223a","triggerCount":1,"tags":[{"createdAt":"2025-03-15T18:38:28.214Z","updatedAt":"2025-03-15T18:39:43.268Z","id":"i5cUpKKh0IeX9GoB","name":"IDEAL"}]}