back_workflow_github-Q4yV0STpGtI5OqYe.json
{"createdAt":"2025-04-08T20:44:39.396Z","updatedAt":"2025-04-08T21:29:39.000Z","id":"Q4yV0STpGtI5OqYe","name":"Back_Workflow_Github","active":true,"nodes":[{"parameters":{},"id":"5c639cc9-e605-4c89-8981-bec51c7a80bd","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1760,920]},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"01db6d82-ef54-40a6-9bd6-d4f68e8bd663","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-200,520]},{"parameters":{"content":"## Acionar\nVocê pode alterá-lo para [gatilho \"Agendar\"](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) para fazer backups regularmente.","height":500,"width":222},"id":"03868c59-589d-466c-8773-c54c91eda76b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1801,305]},{"parameters":{"content":"## Faça uma lista de arquivos existentes\nRetorne uma lista de arquivos existentes (backups) no repositório GitHub. Os dados retornados por esses nós são usados ​​pelo nó \"IF\" (posteriormente no fluxo de trabalho) para verificar se os arquivos de backup devem ser criados ou atualizados.","height":499,"width":430},"id":"10e82b7f-0051-42ca-b4a8-6098c2aa43aa","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-920,300]},{"parameters":{"content":"## Recupere os workflows\nObtenha todos os fluxos de trabalho da sua instância n8n. Lembre-se de que **suas credenciais precisam apontar para a instância da qual você deseja fazer backup.**","height":499,"width":424},"id":"00676e24-8817-40da-8f91-2cfd554f26ad","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-460,300]},{"parameters":{"content":"## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.","height":732,"width":684},"id":"c7cb4387-d874-449e-a4a5-038558bb5a4c","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,120]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"=https://github.com/ronnysenna/Workflow_N8N.git","mode":"url"},"repository":{"__rl":true,"value":"Workflow_N8N","mode":"list","cachedResultName":"Workflow_N8N","cachedResultUrl":"https://github.com/ronnysenna/Workflow_N8N"},"filePath":"="},"id":"d86432ba-57f3-4ef1-86f5-e3eb64374681","name":"Liste o Arquivos do Repositorio [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-880,525],"alwaysOutputData":true,"credentials":{"githubApi":{"id":"uq1QUPzhf8rLeJU3","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"64daf73c-9499-41a2-b118-2f48965498ac","name":"Combine os nomes do Arquivos [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-680,520]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"bd52e654-f110-4c28-898f-3726c4d21b94","name":"Setar a data do Commit","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1140,520]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine os nomes do Arquivos [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"566cb953-62dd-449f-8802-3e3858860785","name":"Cheque se existem arquivos no Repositorio","type":"n8n-nodes-base.if","typeVersion":1,"position":[280,280]},{"parameters":{"options":{}},"id":"67001c00-56da-41e8-9566-73880b26eb75","name":"Sete a data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1500,520]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"b1d33953-e75c-4650-b747-9a27f4ea09ee","name":"Data formatada","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1320,520]},{"parameters":{"batchSize":1,"options":{}},"id":"6cecca90-4e9f-4167-872b-936a8fdadc0a","name":"Dividindo em Arquivos Únicos","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[80,520]},{"parameters":{"filters":{},"requestOptions":{}},"id":"fa35ac9f-327d-4499-9f61-bce320c1bdde","name":"Recupere os workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-400,520],"credentials":{"n8nApi":{"id":"52K08jYq9n5ge9tI","name":"n8n"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"=https://github.com/ronnysenna/Workflow_N8N.git","mode":"url"},"repository":{"__rl":true,"value":"Workflow_N8N","mode":"list","cachedResultName":"Workflow_N8N","cachedResultUrl":"https://github.com/ronnysenna/Workflow_N8N"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Setar a data do Commit'].json.commitDate }}"},"id":"3ad3a5cb-39e4-422c-a12a-791534158cba","name":"Atualiza Arquivos [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[500,260],"credentials":{"githubApi":{"id":"uq1QUPzhf8rLeJU3","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"=https://github.com/ronnysenna/Workflow_N8N.git","mode":"url"},"repository":{"__rl":true,"value":"Workflow_N8N","mode":"list","cachedResultName":"Workflow_N8N","cachedResultUrl":"https://github.com/ronnysenna/Workflow_N8N"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Setar a data do Commit'].json.commitDate }}"},"id":"ad32476c-d685-4836-8520-dfce671ea301","name":"Atualiza arquivos [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[500,520],"credentials":{"githubApi":{"id":"uq1QUPzhf8rLeJU3","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1760,525],"id":"d0a6e897-684e-4c68-a2d0-95bc20c5574b","name":"Schedule Trigger"},{"parameters":{"content":"## Definir e formatar data/hora\nEsses nós são responsáveis ​​por definir a data e hora atuais no formato `dd-MM-yyyy/H:mm`. Data e hora são usadas para compor mensagens de commit no GitHub, por exemplo: `backup-12-07-2023/14:18`.","height":499,"width":605},"id":"c2491897-ae00-4016-b78d-b4da6d1f6f90","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1560,300]}],"connections":{"Move JSON to binary":{"main":[[{"node":"Dividindo em Arquivos Únicos","type":"main","index":0}]]},"Liste o Arquivos do Repositorio [GITHUB]":{"main":[[{"node":"Combine os nomes do Arquivos [GITHUB]","type":"main","index":0}]]},"Combine os nomes do Arquivos [GITHUB]":{"main":[[{"node":"Recupere os workflows [N8N]","type":"main","index":0}]]},"Setar a data do Commit":{"main":[[{"node":"Liste o Arquivos do Repositorio [GITHUB]","type":"main","index":0}]]},"Cheque se existem arquivos no Repositorio":{"main":[[{"node":"Atualiza Arquivos [GITHUB]","type":"main","index":0}],[{"node":"Atualiza arquivos [GITHUB]","type":"main","index":0}]]},"Sete a data":{"main":[[{"node":"Data formatada","type":"main","index":0}]]},"Data formatada":{"main":[[{"node":"Setar a data do Commit","type":"main","index":0}]]},"Dividindo em Arquivos Únicos":{"main":[[{"node":"Cheque se existem arquivos no Repositorio","type":"main","index":0}]]},"Recupere os workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Atualiza Arquivos [GITHUB]":{"main":[[{"node":"Dividindo em Arquivos Únicos","type":"main","index":0}]]},"Atualiza arquivos [GITHUB]":{"main":[[{"node":"Dividindo em Arquivos Únicos","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Sete a data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0ee3b47d-6b84-4093-aa43-4bb8a6d0835e","triggerCount":1,"tags":[]}