disparo-vendedor-S41WLVI7g9tIQdnn.json
{"createdAt":"2025-03-27T15:49:02.212Z","updatedAt":"2025-04-03T01:11:24.000Z","id":"S41WLVI7g9tIQdnn","name":"DISPARO VENDEDOR","active":false,"nodes":[{"parameters":{"operation":"get","propertyName":"data","key":"vendedor_index","options":{}},"id":"ebe1366f-0f6d-4688-94a7-c99eb610a285","name":"Pegar índice","type":"n8n-nodes-base.redis","typeVersion":1,"position":[100,-20],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"jsCode":"const vendedores = [\n  '5585992525311', // Vendedor 1\n  '5585991904540', // Vendedor 2\n  '5585984330586'  // Vendedor 3\n];\n\nconst indexAtual = parseInt($json.data ?? '0');\nconst proximoIndex = (indexAtual + 1) % vendedores.length;\n\nreturn [\n  {\n    json: {\n      vendedor_index: proximoIndex,\n      telefone_vendedor: vendedores[proximoIndex]\n    }\n  }\n];\n"},"id":"0b2170cf-bf05-405d-89f4-89c0dca42cb0","name":"Selecionar Vendedor","type":"n8n-nodes-base.code","typeVersion":1,"position":[320,-20]},{"parameters":{"operation":"set","key":"vendedor_index","value":"={{ $json.vendedor_index }}","keyType":"string"},"id":"aa256868-d21a-4f6e-8e76-9c051d495f27","name":"Salvar novo índice","type":"n8n-nodes-base.redis","typeVersion":1,"position":[540,-20],"credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"httpMethod":"POST","path":"vendas","options":{}},"id":"4b21a577-5d33-4b77-9afd-8e30b3b2881b","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-480,80],"webhookId":"a53f4a37-c80f-4754-bc8f-d7ed1a834876"},{"parameters":{"resource":"messages-api","instanceName":"ronielle","remoteJid":"={{ $json.telefone_vendedor }}","messageText":"=🚨 Novo lead recebido!\nVocê acaba de receber um novo lead interessado em nossos serviços.\n\n📲 Entre em contato o mais rápido possível para não perder a oportunidade! ⏱️\n\nSegue os dados para atendimento:\n📞 Contato: {{ $('Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}\n🧑‍💼 Nome: {{ $('Webhook').item.json.body.data.pushName }}\n\nBons atendimentos! 💼✨","options_message":{}},"id":"06558dba-b30b-4c34-873d-2f24a81f3a7c","name":"Evolution API1","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[760,-20],"credentials":{"evolutionApi":{"id":"TKOWA3Zqb7OAcEau","name":"Evo-Ronielle_Hostinger"}}},{"parameters":{"assignments":{"assignments":[{"id":"cb3ffc65-a01d-4e65-9e55-b8e40efef695","name":"api_key","value":"177D05DF4B45-4C59-9DEA-29C3DAD27E94","type":"string"},{"id":"4d011edd-10ed-449d-82d2-e61b6ac0c8d3","name":"nome","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"2a2c6c8c-d27e-43ed-8c0c-989c8867ffec","name":"telefone","value":"={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-300,80],"id":"c772fed1-e5eb-4e7b-a0cd-0934339f1890","name":"Chave API1","notes":"Centraliza a API Key. Alterar somente aqui"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"17b6fa1c-f4ea-4c75-9c9e-1a43900dbc58","leftValue":"={{ $json.api_key }}","rightValue":"={{ $('Webhook').item.json.body.apikey }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"c537162b-d657-4a76-9210-217697c9b089","name":"auth1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-120,80]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[100,180],"id":"ee77f810-a19b-47de-9430-d9f9f5070866","name":"No Operation, do nothing"}],"connections":{"Pegar índice":{"main":[[{"node":"Selecionar Vendedor","type":"main","index":0}]]},"Selecionar Vendedor":{"main":[[{"node":"Salvar novo índice","type":"main","index":0}]]},"Salvar novo índice":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Chave API1","type":"main","index":0}]]},"Chave API1":{"main":[[{"node":"auth1","type":"main","index":0}]]},"auth1":{"main":[[{"node":"Pegar índice","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.ronnysenna.com.br","user-agent":"axios/1.7.9","content-length":"1495","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.ronnysenna.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6de3c9edb341","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"ronielle","data":{"key":{"remoteJid":"558584330586@s.whatsapp.net","fromMe":false,"id":"3EB070DE994D395CED1B37"},"pushName":"Teralink Telecomunicações","status":"DELIVERY_ACK","message":{"conversation":"Seja bem vindo a Central de Atendimento *TeraLink*!\r\n*Digite uma das opções abaixo:*\r\n1️⃣ - Contratar Planos 📑\n2️⃣ - Para financeiro/boletos 💰\n3️⃣ - Para chamado técnico ⚒️\r\n4️⃣ - Para reparar/reiniciar a conexão\r\n0️⃣ - Para falar com atendente 👨‍💼\r\n\r\n*A opção falar com atendente está disponível apenas no horário comercial, após esse horário utilize as opções automáticas*\r\n\r\nHorário de atendimento:\r\nSegunda a sexta: 08 as 12h / 14 as 18h\r\nSábados: 08 as 12h\r\n\r\nDigite 3️⃣ 3️⃣ 3️⃣ 3️⃣  Caso queira reiniciar as opções de Menus.","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"uicW13SZPDC18w==","senderTimestamp":"1743115992","senderAccountType":"E2EE","receiverAccountType":"E2EE","recipientKeyHash":"bBeuuP2tcS3X9Q==","recipientTimestamp":"1743274392"},"deviceListMetadataVersion":2}},"messageType":"conversation","messageTimestamp":1743471074,"instanceId":"6b1760d1-db1b-44f8-8702-b7d81d78b17d","source":"web"},"destination":"https://n8n.ronnysenna.com.br/webhook/vendas","date_time":"2025-03-31T22:31:15.193Z","sender":"558591904540@s.whatsapp.net","server_url":"http://localhost:8080","apikey":"177D05DF4B45-4C59-9DEA-29C3DAD27E94"},"webhookUrl":"https://n8n.ronnysenna.com.br/webhook/vendas","executionMode":"production"}}]},"versionId":"5225bdab-99f6-40b1-b9d8-390a5d03ccbf","triggerCount":1,"tags":[{"createdAt":"2025-03-15T18:38:28.214Z","updatedAt":"2025-03-15T18:39:43.268Z","id":"i5cUpKKh0IeX9GoB","name":"IDEAL"}]}