monitoramentos-mI7bZh52nElKJf2i.json
{"createdAt":"2025-02-22T12:30:23.274Z","updatedAt":"2025-03-23T15:17:17.000Z","id":"mI7bZh52nElKJf2i","name":"MONITORAMENTOS","active":true,"nodes":[{"parameters":{"command":"docker system prune -a --force"},"id":"ad68728f-042e-4b08-8619-46b934518c45","name":"docker system prune -a","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-340,300],"credentials":{"sshPassword":{"id":"3vkgIYw9Sna8lwek","name":"SSH Password account"}}},{"parameters":{"command":"=echo \"CPU: $(top -bn1 | grep 'Cpu(s)' | awk '{print 100 - $8\"%\"}'), \\\nMEMÓRIA: $(free -m | awk '/Mem:/ { printf(\"%.2f%\", $3/$2 * 100) }'), \\\nSWAP: $(free -m | awk '/Swap:/ { printf(\"%.2f%\", $3/$2 * 100) }'), \\\nPROCESSOS: $(ps aux --no-heading | wc -l), \\\nTEMPO LIGADO: $(uptime -p), \\\nHD: $(df -h / | awk 'NR==2 {print $5}'), \\\nCPU CORES: $(nproc)\"\n"},"id":"82708da8-93fc-49d3-a53a-822ea8cb721c","name":"puxa os dados da vps","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[-40,300],"credentials":{"sshPassword":{"id":"3vkgIYw9Sna8lwek","name":"SSH Password account"}}},{"parameters":{},"name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","position":[740,760],"typeVersion":1,"id":"f3d406bc-e31c-4913-a226-354b5150b596"},{"parameters":{"resource":"messages-api","instanceName":"ronielle","remoteJid":"+5585992525311","messageText":"=🚨 ALERTA: Servidor *Hostinger* sobrecarregado! ⚠️ \n\n🔴 CPU: *{{ $('Code1').item.json.CPU }}* \n🔴 MEMÓRIA: *{{ $('Code1').item.json['MEMÓRIA'] }}*  \n🔴 SWAP: *{{ $('Code1').item.json.SWAP }}%* (RAM insuficiente)\n🔴 HD: *{{ $('Code1').item.json.HD }}%* (pouco espaço disponível)  \n\n🛠️ Verifique e tome as medidas necessárias!  \n","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[940,220],"id":"c3642750-092c-4c8b-ad45-21cecfafdc0d","name":"Evolution API","credentials":{"evolutionApi":{"id":"FK5HLtfwZybZ0Kyw","name":"Evolution "}}},{"parameters":{"resource":"messages-api","instanceName":"ronielle","remoteJid":"=+5585992525311","messageText":"=✅ Servidor *HOSTINGER* está funcionando normalmente! 🚀  \n\n🔹 CPU: *{{ $json.CPU }}*  \n🔹 MEMÓRIA:*{{ $json['MEMÓRIA'] }}* \n🔹 SWAP: *{{ $json.SWAP }}*  \n🔹 PROCESSOS: *{{ $json.PROCESSOS }}*\n🔹 TEMPO LIGADO: *{{ $json['TEMPO LIGADO'] }}* \n🔹 HD: *{{ $json.HD }}%* \n🔹 CPU CORES: *{{ $json['CPU CORES'] }}* \n\n\n\n\n","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[940,380],"id":"be695ccd-c181-4179-ba6e-0eb506a15027","name":"Evolution API1","credentials":{"evolutionApi":{"id":"FK5HLtfwZybZ0Kyw","name":"Evolution "}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-500,760],"id":"06ce4ffe-5b68-4fdc-ad62-97a828d841ef","name":"n8n","credentials":{"n8nApi":{"id":"52K08jYq9n5ge9tI","name":"n8n"}}},{"parameters":{"jsCode":"function parseVpsOutput(output) {\n    try {\n        // Extraindo stdout corretamente\n        let stdout = output[0].stdout;\n        \n        // Garantindo que stdout não seja undefined ou null\n        if (!stdout) {\n            return [{ json: { error: \"stdout está vazio ou indefinido\" } }];\n        }\n\n        // Separando os dados\n        let data = {};\n        stdout.split(\", \").forEach(item => {\n            let parts = item.split(\": \");\n            if (parts.length === 2) {\n                data[parts[0].trim()] = parts[1].trim();\n            }\n        });\n\n        // Convertendo valores numéricos corretamente\n        [\"CPU\", \"MEMÓRIA\", \"HD\"].forEach(key => {\n            if (data[key]) {\n                data[key] = parseFloat(data[key].replace(\"%\", \"\").replace(\",\", \".\"));\n            } else {\n                data[key] = null;\n            }\n        });\n\n        // Lidando com SWAP, que pode estar vazio\n        data[\"SWAP\"] = data[\"SWAP\"] ? parseFloat(data[\"SWAP\"].replace(\"%\", \"\").replace(\",\", \".\")) : null;\n\n        // Convertendo valores inteiros\n        data[\"PROCESSOS\"] = data[\"PROCESSOS\"] ? parseInt(data[\"PROCESSOS\"]) : null;\n        data[\"CPU CORES\"] = data[\"CPU CORES\"] ? parseInt(data[\"CPU CORES\"]) : null;\n        \n        // Mantendo TEMPO LIGADO caso exista\n        data[\"TEMPO LIGADO\"] = data[\"TEMPO LIGADO\"] || \"Desconhecido\";\n\n        return [{ json: data }];\n    } catch (error) {\n        return [{ json: { error: error.message } }];\n    }\n}\n\n// Pegando a entrada correta do n8n\nconst vpsOutput = [\n    {\n        \"code\": $input.first().json.code,\n        \"signal\": $input.first().json.signal,\n        \"stdout\": $input.first().json.stdout,\n        \"stderr\": $input.first().json.stderr\n    }\n];\n\n// Processar a saída corretamente\nreturn parseVpsOutput(vpsOutput);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,300],"id":"2025d7c8-57c7-450a-bc44-7d26082284f0","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7e75fe56-99c8-4e8a-a9b4-ddeb77017bb5","leftValue":"={{ $json.CPU }}","rightValue":60,"operator":{"type":"number","operation":"gte"}},{"id":"daacb5d3-2569-43e5-afc3-ab5a78e4980e","leftValue":"={{ $json['MEMÓRIA'] }}","rightValue":60,"operator":{"type":"number","operation":"gte"}},{"id":"0b83b92e-1fee-455f-ba51-da4f8ac50ef7","leftValue":"={{ $json.SWAP }}","rightValue":50,"operator":{"type":"number","operation":"gte"}},{"id":"37caa375-f551-42af-89f1-c51372dad67f","leftValue":"={{ $json.HD }}","rightValue":"70","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"id":"2096e903-1cc6-418b-8062-da007ca257b9","name":"Verificar Saúde do Servidor","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[500,300]},{"parameters":{"resource":"messages-api","instanceName":"ronielle","remoteJid":"+5585992525311","messageText":"=🚀 *Workflow Ativados:* \n\n✅  Total: _*{{ $json.total_ativos }}*_\n\n🔥 *Workflow Desativados:*\n\n🔴 Total: _*{{ $json.total_parados }}*_\n\n\n🚨 ALERTA: O workflow _*\"{{ $json.name }}\"*_ parou de funcionar! ⚠️\n\n\n🛠️ Verifique e tome as medidas necessárias!  \n","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[440,760],"id":"ad136a6f-bb2f-4e44-9577-c3fe4e6c855b","name":"Evolution API2","credentials":{"evolutionApi":{"id":"FK5HLtfwZybZ0Kyw","name":"Evolution "}}},{"parameters":{"assignments":{"assignments":[{"id":"cc397a80-a7e4-4780-9ce4-98098f6e8c03","name":"nome","value":"={{ $json.name }}","type":"string"},{"id":"64e08414-ce48-40af-a5d0-660f7068f439","name":"ativo","value":"={{ $json.active }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,620],"id":"208ddc09-e32c-4e72-9eef-c5aa80b16105","name":"Work Ativos"},{"parameters":{"assignments":{"assignments":[{"id":"471c3c76-3ed7-48ae-aa48-294a589ca7a2","name":"nome","value":"={{ $json.name }}","type":"string"},{"id":"3ec7282d-dbfa-4c11-8365-c929eedbd3b3","name":"ativo","value":"={{ $json.active }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,880],"id":"09ef66db-e07a-43e8-b5c5-493d703b70e9","name":"Work Desativados"},{"parameters":{"resource":"messages-api","instanceName":"ronielle","remoteJid":"+5585992525311","messageText":"=🔔 Notificação de Erro no Workflow 🔔\n\n📅 Data/Hora: *{{ $('Edit Fields').json['Timestamp do Erro'] || 'Sem timestamp' }}*\n\n⚠️ Ocorreu um erro durante a execução do workflow *{{ $('Edit Fields').json['Nome do Workflow'] || 'Nome não encontrado' }}*.\n\n📝 Descrição do erro: *{{ $('Edit Fields').json['Stack Trace'] || 'Sem descrição disponível' }}*\n\n🔗 *Detalhes e execução:* \n\nAcesse o Workflow 👉 *{{ $('Edit Fields').json.main.error.url || 'URL não disponível' }}*\n\n📄 ID do Workflow: *{{ $('Edit Fields').json['ID do Workflow'] || 'Desconhecido' }}*  \n🔄 ID da Execução: *{{ $('Edit Fields').json['ID da Execução'] || 'Desconhecido' }}*\n\nPor favor, verifique o erro e tome as medidas necessárias.\n","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[920,660],"id":"d977e56b-0928-4aeb-ab71-a86205873eed","name":"Evolution API3","credentials":{"evolutionApi":{"id":"FK5HLtfwZybZ0Kyw","name":"Evolution "}}},{"parameters":{"jsCode":"const items = $input.all(); // Pegando todos os itens\nlet count = 0; // Inicializa contador\n\n// Percorre os itens e conta os inativos\nitems.forEach(item => {\n    if (item.json.ativo === \"false\") {\n        count++;\n    }\n});\n\n// Retorna o número total de workflows parados\nreturn [{ json: { total_parados: count } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,880],"id":"4b5b5d35-1bbf-440e-9ad9-368a1c311a9e","name":"Code"},{"parameters":{"jsCode":"const items = $input.all(); // Pegando todos os itens\nlet count = 0; // Inicializa contador\n\n// Percorre os itens e conta os inativos\nitems.forEach(item => {\n    if (item.json.ativo === \"true\") {\n        count++;\n    }\n});\n\n// Retorna o número total de workflows parados\nreturn [{ json: { total_ativos: count } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,620],"id":"deaa2ab2-916e-4ca6-a5c3-b696d77903d0","name":"Code2"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[300,760],"id":"ef6fc86e-a516-4d10-9407-1828b70510de","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"331c82df-1b51-442d-a149-0ba0ad2852e2","leftValue":"={{ $json.active }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,760],"id":"57d95024-9605-4b51-9466-ad1bb5becfb3","name":"Separador"},{"parameters":{"content":"## Status Wowkflow\n","height":480,"width":1380},"type":"n8n-nodes-base.stickyNote","position":[-720,560],"typeVersion":1,"id":"2743dc5b-6a7e-4f66-ad9f-12931418dede","name":"Sticky Note1"},{"parameters":{"content":"## Erro Workflow","height":480,"width":460,"color":3},"type":"n8n-nodes-base.stickyNote","position":[680,560],"typeVersion":1,"id":"946fbb86-2b30-4f81-ac76-8d9cbdca9a56","name":"Sticky Note2"},{"parameters":{"content":"## Monitor VPS - Hostinger\n\n","height":360,"width":1860,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-720,180],"typeVersion":1,"id":"e2eed3ec-3a8c-483c-aafa-58baba0c2861","name":"Sticky Note3"},{"parameters":{"rule":{"interval":[{"triggerAtHour":4}]}},"id":"9d7255de-55a6-449c-80a2-23c24d45e111","name":"Todo dia às 04:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-640,1160]},{"parameters":{"assignments":{"assignments":[{"id":"3666ad22-1989-4db5-b7cf-0c49335e30b6","name":"url_package_backup","value":"=https://drive.google.com/drive/folders/","type":"string"},{"id":"ae9d84ba-fc54-4ee3-bc2d-1b0fc62815c4","name":"new_package_name","value":"={{ $today.format('dd LLL yyyy') }}","type":"string"},{"id":"81b8a789-af67-41e3-95bd-c9d6ef737ab5","name":"email","value":"dev@ronnysenna.com.br","type":"string"},{"id":"2e99cdfd-bb15-45ee-87c4-4893cc5fd4c0","name":"package_remove","value":"={{ $today.minus(4, 'days').format('dd LLL yyyy') }}","type":"string"}]},"options":{}},"id":"0a4dbf51-8006-4568-ac4d-90a1f5346a23","name":"Infos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-360,1160]},{"parameters":{"fieldToSplitOut":"data","include":"allOtherFields","options":{}},"id":"b29c3e03-a62d-48ce-b889-1488e4779a59","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[600,1160]},{"parameters":{"resource":"folder","operation":"deleteFolder","folderNoRootId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"id":"1ea38ab9-db8b-4e82-b142-ebab49b51fe0","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[880,1420],"credentials":{"googleDriveOAuth2Api":{"id":"XeYmsT7omHGioE1V","name":"Google Drive IAHOJE"}}},{"parameters":{"content":"## Backup Workflow","height":560,"width":1860,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-720,1060],"typeVersion":1,"id":"83cb2236-d9fb-4c7c-a41c-32dd1e69a2bd","name":"Sticky Note"},{"parameters":{"resource":"folder","name":"={{ $('Infos').item.json.new_package_name }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1gS7-rgT-CuVSqp0_bgN-bVf2iQuW8MWs","mode":"list","cachedResultName":"Back_Fluxo","cachedResultUrl":"https://drive.google.com/drive/folders/1gS7-rgT-CuVSqp0_bgN-bVf2iQuW8MWs"},"options":{}},"id":"fe259b94-bb31-4fda-a353-b3e841a20f36","name":"Cria a pasta backup","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-40,1160],"credentials":{"googleDriveOAuth2Api":{"id":"XeYmsT7omHGioE1V","name":"Google Drive IAHOJE"}}},{"parameters":{"url":"https://n8n.ronnysenna.com.br/api/v1/workflows","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","options":{}},"id":"4e2fc86d-8d9a-454c-b1cc-7cd1714929e4","name":"Busca Work","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[300,1160],"credentials":{"n8nApi":{"id":"52K08jYq9n5ge9tI","name":"n8n"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.data.name }}.json\n\n"}},"id":"e04949a8-79d4-4b83-be3f-337aa055f324","name":"Converte JSON1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[880,1160]},{"parameters":{"name":"={{ $binary.data.fileName }}\n","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Cria a pasta backup').item.json.id }}","mode":"id"},"options":{}},"id":"93ad1c87-1f4a-40df-9599-b6c5a789cb89","name":"Upload  workflows","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-620,1420],"credentials":{"googleDriveOAuth2Api":{"id":"XeYmsT7omHGioE1V","name":"Google Drive IAHOJE"}}},{"parameters":{},"id":"d27d02d0-2893-4f5c-85eb-5ff66b60f2aa","name":"Limita  1 workflow","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-360,1420]},{"parameters":{"sendTo":"={{ $('Infos').item.json.email }}","subject":"Backup Workflows n8n","message":"=<html>\n  <h1>Backup realizado com sucesso de todos os {{ $('Busca Work').item.json.data.length }} workflows do n8n</h1>\n  <h2>A pasta criada tem o nome de <a href=\"https://drive.google.com/drive/folders/{{ $('Cria a pasta backup').item.json.id }}\">{{ $('Cria a pasta backup').item.json.name }}</a></h2>\n\n  <br>\n\n  <p>Nome de todos os workflows:</p>\n  <p>{{ $('Busca Work').item.json.data.map(item => '- '+item.name).join('<br>') }}</p>\n</html>","options":{"appendAttribution":false,"senderName":"Maran Tecnologia"}},"id":"648d84f5-b0ae-42e5-8caf-167d3d897c1d","name":"Envia email","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-20,1420],"webhookId":"60f5c74a-4f78-4cd4-9338-e8e792fcf26d","alwaysOutputData":true,"credentials":{"gmailOAuth2":{"id":"ccrtTJUZdzNogz4g","name":"Gmail account"}}},{"parameters":{"resource":"fileFolder","limit":50,"queryString":"=","returnAll":"={{ true}}","filter":{"folderId":{"__rl":true,"value":"1gS7-rgT-CuVSqp0_bgN-bVf2iQuW8MWs","mode":"list","cachedResultName":"Back_Fluxo","cachedResultUrl":"https://drive.google.com/drive/folders/1gS7-rgT-CuVSqp0_bgN-bVf2iQuW8MWs"}},"options":{}},"id":"40c00a6e-b002-4841-967d-c05615a9c6b5","name":"Remove o backup (7 dias atrás)","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[300,1420],"alwaysOutputData":false,"credentials":{"googleDriveOAuth2Api":{"id":"XeYmsT7omHGioE1V","name":"Google Drive IAHOJE"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst sevenDaysAgo = new Date();\nsevenDaysAgo.setDate(sevenDaysAgo.getDate() - 7);\n\n// Função para converter \"08 Feb 2025\" para um objeto Date válido\nfunction parseDateFromName(folderName) {\n    const months = {\n        \"Jan\": 0, \"Feb\": 1, \"Mar\": 2, \"Apr\": 3, \"May\": 4, \"Jun\": 5,\n        \"Jul\": 6, \"Aug\": 7, \"Sep\": 8, \"Oct\": 9, \"Nov\": 10, \"Dec\": 11\n    };\n\n    const parts = folderName.split(\" \");\n    if (parts.length !== 3) return null;\n\n    const day = parseInt(parts[0], 10);\n    const month = months[parts[1]];\n    const year = parseInt(parts[2], 10);\n\n    return new Date(year, month, day);\n}\n\n// Filtra as pastas mais antigas que 7 dias\nconst pastasParaRemover = items.filter(item => {\n    const folderDate = parseDateFromName(item.json.name);\n    if (!folderDate) {\n        console.log(\"Data inválida para a pasta:\", item.json.name);\n        return false;\n    }\n\n    console.log(`Pasta: ${item.json.name}, Criada em: ${folderDate}, Limite: ${sevenDaysAgo}`);\n    \n    return folderDate < sevenDaysAgo;\n});\n\n// Exibir no console o que será removido\nconsole.log(\"Pastas para remover:\", pastasParaRemover);\n\n// Se não houver pastas para remover, retorna uma mensagem\nif (pastasParaRemover.length === 0) {\n    return [{ json: { message: \"Nenhuma pasta para remover.\" } }];\n}\n\n// Retorna os IDs das pastas que devem ser removidas\nreturn pastasParaRemover.map(item => ({\n    json: {\n        id: item.json.id,  // ID da pasta para exclusão\n        name: item.json.name, // Nome da pasta (opcional para logs)\n        createdTime: parseDateFromName(item.json.name).toISOString() // Data de criação convertida\n    }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[620,1420],"id":"d9d0fc03-5215-417d-a5c0-e3e8583fcf70","name":"Code3","alwaysOutputData":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"id":"8194693c-fc34-4685-9fca-bcda8dfb1fea","name":"Todo dia às 05:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-660,760]},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"2d16dd65-5420-434e-b034-eec8f2f74fb4","name":"Todo dia às 06:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-660,300]},{"parameters":{"assignments":{"assignments":[{"id":"97f26a1c-4773-42af-bfa4-15bcea8fd46d","name":"main.error.url","value":"={{ $json[\"execution\"][\"url\"] }}","type":"string"},{"id":"8361edd6-9d82-4932-a984-42fb91c93dc3","name":"ID do Workflow","value":"={{ $json[\"workflow\"][\"id\"] }}","type":"string"},{"id":"23c28193-66d6-4204-ad71-1ea6bf0ab470","name":"Nome do Workflow","value":"={{ $json[\"workflow\"][\"name\"] }}","type":"string"},{"id":"22bf7924-7d33-4887-913c-b6cf9b9b914b","name":"ID da Execução","value":"={{ $json[\"execution\"][\"id\"] }}","type":"string"},{"id":"dfffca13-5c93-4b52-97cf-1dabec4e5a20","name":"Stack Trace","value":"={{ $json[\"error\"][\"stack\"] }}","type":"string"},{"id":"445cf9d6-14f9-4780-ab5f-3c730bb6beab","name":"Timestamp do Erro","value":"={{ (() => { if (!$json[\"error\"] || !$json[\"error\"][\"timestamp\"]) return 'Sem timestamp'; return new Date($json[\"error\"][\"timestamp\"]).toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' }); })() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[920,820],"id":"ffc07f3b-eaaf-4445-b1b6-314d4553b99a","name":"Edit Fields"}],"connections":{"docker system prune -a":{"main":[[{"node":"puxa os dados da vps","type":"main","index":0}]]},"puxa os dados da vps":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Separador","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Verificar Saúde do Servidor","type":"main","index":0}]]},"Verificar Saúde do Servidor":{"main":[[{"node":"Evolution API","type":"main","index":0}],[{"node":"Evolution API1","type":"main","index":0}]]},"Work Ativos":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Work Desativados":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Separador":{"main":[[{"node":"Work Ativos","type":"main","index":0}],[{"node":"Work Desativados","type":"main","index":0}]]},"Todo dia às 04:00":{"main":[[{"node":"Infos","type":"main","index":0}]]},"Infos":{"main":[[{"node":"Cria a pasta backup","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Converte JSON1","type":"main","index":0}]]},"Cria a pasta backup":{"main":[[{"node":"Busca Work","type":"main","index":0}]]},"Busca Work":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Converte JSON1":{"main":[[{"node":"Upload  workflows","type":"main","index":0}]]},"Upload  workflows":{"main":[[{"node":"Limita  1 workflow","type":"main","index":0}]]},"Limita  1 workflow":{"main":[[{"node":"Envia email","type":"main","index":0}]]},"Envia email":{"main":[[{"node":"Remove o backup (7 dias atrás)","type":"main","index":0}]]},"Remove o backup (7 dias atrás)":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Todo dia às 05:00":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Todo dia às 06:00":{"main":[[{"node":"docker system prune -a","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Evolution API3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[0]},"node:Schedule Trigger1":{"recurrenceRules":[0]},"node:Todo dia às 04:00":{"recurrenceRules":[]},"node:Todo dia às 05:00":{"recurrenceRules":[]},"node:Todo dia às 06:00":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"64ac9620-6203-4339-bf71-1f64f0ba8b29","triggerCount":3,"tags":[]}