my-workflow-2-DnUZK7MfPBH5x2S5.json
{"createdAt":"2025-02-22T12:05:18.672Z","updatedAt":"2025-02-22T12:05:18.672Z","id":"DnUZK7MfPBH5x2S5","name":"My workflow 2","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"/redefinirsenha","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[40,300],"id":"4a95fb5a-1345-4a29-a96c-edc402f5e731","name":"Webhook2","webhookId":"924e8295-ae4d-4f4b-88be-efeb215b22db"},{"parameters":{"jsCode":"const token = $input.first().json.body.token;\nconst senha = $input.first().json.body.senha;\n\nconsole.log(\"🔍 Token recebido:\", token);\nconsole.log(\"🔍 Nova senha recebida:\", senha);\n\nif (!token) {\n  return {\n    json: {\n      sucesso: false,\n      mensagem: \"Token não informado.\"\n    }\n  };\n}\n\nreturn {\n  json: {\n    tokenRecebido: token, \n    novaSenha: senha\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,300],"id":"6003c3e1-9ccf-4b08-bf7a-d1954e5d79cf","name":"Validar Token"},{"parameters":{"operation":"executeQuery","query":"UPDATE usuarios \nSET senha = md5($1), \n    token_recuperacao = NULL, \n    data_expiracao_token = NULL \nWHERE token_recuperacao = $2 \nRETURNING id;\n","options":{"queryReplacement":"=[\n  \"{{$json.novaSenha}}\",\n  \"{{$json.tokenRecebido}}\"\n]\n"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[420,300],"id":"c01a2904-5c98-4bab-9b8c-e2d51f093736","name":"Atualizar Senha","credentials":{"postgres":{"id":"dorSzCjZrBEhBu7m","name":"Postgres account"}}},{"parameters":{"options":{"responseCode":200,"responseKey":"=const resultado = $input.first().json;\n\nif (resultado && resultado.length > 0 && resultado[0].id) {\n  return {\n    json: {\n      sucesso: true,\n      mensagem: \"Senha redefinida com sucesso!\"\n    }\n  };\n} else {\n  return {\n    json: {\n      sucesso: false,\n      mensagem: \"Token inválido ou expirado.\"\n    }\n  };\n}\n"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[620,300],"id":"d30fd0cf-eea5-4814-b297-7645cefe5500","name":"Respond to Webhook2"},{"parameters":{"content":"## Redefine Senha \n**Verifica token e atualiza senha**","height":340,"width":880,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-20,160],"typeVersion":1,"id":"21304b45-7978-483a-9b95-87f0e27e6de7","name":"Sticky Note3"}],"connections":{"Webhook2":{"main":[[{"node":"Validar Token","type":"main","index":0}]]},"Validar Token":{"main":[[{"node":"Atualizar Senha","type":"main","index":0}]]},"Atualizar Senha":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"740f4a2c-2e11-45cd-8c71-008342afbc6d","triggerCount":0,"tags":[]}