post_blogger_insta-Htn37dRevBVTh1CS.json
{"createdAt":"2025-02-22T12:30:23.388Z","updatedAt":"2025-04-01T00:35:08.000Z","id":"Htn37dRevBVTh1CS","name":"POST_BLOGGER_INSTA","active":true,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf2162ef-9c6c-441c-8840-f3760d632346","leftValue":"={{ $json.output }}","rightValue":"APROVADO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-840,260],"id":"15e54c90-b53a-4dac-a34f-c3411f6a35ef","name":"If"},{"parameters":{"url":"https://www.google.com.br/alerts/feeds/01290725059990180969/3489149909187432976","options":{"ignoreSSL":false}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[-1640,240],"id":"d6ef3416-1c65-4918-b156-23cdbd127a21","name":"rss_read"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1440,240],"id":"76596506-b834-4332-a855-1ea145dc85f6","name":"loop"},{"parameters":{"promptType":"define","text":"=Você é um especialista em blogs sobre inteligência artificial. Avalie a seguinte notícia e decida se ela deve ser publicada em um blog sobre noticias sobre inteligência artificial.\n\nTítulo: {{$json[\"title\"]}}\nConteúdo: {{$json[\"content\"]}}\n\nCritérios:\n- O tema é relevante para internet e tecnologia?\n- A notícia é recente e útil para leitores?\n- Evita ser apenas um anúncio comercial?\n\nResponda apenas com \"APROVADO\" ou \"REJEITADO\".\n","hasOutputParser":true,"options":{"systemMessage":"{\n  \"status\": \"APROVADO\" | \"REJEITADO\"\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1180,260],"id":"6d7765b1-e642-4061-a6a4-9f2b4d1d2a70","name":"agente_classificador"},{"parameters":{"promptType":"define","text":"=Você é um redator de um importante blog, especializado em inteligência artificial, quero que leia a notícia abaixo e gere um título para ela.\n\nGere apenas o título da notícia e nada mais. Não coloque esse título entre aspas\n\n {{ $('loop').item.json.title }}","options":{"systemMessage":"{\n  \"Título\": \"Um título chamativo para o post do blog sobre inteligência artificial\"\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-600,240],"id":"35ee09d2-5d7e-440d-955b-e982acbe3b28","name":"gerador_de_titulo"},{"parameters":{"jsCode":"// Captura o conteúdo gerado pela IA\nlet content = $input.first().json.output || \"\";\n\n// Garante que o conteúdo seja uma string válida\nif (typeof content !== \"string\" || content.trim() === \"\") {\n    return { json: { content: \"<article><p>Erro: Nenhum conteúdo recebido.</p></article>\" } };\n}\n\n// Remove qualquer bloco de código markdown (```html e ``` no final)\ncontent = content.replace(/```html/g, \"\").replace(/```/g, \"\").trim();\n\n// Retorna o JSON formatado corretamente\nreturn { \n  json: { \n    content: content \n  } \n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[860,480],"id":"5d6e069d-6be6-43b2-8e8c-2c272d60aee1","name":"ajusta_texto","alwaysOutputData":false},{"parameters":{"rule":{"interval":[{"triggerAtHour":7,"triggerAtMinute":40}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1940,400],"id":"bee284ff-8c6b-42f8-962f-684fc10a9246","name":"Schedule Trigger"},{"parameters":{"model":"gpt-4.5-preview-2025-02-27","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1180,520],"id":"4be37a73-a99b-4a3b-b2d8-02115e86c4a0","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"V3SIs1GbnDJ4HJfO","name":"OpenAi"}}},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-580,480],"id":"bc0ce2f1-2978-4df9-9d2a-b39c33f52ac0","name":"Gemini","credentials":{"googlePalmApi":{"id":"79V5hxjLx1WBSihs","name":"GeminI"}}},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[560,680],"id":"31a8e3ff-9724-45c1-9831-e4a24ab6c55c","name":"Gemini1","credentials":{"googlePalmApi":{"id":"79V5hxjLx1WBSihs","name":"GeminI"}}},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[660,320],"id":"e3b59b87-f686-47c4-bce7-a704f07a30d1","name":"Gemini2","credentials":{"googlePalmApi":{"id":"79V5hxjLx1WBSihs","name":"GeminI"}}},{"parameters":{"resource":"image","prompt":"=Gere uma imagens para um artigo que será postado nas seguintes redes sociais: instagram e bogger. {{ $('gerador_de_titulo').first().json.output }}.\nImagem 1: Uma ilustração vibrante e profissional sobre o tema.\n\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-240,340],"id":"6f5ebc02-a433-4345-bcae-e8c0020583a3","name":"OpenAI","credentials":{"openAiApi":{"id":"V3SIs1GbnDJ4HJfO","name":"OpenAi"}}},{"parameters":{"inputDataFieldName":"={{ $json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"12-U3GvWtRW-OA2EdvomInBOIni2grDNG","mode":"list","cachedResultName":"Imagens para Post","cachedResultUrl":"https://drive.google.com/drive/folders/12-U3GvWtRW-OA2EdvomInBOIni2grDNG"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[100,340],"id":"58d67196-3e22-465b-8306-f83e1271859c","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"XeYmsT7omHGioE1V","name":"Google Drive IAHOJE"}}},{"parameters":{"promptType":"define","text":"=📌 Regras de Formatação:\n\n- ** Gere um conteudo para postar no instagram com emojis com relevância do conteúdo com no máximo de 2000 racartéres {{ $('gerador_de_titulo').item.json.output }}\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[620,140],"id":"9907c505-713f-41c4-9677-b4fefb9a90ea","name":"conteudo_insta"},{"parameters":{"promptType":"define","text":"=Gere um artigo para blog com base na seguinte notícia: {{ $('loop').item.json.link }}.\n\n📌 Regras de Formatação:\n- O conteúdo deve ser retornado apenas em HTML puro, sem JSON, sem caracteres de escape (`\\n`, `\\`, `\\t`) e sem blocos de código (```html```).\n- Não inclua título no começo, a matéria já receberá um título separado.\n- Não inclua variáveis extras como `{}`, JSON ou metadados, apenas o corpo do artigo.\n- O HTML deve ser contínuo e limpo, sem quebras de linha extras ou espaços desnecessários.\n- Todo o conteúdo deve estar dentro de tags HTML estruturadas corretamente.\n\n📢 Saída esperada (somente HTML puro, sem ` ```html `):\n\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[560,480],"id":"4c8e2fdb-6fce-4f7c-bf8b-6a342915d416","name":"conteudo_blogger"},{"parameters":{"content":"## Post Blogspot  | Instagram\n","height":860,"width":1500},"type":"n8n-nodes-base.stickyNote","position":[-80,-20],"typeVersion":1,"id":"dedf6c9a-4c9d-4d24-817c-208a1276a35d","name":"Sticky Note"},{"parameters":{"content":"## Escolha do Conteúdo\n","height":500,"width":1060,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1720,160],"typeVersion":1,"id":"967e5885-ed8a-4884-9947-393b6716469d","name":"Sticky Note1"},{"parameters":{"content":"## Título do conteúdo \n","height":500,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-640,160],"typeVersion":1,"id":"34bea651-e407-4d57-80b2-226a1c7f55cf","name":"Sticky Note2"},{"parameters":{"content":"## Gerar  Imagem\n","height":500,"width":150,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-260,160],"typeVersion":1,"id":"2951f64c-29e8-46ce-aebd-b199072b71e9","name":"Sticky Note3"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1940,240],"id":"bf1b26cf-f841-4e18-b6e3-d89610327080","name":"When clicking "},{"parameters":{"assignments":{"assignments":[{"id":"04680fc2-e31b-4c9c-87ef-e1cf8f8bcdc0","name":"access_token","value":"=EAAGQPlmcplcBO81kaVr4PeEcfJ3Blf6B5ZC4evb3vbXuGGVPFLbmjP2x4oqVGXxvSyNHmFm3eRpwEHXwmLcpFDMqpwMqcXUEqoIgqY9E3Tfp2CRZBFZB91lgXWyZBaUpgJwvhxPEa3p4ol0mw0qPlPllfuVJVeNoINxvqSCL5gPzg2GcGsAduk5HrtyZAaGmSZAmKDWnFn","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[940,40],"id":"b2a76fbf-8a0f-4ceb-9bda-8118f93c6fa7","name":"Token"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v22.0/17841470830812911/media","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{$('Edita Link').item.json.image_url}}"},{"name":"caption","value":"={{$('conteudo_insta').item.json.output}}"},{"name":"access_token","value":"={{$json.access_token}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,40],"id":"4ec015e4-f04f-4d9a-bab4-f8c4520f8c86","name":"upload da imagem"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v22.0/17841470830812911/media_publish","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"creation_id\": \"{{ $json.id }}\",\n  \"access_token\": \"{{ $('Token').item.json.access_token }}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,260],"id":"57c250d0-1ea2-4026-96c3-26a75c11f1bd","name":"Postagem no Instagram"},{"parameters":{"assignments":{"assignments":[{"id":"fade4bc0-8978-4ea5-a5c6-075a6b78c8ae","name":"image_url","value":"= https://lh3.googleusercontent.com/d/{{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,180],"id":"fa08dbe4-71fb-4dd0-b1a5-d05dfc1a1b88","name":"Edita Link"},{"parameters":{"assignments":{"assignments":[{"id":"703c8ec4-e35a-4647-ab23-5c7f2acef75e","name":"image_url","value":"={{ \"https://drive.google.com/uc?id=\" + $json.id }}\n","type":"string"},{"id":"fade4bc0-8978-4ea5-a5c6-075a6b78c8ae","name":"image_url1","value":"= https://lh3.googleusercontent.com/d/{{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,480],"id":"06fc1372-dd49-4bf5-8f7f-71e9d578306f","name":"Edit Link"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title></title>\n</head>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; margin: 0; padding: 20px; background-color: #f9f9f9;\">\n\n    <!-- Imagem -->\n    <div style=\"text-align: center; margin-bottom: 20px;\">\n        <img src=\"{{ $('Edit Link').item.json.image_url1 }}\" alt=\"Imagem do artigo\" style=\"max-width: 100%; border-radius: 10px;\">\n    </div>\n\n    <!-- Conteúdo do artigo -->\n    <div style=\"max-width: 800px; margin: 0 auto;\">\n      {{ $json.content }}  \n    </div>\n\n    <!-- Rodapé com redes sociais -->\n    <div style=\"display: flex; gap: 15px; justify-content: center; margin-top: 30px; padding: 20px 0; border-top: 1px solid #eee;\">\n        <a href=\"https://wa.me/+5585991904540?text=Ol%C3%A1.\" target=\"_blank\">\n            <img src=\"https://cdn-icons-png.flaticon.com/512/124/124034.png\" alt=\"WhatsApp\" style=\"width: 32px;\">\n        </a>\n        <a href=\"https://www.tiktok.com/@iahoje\" target=\"_blank\">\n            <img src=\"https://cdn-icons-png.flaticon.com/512/3046/3046124.png\" alt=\"TikTok\" style=\"width: 32px;\">\n        </a>\n        <a href=\"https://www.instagram.com/iahoje/\" target=\"_blank\">\n            <img src=\"https://cdn-icons-png.flaticon.com/512/1409/1409946.png\" alt=\"Instagram\" style=\"width: 32px;\">\n        </a>\n        <a href=\"https://www.youtube.com/@IAhoje\" target=\"_blank\">\n            <img src=\"https://cdn-icons-png.flaticon.com/512/1384/1384060.png\" alt=\"YouTube\" style=\"width: 32px;\">\n        </a>\n        <a href=\"https://x.com/IAhojeOficial\" target=\"_blank\">\n            <img src=\"https://cdn-icons-png.flaticon.com/512/733/733579.png\" alt=\"Twitter\" style=\"width: 32px;\">\n        </a>\n    </div>\n\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1040,420],"id":"c3d320dd-073c-4d7f-b08a-b7a130ab6a64","name":"Template"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/blogger/v3/blogs/7902030646223953690/posts/","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $('Template').item.json.html }}"},{"name":"title","value":"={{ $('gerador_de_titulo').item.json.output }}"}]},"options":{}},"id":"953f8d50-efbb-4020-9315-60d96cd31525","name":"Postagem Blogger","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,640],"credentials":{"oAuth2Api":{"id":"rFHucQrn3ve55Lit","name":"Auth_Bogger"}}},{"parameters":{"content":"## Início \n","height":500,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-1960,120],"typeVersion":1,"id":"7de93a70-4de8-472d-af75-955efdb0548d","name":"Sticky Note5"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"'12-U3GvWtRW-OA2EdvomInBOIni2grDNG' in parents and mimeType = 'image/png' and trashed = false","limit":1,"filter":{},"options":{}},"id":"83afd2c9-cb4d-471b-ae87-6586482bdb62","name":"Google Drive Search","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1660,500],"alwaysOutputData":false,"credentials":{"googleDriveOAuth2Api":{"id":"XeYmsT7omHGioE1V","name":"Google Drive IAHOJE"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1440,500],"id":"2843f1c0-55bb-4c99-b1c2-6401b26da4a2","name":"Remove","credentials":{"googleDriveOAuth2Api":{"id":"XeYmsT7omHGioE1V","name":"Google Drive IAHOJE"}}}],"connections":{"If":{"main":[[{"node":"gerador_de_titulo","type":"main","index":0}],[{"node":"rss_read","type":"main","index":0}]]},"rss_read":{"main":[[{"node":"loop","type":"main","index":0}]]},"loop":{"main":[[],[{"node":"agente_classificador","type":"main","index":0}]]},"agente_classificador":{"main":[[{"node":"If","type":"main","index":0}]]},"gerador_de_titulo":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"ajusta_texto":{"main":[[{"node":"Template","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"rss_read","type":"main","index":0},{"node":"Google Drive Search","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"agente_classificador","type":"ai_languageModel","index":0}]]},"Gemini1":{"ai_languageModel":[[{"node":"conteudo_blogger","type":"ai_languageModel","index":0}]]},"Gemini2":{"ai_languageModel":[[{"node":"conteudo_insta","type":"ai_languageModel","index":0}]]},"OpenAI":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Edit Link","type":"main","index":0},{"node":"Edita Link","type":"main","index":0}]]},"conteudo_insta":{"main":[[{"node":"Token","type":"main","index":0}]]},"conteudo_blogger":{"main":[[{"node":"ajusta_texto","type":"main","index":0}]]},"When clicking ":{"main":[[{"node":"rss_read","type":"main","index":0}]]},"Token":{"main":[[{"node":"upload da imagem","type":"main","index":0}]]},"upload da imagem":{"main":[[{"node":"Postagem no Instagram","type":"main","index":0}]]},"Edita Link":{"main":[[{"node":"conteudo_insta","type":"main","index":0}]]},"Edit Link":{"main":[[{"node":"conteudo_blogger","type":"main","index":0}]]},"Template":{"main":[[{"node":"Postagem Blogger","type":"main","index":0}]]},"Gemini":{"ai_languageModel":[[{"node":"gerador_de_titulo","type":"ai_languageModel","index":0}]]},"Google Drive Search":{"main":[[{"node":"Remove","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"dPFLNgq4byLSs2pu"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ":[{"json":{}}]},"versionId":"09214646-3c3b-494a-9c58-3af634326322","triggerCount":1,"tags":[{"createdAt":"2025-03-15T18:38:13.111Z","updatedAt":"2025-03-15T18:39:52.763Z","id":"jO5amico9hxYWXuY","name":"RONNY"}]}