salvar-lead-1p7zX2oLuKzY67M3.json
{"createdAt":"2025-03-27T01:49:55.912Z","updatedAt":"2025-03-27T17:19:30.000Z","id":"1p7zX2oLuKzY67M3","name":"SALVAR LEAD","active":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('DADOS WEBHOOK').item.json.lead.mensagem.texto }}","options":{"systemMessage":"=Data e hora atual: {{ $now.setLocale(\"pt-BR\").format(\"DDDD - 'São' HH 'horas e' MM 'minutos'\") }}\n\n<persona>\nVocê se chama Gabi e é uma atendente de suporte ao cliente da empresa Película ProTech, uma empresa que trabalha criando e vendendo películas automotivas. Seu objetivo é responder todas as dúvidas dos clientes a respeito da nossa empresa.\n\n<roteiro>\nVocê será educada, escreverá como uma profissional, porém irá evitar qualquer tipo de jargão, palavras dificeis, textos muito longos e de dificil entendimento. Precisa ser a mais prática possível, levando os clientes a uma experiência incrível de esclarecimento das suas dúvidas.\n\n<objetivo>\nResponder todas as dúvidas dentro da tag <faq></faq> da melhor forma possível. \n\n<faq>\nSobre a Empresa\nNome: Película ProTech Descrição: A Película ProTech é especialista na fabricação e venda de películas automotivas de alta qualidade. Oferecemos uma linha completa de películas de proteção solar, antivandalismo e estéticas para atender todas as necessidades do seu veículo.\nEndereços das Fábricas\nSão Paulo - SP\n Av. das Películas, 1000 - Bairro Industrial, São Paulo - SP, 01000-000\nRio de Janeiro - RJ\n Rua dos Vidros, 500 - Centro, Rio de Janeiro - RJ, 20000-000\nBelo Horizonte - MG\n Av. Automotiva, 250 - Distrito Industrial, Belo Horizonte - MG, 30000-000\nCuritiba - PR\n Rua Proteção Solar, 700 - Cidade Industrial, Curitiba - PR, 80000-000\nFortaleza - CE\n Av. Segurança Automotiva, 900 - Bairro Comercial, Fortaleza - CE, 60000-000\n\nPerguntas Frequentes (FAQ)\n1. Quais tipos de películas vocês vendem?\nVendemos os seguintes tipos de películas automotivas:\nPelícula Premium Solar: Proteção UV e redução de calor (R$ 250,00)\nPelícula Antivandalismo: Resistente a impactos e estilhaçamento (R$ 400,00)\nPelícula Nano Cerâmica: Alta tecnologia com máxima transparência e proteção térmica (R$ 600,00)\nPelícula Blackout: Bloqueia totalmente a luz externa para vidros traseiros (R$ 350,00)\nPelícula Espelhada: Estética diferenciada e proteção solar (R$ 300,00)\n2. Quais são as formas de pagamento aceitas?\nAceitamos os seguintes meios de pagamento:\nPix\nCartões de crédito e débito (Visa, Mastercard, Elo, Amex)\nBoleto bancário\nTransferência bancária\nParcelamento em até 6x sem juros no cartão\n3. Vocês oferecem instalação?\nSim! Temos uma rede de parceiros credenciados em diversas cidades que realizam a instalação profissional das películas.\nAlém disso, também instalamos nas fábricas com o adicional de R$ 100,00\n4. Como funciona o envio dos produtos?\nTrabalhamos com os seguintes métodos de envio:\nCorreios (PAC e Sedex) – prazos variam de 3 a 10 dias úteis\nTransportadoras parceiras – entrega expressa em até 5 dias úteis\nRetirada em uma de nossas unidades – disponível no mesmo dia para compras confirmadas até às 12h\n5. Qual o prazo de entrega?\nO prazo varia conforme a localidade e método de envio:\nCapitais e regiões metropolitanas: de 3 a 5 dias úteis\nInterior e regiões mais afastadas: de 5 a 10 dias úteis\n6. Como rastrear meu pedido?\nApós o envio, você receberá um código de rastreamento por e-mail e WhatsApp para acompanhar a entrega.\n7. Vocês oferecem garantia?\nSim! Todas as nossas películas possuem garantia de 5 anos contra desbotamento, bolhas e defeitos de fabricação.\n8. Qual o horário de atendimento presencial?\nNossas unidades funcionam de segunda a sexta-feira, das 08h às 18h, e aos sábados, das 08h às 13h.\n9. Como entro em contato com o suporte?\nWhatsApp: (11) 99999-0000\nE-mail: suporte@peliculaprotech.com.br\nTelefone: 0800 123 4567\n\nCaso tenha mais dúvidas, entre em contato conosco! Estamos prontos para ajudar.\n</faq>\n\n<regras>\nNunca responda nada que não esteja dentro da tag <faq></faq>\nComprimente de acordo com o horário do dia, exemplo: bom dia, boa tarde ou boa noite.\nSe apresente apenas uma vez na conversa, não precisa ficar dando bom dia em todas as mensagens. "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1860,480],"id":"b36158ee-9708-450d-871d-2a87d92d74a8","name":"AI Agent"},{"parameters":{"httpMethod":"POST","path":"protech","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[60,100],"id":"b4284a6a-eb9f-46de-96e9-48c7ed2bf2af","name":"Webhook","webhookId":"8f27a43e-8269-4ce6-a133-779d244efee1"},{"parameters":{"resource":"messages-api","instanceName":"ronielleronielle","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2240,480],"id":"5131224f-a94e-4bff-8052-e4f22970f88c","name":"Evolution API","credentials":{"evolutionApi":{"id":"lEyiP5oL9S1kZ8R7","name":"Evolution Contabo"}}},{"parameters":{"assignments":{"assignments":[{"id":"2bccd25a-0930-49f6-924d-bece9e366b80","name":"body.instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"a5a0d0c6-86d1-4d4a-8f8d-d080ff6008b4","name":"body.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"9326345a-56a8-4159-9380-f6d738060f1c","name":"body.server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"db10929d-88b9-44f3-be69-707affd93bf3","name":"lead.numero","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"3ea800ef-0084-4d99-a478-a69e2f1c9cf0","name":"lead.fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"},{"id":"2160f2f6-9f9a-4438-a2a7-39d4a99bfa10","name":"lead.pushName","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"0b008a0b-d6d9-439c-9c61-d16ac560b8d1","name":"lead.mensagem.texto","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"6716cbd0-b9d1-4916-8376-437b427f9b51","name":"lead.mensagem_tipo","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"c59e748b-94f9-44ca-8fcd-be76d747cea0","name":"lead.mensagem.media","value":"={{ $json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[260,100],"id":"cf5515b2-5cc6-457b-a951-bccea4fbf16f","name":"DADOS WEBHOOK"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6663a7d4-fecc-444e-8f2a-0d1eed928b33","leftValue":"={{ $json.lead.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[700,500],"id":"b5a9e438-86a7-4047-ab7c-cf3c8fb8600e","name":"Filter"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c495845-719e-4b21-a4ee-48b8aa4886d2","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"b0aa1969-1055-4168-bdc0-f590580b84d3"}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[920,500],"id":"c3d94ab0-4d9d-4898-a336-7c0aea8f8ea2","name":"Tipo de mensagem"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1400,580],"id":"37b6b6bb-8334-4bc3-a648-eeb3030917be","name":"OpenAI","credentials":{"openAiApi":{"id":"V3SIs1GbnDJ4HJfO","name":"OpenAi"}}},{"parameters":{"operation":"toBinary","sourceProperty":"lead.mensagem.media","options":{"fileName":"file.mp4"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1160,580],"id":"7458dbb7-d345-4c56-8483-9390a21e4244","name":"Convert to File"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1160,400],"id":"9e3d6b92-8eb4-41cc-ad13-83e3560716cc","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1380,400],"id":"334480ca-e978-4af2-8815-9430db05cf6b","name":"No Operation, do nothing1"},{"parameters":{"assignments":{"assignments":[{"id":"c8db432b-064c-4141-bd86-306caa12eeba","name":"content","value":"={{ $json.content || $json.text ||  $json.lead.mensagem.texto }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,480],"id":"2a95487f-37d4-49c0-bb2c-02d2d8159b09","name":"Edit Fields"},{"parameters":{"documentId":{"__rl":true,"value":"1nzrOv_h_Deim-bILI7TlHpdhCbGMTpoSvFb5QqodMRQ","mode":"list","cachedResultName":"Teste","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nzrOv_h_Deim-bILI7TlHpdhCbGMTpoSvFb5QqodMRQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nzrOv_h_Deim-bILI7TlHpdhCbGMTpoSvFb5QqodMRQ/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[460,100],"id":"30223b98-fb4e-44fd-a5a5-37889f40ee6b","name":"Google Sheets1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"KDLloxZCu4SmjhtH","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0a511e8a-9b8d-4bf1-bb41-a6d05c583583","leftValue":"={{ $json['Número do Lead'] }}","rightValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[640,100],"id":"880c1c21-1b21-4f83-ad46-6ece4918cddf","name":"If"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1nzrOv_h_Deim-bILI7TlHpdhCbGMTpoSvFb5QqodMRQ","mode":"list","cachedResultName":"Teste","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nzrOv_h_Deim-bILI7TlHpdhCbGMTpoSvFb5QqodMRQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nzrOv_h_Deim-bILI7TlHpdhCbGMTpoSvFb5QqodMRQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Número do Lead":"={{ $('DADOS WEBHOOK').item.json.lead.numero }}","Nome do Lead":"={{ $('DADOS WEBHOOK').item.json.lead.pushName }}"},"matchingColumns":[],"schema":[{"id":"Número do Lead","displayName":"Número do Lead","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Lead","displayName":"Nome do Lead","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[480,500],"id":"55fc60ee-a18c-47ee-a81e-aaf4030620b4","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"KDLloxZCu4SmjhtH","name":"Google Sheets account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('DADOS WEBHOOK').item.json.lead.numero }}"},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.4,"position":[2040,680],"id":"f4d5ba06-69a2-4c8b-a527-13043a22e923","name":"Redis Chat Memory","credentials":{"redis":{"id":"0bFvtbsVkTSFKWIy","name":"Redis"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1820,680],"id":"9b4d7d17-c23f-49d6-995f-992ddfef27b1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"V3SIs1GbnDJ4HJfO","name":"OpenAi"}}}],"connections":{"Webhook":{"main":[[{"node":"DADOS WEBHOOK","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"DADOS WEBHOOK":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Tipo de mensagem","type":"main","index":0}]]},"Tipo de mensagem":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Filter","type":"main","index":0}],[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.ronnysenna.com.br","user-agent":"axios/1.7.9","content-length":"1025","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.ronnysenna.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6de3c9edb341","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"ronielle","data":{"key":{"remoteJid":"558592525311@s.whatsapp.net","fromMe":false,"id":"CD0BC9E9BDFF9FC4F569E07F2EC06503"},"pushName":"Ronny Senna","status":"DELIVERY_ACK","message":{"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"JJsmufMAdzH6iQ==","senderTimestamp":"1742659537","recipientKeyHash":"99Df7tvh5lwiPw==","recipientTimestamp":"1742836452"},"deviceListMetadataVersion":2,"messageSecret":"I0Thtz68cGiH9AlRHm0wKzO5nhrG6dDftFbeX0QM9dQ="},"conversation":"Ola"},"contextInfo":{"entryPointConversionSource":"global_search_new_chat","entryPointConversionApp":"whatsapp","entryPointConversionDelaySeconds":2},"messageType":"conversation","messageTimestamp":1743040416,"instanceId":"6b1760d1-db1b-44f8-8702-b7d81d78b17d","source":"android"},"destination":"https://n8n.ronnysenna.com.br/webhook-test/protech","date_time":"2025-03-26T22:53:36.921Z","sender":"558591904540@s.whatsapp.net","server_url":"http://localhost:8080","apikey":"177D05DF4B45-4C59-9DEA-29C3DAD27E94"},"webhookUrl":"https://n8n.ronnysenna.com.br/webhook-test/protech","executionMode":"test"}}]},"versionId":"6465d907-4578-444e-9d3b-0128c05091cf","triggerCount":1,"tags":[{"createdAt":"2025-03-15T18:38:28.214Z","updatedAt":"2025-03-15T18:39:43.268Z","id":"i5cUpKKh0IeX9GoB","name":"IDEAL"}]}