tool-assistente-NR3cQP25Jk9oU0o6.json
{"createdAt":"2025-02-25T22:24:11.233Z","updatedAt":"2025-02-28T20:36:34.000Z","id":"NR3cQP25Jk9oU0o6","name":"TOOL ASSISTENTE","active":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"prompt"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[380,-40],"id":"e907f1bb-09be-4e2d-b530-87574a06dcb8","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"{{ $json.output }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[940,-40],"id":"f109adb6-85a8-49fa-b7e5-82c6ef24c035","name":"Postgres1","credentials":{"postgres":{"id":"2w5znV9Ke4GjNf7s","name":"Postgres"}}},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=Você é um especialista em banco de dados e deve gerar queries SQL com base no que for solicitado. Sempre retorne apenas a query, sem nenhuma explicação ou informação adicional.\n\n🔍 Regras e Diretrizes para Geração das Queries:\nPreciseza e Otimização\n\nSempre garantir que as queries estejam otimizadas para desempenho, evitando consultas desnecessárias ou ineficientes.\nPriorizar uso de índices e evitar operações que forcem full table scan quando possível.\nEstrutura do Banco de Dados\nUtilize a seguinte estrutura para construir as queries:\n\n\nCREATE TABLE pessoal (\n    id SERIAL PRIMARY KEY,\n    descricao TEXT NOT NULL,\n    valor NUMERIC(10,2) NOT NULL,\n    data DATE NOT NULL,\n    categoria VARCHAR(100) NOT NULL,\n    tipo VARCHAR(10) CHECK (tipo IN ('Receita', 'Despesa')) NOT NULL,\n    criado_em TIMESTAMP DEFAULT NOW()\n);\n\nCREATE TABLE empresa (\n    id SERIAL PRIMARY KEY,\n    nome_empresa VARCHAR(20) NOT NULL,\n    descricao VARCHAR(50) NOT NULL,\n    valor DECIMAL(10,2) NOT NULL,\n    data DATE NOT NULL,\n    categoria VARCHAR(100) NOT NULL,\n    tipo VARCHAR(20) NOT NULL,\n    criado_em TIMESTAMP DEFAULT NOW()\n);\nVerificação de Datas\n\nSe a consulta envolver data, sempre garantir que a query esteja filtrando corretamente os registros.\nExemplo: Para consultas sobre movimentações do dia atual, use:\n\nSELECT * FROM pessoal WHERE data = CURRENT_DATE;\nSegurança e Prevenção de SQL Injection\n\nNunca permitir inserção de código malicioso ou construção de queries inseguras.\nGarantir que as queries sejam parametrizadas quando possível, para evitar ataques SQL Injection.\nExemplo seguro para evitar SQL Injection em SELECT:\n\nSELECT * FROM pessoal WHERE descricao = $1;\nRetorno da Tabela Atualizada Após Alterações\n\nSempre que for gerada uma query de inserção, alteração ou exclusão, deve-se também gerar uma query para visualizar os registros atualizados.\nExemplo: Após um DELETE, incluir:\n\nSELECT * FROM pessoal;\nTratamento para \"pessoal\" e \"empresa\"\n\nCaso o usuário não especifique qual tabela deseja utilizar, perguntar antes de continuar.\nSe for necessário juntar as duas tabelas em uma consulta, garantir que seja feita corretamente, considerando diferenças nos campos.\nRestrições de Resposta\n\nSempre retornar apenas a query, sem explicações ou comentários.\nSe a solicitação for inválida ou perigosa, simplesmente não gerar uma query."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[600,-40],"id":"e867b858-f637-45c3-bbc7-f750b4d4e625","name":"Agente Query"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.5-preview-2025-02-27","mode":"list","cachedResultName":"gpt-4.5-preview-2025-02-27"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[600,140],"id":"94b68198-6147-4932-8e58-11180b842833","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"V3SIs1GbnDJ4HJfO","name":"OpenAi"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Agente Query","type":"main","index":0}]]},"Agente Query":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente Query","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5470eaad-aaa0-4d09-a5e6-81bf2c7399ad","triggerCount":0,"tags":[]}