transcrição-ARZYLYKVLMQDajkk.json
{"createdAt":"2025-03-11T03:00:14.759Z","updatedAt":"2025-03-27T21:22:16.000Z","id":"ARZYLYKVLMQDajkk","name":"TRANSCRIÇÃO","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"transcr","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-520,190.5],"id":"6fcef810-818b-4ffa-8d29-3d39759aaf2a","name":"Webhook","webhookId":"238124ac-f0f4-430c-86d6-6fcb06f94b9c"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"normalizacao\"].json[\"message\"][\"content_type\"] }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a1dfeee8-7927-4419-b091-e5b1930c011e","leftValue":"={{ $item(\"0\").$node[\"normalizacao\"].json[\"message\"][\"content_type\"] }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7431ffc4-1ee4-4556-8053-d8b2480450b8","leftValue":"={{ $item(\"0\").$node[\"normalizacao\"].json[\"message\"][\"content_type\"] }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Outros"}},"id":"51baf136-c780-48c0-80e3-64ade66823cc","name":"Switch Content Type","type":"n8n-nodes-base.switch","typeVersion":3,"position":[140,280]},{"parameters":{"assignments":{"assignments":[{"id":"8f16b1bf-1a3e-4029-8d7a-1bccb919ee43","name":"message.message_id","value":"={{ $('Webhook').item.json.body.data.key.id || '' }}","type":"string"},{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"message.chat_id","value":"={{ $('Webhook').item.json.body.data.key.remoteJid || '' }}","type":"string"},{"id":"c33f9527-e661-49e5-8e5e-64f3b430928a","name":"message.content_type","value":"={{ $('Webhook').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('Webhook').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('Webhook').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('Webhook').item.json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"message.content","value":"={{ $('Webhook').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('Webhook').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('Webhook').item.json.body.data.message.conversation || '' }}","type":"string"},{"id":"b97f1af3-5361-46fc-9303-d644921231d8","name":"message.timestamp","value":"={{ $('Webhook').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"dc3dc59c-90a3-4a45-bea2-de092c91083b","name":"message.content_url","value":"={{ $('Webhook').item.json.body.data.message.audioMessage?.url || '' }}{{ $('Webhook').item.json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"8b01a818-a456-476e-bace-adefe2f04eb4","name":"message.event","value":"={{ $('Webhook').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"}]},"options":{}},"id":"9347bb57-08e3-4c0e-bfa4-fd041c880451","name":"normalizacao","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-300,190.5]},{"parameters":{"method":"POST","url":"=https://evolution.ronnysenna.com.br/chat/getBase64FromMediaMessage/ronielle","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"@Ideal2015net"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message.key.id","value":"={{ $item(\"0\").$node[\"Switch Content Type\"].json[\"message\"][\"message_id\"] }}"},{"name":"convertToMp4","value":"={{ Boolean(false) }}"}]},"options":{}},"id":"27fa1100-4918-4f8b-bede-4c88c501a62e","name":"Get audio base64 EvolutionAPI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[360,201]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"video/mp4"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[580,201],"id":"1c151bc3-de4e-4fc3-9cbc-07710480957a","name":"Convert to File"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"groqApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer xai-BBrd1cav53gxmB7gqWjtuJTxr3ujAKtOHry5Kc4VTFVJaDHAHVj1U3Ix3NKZokDBWVZuQhhPA8QaGuNX"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3"},{"name":"response_format","value":"verbose_json"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,201],"id":"97e6c3ca-275d-453a-8977-43e87c4d7af5","name":"whisper v3 groq","credentials":{"groqApi":{"id":"51de9q54fj0O8NeI","name":"Groq account"}}},{"parameters":{"method":"POST","url":"=https://evolution.ronnysenna.com.br/message/sendText/ronielle","authentication":"predefinedCredentialType","nodeCredentialType":"evolutionApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"@Ideal2015net"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"number\": \"{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}\",\n    \"text\": \"🎙 *Seu áudio foi transcrito com sucesso pela nossa IA!* 🤖✨\\n\\n📜 *Mensagem Transcrita:* 👇\\n{{ $item(\"0\").$node[\"whisper v3 groq\"].json[\"text\"] }}\\n\\n⌛ (Em breve lhe respondo!)\\n\\n🚀 *Automação Inteligente para Seu Negócio!* \\nJá imaginou agilizar seu atendimento e aumentar sua produtividade com inteligência artificial? 🔥\\n\\n💡 Descubra como nossas automações de Agentes IA podem transformar seu atendimento e otimizar seu tempo! \\n\\n🔗 *Fale conosco e implemente agora mesmo!*\",\n    \"delay\": 4000\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1240,201],"id":"a23eb74a-e899-4ca5-b74d-52bcdce7b202","name":"HTTP Request","credentials":{"evolutionApi":{"id":"6hhDlpN1bNjkZosp","name":"Evolution"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ead60271-2ef1-418c-b901-40e2a3ccea59","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"fromMe\"] }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,190.5],"id":"59ac1e62-8d07-497d-ab40-cdd232dc471d","name":"If"},{"parameters":{"amount":7},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1020,201],"id":"26ca4878-7125-4059-87b8-4ccc86473f96","name":"Wait","webhookId":"4f671aad-eefd-487c-a0a0-af8825ca08b7"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[140,80],"id":"2a22d5f6-ccae-4443-9d46-1bb2fe66b0ff","name":"No Operation"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[360,401],"id":"64d7fe96-0bb0-44cb-9a14-78256326171a","name":"No Operation1"}],"connections":{"Webhook":{"main":[[{"node":"normalizacao","type":"main","index":0}]]},"Switch Content Type":{"main":[[{"node":"Get audio base64 EvolutionAPI","type":"main","index":0}],[{"node":"No Operation1","type":"main","index":0}],[{"node":"No Operation1","type":"main","index":0}],[{"node":"No Operation1","type":"main","index":0}]]},"normalizacao":{"main":[[{"node":"If","type":"main","index":0}]]},"Get audio base64 EvolutionAPI":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"whisper v3 groq","type":"main","index":0}]]},"whisper v3 groq":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If":{"main":[[{"node":"No Operation","type":"main","index":0}],[{"node":"Switch Content Type","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4ccc755d-b47f-4627-a30f-237c9caed8a5","triggerCount":1,"tags":[{"createdAt":"2025-03-15T18:38:13.111Z","updatedAt":"2025-03-15T18:39:52.763Z","id":"jO5amico9hxYWXuY","name":"RONNY"}]}